Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

Add support for ckbwiktionary
  pywikibot/families/wiktionary_family.py
Due: framework

[tests] Expect TestFactoryGenerator.test_recentchanges_default failing
  tests/pagegenerators_tests.py
Due: tests

[tests] Skip TimeStripper doctest until T333414 is solved
  pywikibot/textlib.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[8.0.3] Add support for ckbwiktionary to stable
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/textlib.py
  tests/pagegenerators_tests.py
Due: framework, tests

[doc] Update HISTORY.rst and increase version to 8.1.0.dev2
  HISTORY.rst
  pywikibot/__metadata__.py
Due: framework

[IMPR] Remove -nodist option for make_dist.py
  make_dist.py
  tests/make_dist_tests.py
Due: tests

[IMPR] us f-strings in archivebot.py
  scripts/archivebot.py
Due: scripts

move flake8 color option from config file to command line
  tox.ini
Due: none

Revert "[tests] Expect TestFactoryGenerator.test_recentchanges_default failing"
  tests/pagegenerators_tests.py
Due: tests

[flake8] Add format line for flake8 color which we hat for flake8-color
  tox.ini
Due: none

[IMPR] Avoid too many return statements in _apisite.py
  pywikibot/site/_apisite.py
Due: framework

[IMPR] Speedup archivebot.py
  scripts/archivebot.py
Due: scripts

[test] stdnum 1.18+ is required, force it for tests
  tests/cosmetic_changes_tests.py
Due: tests

[bugfix] newpages should not fail for hidden comments
  pywikibot/site/_generators.py
Due: framework

[bugfix] Fix -namespace usage if RedirectGenerator is used
  scripts/redirect.py
Due: scripts

[i18n] Enable preleading Bot: prefix with twtranslate messages
  pywikibot/config.py
  pywikibot/i18n.py
  pywikibot/scripts/i18n/pywikibot/en.json
Due: framework

[IMPR] Use bot prefix with redirect.py
  scripts/redirect.py
Due: scripts

[tests] Update codeclimate settings
  .codeclimate.yml
Due: none

[tests] Fix codeclimate settings
  .codeclimate.yml
Due: none

[tests] Revert codeclimate changes
  .codeclimate.yml
Due: none

[tests] Exclude some files
  .codeclimate.yml
Due: none

[IMPR] Move fix_1_double_redirect exception handling to a separate method
  scripts/redirect.py
Due: scripts

[doc] Run Sphinx 6 for creating documentation
  tox.ini
Due: none

[doc] Enable gui module to be documented
  pywikibot/userinterfaces/gui.py
Due: framework

[doc] Add PNG logo for OpenGraph
  docs/_static/Pywikibot_MW_gear_icon.png
  docs/conf.py
Due: none
