Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[bugfix] Fix url2string parsing for multiple encodings
  pywikibot/tools/chars.py
Due: framework

Add support for kbdwiktionary
  ROADMAP.rst
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Add support for guwwikinews
  ROADMAP.rst
  pywikibot/families/wikinews_family.py
Due: framework

fix example docstring of url2string
  pywikibot/tools/chars.py
Due: framework

Update languages_by_site
  pywikibot/families/wikipedia_family.py
Due: framework

[doc] update ROADMAP.rst
  ROADMAP.rst
Due: none

[8.2.0d2] Update to r8.2.0d2
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/tools/__init__.py
Due: framework

[cleanup] remove unused error parameter in utils.execute
  tests/aspects.py
  tests/script_tests.py
  tests/utils.py
Due: tests

[doc] Add TestPwb comment to TestPwb doc string
  tests/pwb_tests.py
Due: tests

[doc] Point to the staple documetation within README.rst
  README.rst
Due: none

[fix] Fix make.bat file to show duration time
  docs/make.bat
Due: none

[tests] Priorize test on test-wiki which needs a lot of time
  .github/workflows/pywikibot-ci.yml
Due: none

[IMPR] Revise Family class
  pywikibot/families/wikihow_family.py
  pywikibot/families/wowwiki_family.py
  pywikibot/family.py
  tests/family_tests.py
Due: framework, tests

[tests] Add subtests to TestUserContribsWithoutUser.test_user_prefix
  tests/site_generators_tests.py
Due: tests

[i18n] add i18n support for replicate_wiki.py
  pywikibot/i18n.py
  scripts/replicate_wiki.py
Due: framework, scripts

Update closed_wikis: cnwikimedia closed
  pywikibot/families/wikimediachapter_family.py
Due: framework

[L10N] Update family files
  pywikibot/families/vikidia_family.py
  pywikibot/families/wikimediachapter_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Fix introduction content
  docs/introduction.rst
Due: none

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[IMPR] enable KeyboardInterrupt with -async option
  scripts/archivebot.py
Due: scripts

[doc] Fix spelling mistake
  tests/djvu_tests.py
Due: tests

[doc] Update documentation
  scripts/README.rst
Due: scripts

[tests] Ignore disabled_tests from coverage
  tests/__init__.py
Due: tests

[tests] Split LiveFakeUserAgentTestCase
  tests/http_tests.py
Due: tests

[tests] Skip HttpbinTestCase tests when a ServerError occurs
  tests/aspects.py
  tests/http_tests.py
Due: tests

[tests] skip TestUserContribsWithoutUser.test_user_prefix on wowwiki
  tests/site_generators_tests.py
Due: tests

[tests] Remove experimental attribute for wowwiki tests
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Update coverage for tests
  tests/api_tests.py
  tests/eventstreams_tests.py
  tests/logentries_tests.py
  tests/page_tests.py
  tests/paraminfo_tests.py
  tests/proofreadpage_tests.py
  tests/site_generators_tests.py
  tests/site_login_logout_tests.py
  tests/time_tests.py
Due: tests

[tests] remove write-test from pywikibot-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Add write_tests action
  .github/workflows/write_tests-ci.yml
Due: none

[test] Fix test_allusers_with_group tests/site_generators_tests.py
  tests/site_generators_tests.py
Due: tests

[tests] update write tests
  .github/workflows/write_tests-ci.yml
Due: none

[tests] Fix for pytest attribute collector
  .github/workflows/write_tests-ci.yml
Due: none

[tests] Add nowcommons to allowed_failures in script_tests.py
  tests/script_tests.py
Due: tests
