Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[FIX] fix typo in explanation of options
  scripts/weblinkchecker.py
Due: scripts

[tests] skip PetScanPageGeneratorTestCase if APIError occurred
  tests/pagegenerators_tests.py
Due: tests

proofreadpage.py: fetch URL of page scan via API
  pywikibot/data/api/_generators.py
  pywikibot/page/_basepage.py
  pywikibot/proofreadpage.py
  pywikibot/site/_extensions.py
  tests/proofreadpage_tests.py
Due: framework, tests

sort imports and upgrade syntax
  MANIFEST.in
  pywikibot/__init__.py
  pywikibot/_wbtypes.py
  pywikibot/backports.py
  pywikibot/family.py
  pywikibot/scripts/preload_sites.py
  pywikibot/textlib.py
  pywikibot/tools/_deprecate.py
  pywikibot/tools/collections.py
  pywikibot/tools/itertools.py
  scripts/checkimages.py
  scripts/create_isbn_edition.py
  scripts/dataextend.py
  scripts/maintenance/unidata.py
  tests/file_tests.py
  tests/site_decorators_tests.py
  tests/sparql_tests.py
  tests/utils.py
Due: framework, tests, scripts

[doc] Fix typo in category_redirect.py
  scripts/category_redirect.py
Due: scripts

[IMPR] provide category_redirect categories for all WM sites
  scripts/category_redirect.py
Due: scripts

[IMPR]: lazy load imageinfo metadata
  pywikibot/__init__.py
  pywikibot/data/api/_generators.py
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
  tests/file_tests.py
  tests/site_generators_tests.py
Due: framework, tests

[8.6] Publish Pywikibot 8.6
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/page/_filepage.py
  pywikibot/proofreadpage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_extensions.py
Due: framework

[9.0] Prepare Pywikibot 9
  .appveyor.yml
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[tests] Disable Python 3.6 CI tests
  tox.ini
Due: none

[tests] re-enable hacking test with Python 3.7
  tox.ini
Due: none

[cleanup] Cleanup deprecated code
  ROADMAP.rst
  pywikibot/bot.py
  pywikibot/config.py
  pywikibot/throttle.py
Due: framework

update isort config for py37
  tox.ini
Due: none

[IMPR] Fix type hints in _filepage.py
  pywikibot/page/_filepage.py
Due: framework

[tests] py36 isn't used any longer for jenkins
  tox.ini
Due: none

[cleanup] remove deprecated code
  ROADMAP.rst
  pywikibot/__init__.py
  pywikibot/bot_choice.py
  pywikibot/page/__init__.py
  pywikibot/tools/formatter.py
  pywikibot/tools/itertools.py
Due: framework

[bugfix] Remove typing imports from user-config.py file
  pywikibot/scripts/generate_user_files.py
Due: framework

[doc] update documentation
  ROADMAP.rst
Due: none

[cleanup] deprecate SequenceOutputter.output() method
  ROADMAP.rst
  pywikibot/tools/formatter.py
  scripts/solve_disambiguation.py
Due: framework, scripts

[doc] Fix changelog
  ROADMAP.rst
Due: none

[IMPR] Add Namespace attributes during class creation
  pywikibot/site/_namespace.py
Due: framework

[FEAT] Add PagePile PageGenerator
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_generators.py
  tests/pagegenerators_tests.py
Due: framework, tests

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] Use enums for Namespaces instead of integers
  pywikibot/site/_namespace.py
Due: framework

[IMPR] Validate default parameter value in input_choice() function
  pywikibot/bot.py
  pywikibot/userinterfaces/terminal_interface_base.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_namespace.py
  scripts/CHANGELOG.rst
  tests/pagegenerators_tests.py
Due: framework, tests, scripts

[IMPR] Add APISite.ratelimit() method
  pywikibot/data/api/_requests.py
  pywikibot/site/_apisite.py
  pywikibot/tools/collections.py
  tests/site_tests.py
Due: framework, tests

[doc] Add scripts.changelog to Pywikibot
  docs/scripts/index.rst
  scripts/CHANGELOG.rst
  scripts/README.rst
Due: scripts

[doc] Use sphinx-notfound-page extension with sphinx
  docs/conf.py
  docs/requirements.txt
Due: none

[IMPR] improvements for CategoryRedirectBot
  scripts/category_redirect.py
Due: scripts

[IMPR] Add -category option with category_redirect.py
  scripts/category_redirect.py
Due: scripts

[bugfix] Suppress error in CosmeticChangesToolkit.cleanUpLinks()
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_requests.py
Due: framework

[cleanup] remove keys() and items() methods of api.Request
  ROADMAP.rst
  pywikibot/data/api/_requests.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
