Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

typing improvements for generators
  pywikibot/bot.py
  pywikibot/data/api/_generators.py
  pywikibot/page/__init__.py
  pywikibot/page/_basepage.py
  pywikibot/page/_category.py
  pywikibot/page/_links.py
  pywikibot/page/_user.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/site/_namespace.py
  scripts/harvest_template.py
  scripts/interwiki.py
  scripts/pagefromfile.py
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
Due: framework, tests, scripts

Fix casing of Mediawiki
  docs/api_ref/logentries.rst
  pywikibot/data/api/__init__.py
  pywikibot/logentries.py
  pywikibot/proofreadpage.py
  scripts/checkimages.py
  scripts/welcome.py
Due: framework, scripts

[cleanup] Drop pywikibot.BaseSite and pywikibotAPISite
  pywikibot/__init__.py
  pywikibot/page/_wikibase.py
  scripts/redirect.py
  scripts/speedy_delete.py
  tests/category_bot_tests.py
Due: framework, tests, scripts

[doc] Short description to install requirements
  README.rst
Due: none

[bugfix] Add hy to special languages in TimeStripper
  pywikibot/textlib.py
Due: framework

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[PEP8] rename transliteration.transliterator to Transliterator
  ROADMAP.rst
  pywikibot/userinterfaces/terminal_interface_base.py
  pywikibot/userinterfaces/transliteration.py
Due: framework

[doc] Add Family attribute hints to sphinx doc.
  ROADMAP.rst
  pywikibot/family.py
Due: framework

[doc] Notice deprecated old color format
  ROADMAP.rst
Due: none

[tests] test that https://wikimediafoundation.org/$1 is not a wiki
  tests/site_detect_tests.py
Due: tests

[cleanup] Make Family.languages_by_size dynamic
  .codecov.yml
  docs/scripts/maintenance.rst
  docs/scripts_ref/scripts.maintenance.rst
  pywikibot/data/wikistats.py
  pywikibot/families/vikidia_family.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikihow_family.py
  pywikibot/families/wikimania_family.py
  pywikibot/families/wikimediachapter_family.py
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/families/wowwiki_family.py
  pywikibot/family.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/scripts/preload_sites.py
  pywikibot/titletranslate.py
  scripts/README.rst
  scripts/interwiki.py
  scripts/maintenance/unidata.py
  scripts/maintenance/wikimedia_sites.py
  tests/family_tests.py
  tests/l10n_tests.py
Due: framework, tests, scripts

[doc] add documentation reference to api:Deletedrevisions
  docs/mwapi.rst
  pywikibot/page/_basepage.py
Due: framework

[doc] update copyright for _basepage
  pywikibot/page/_basepage.py
Due: framework

[bugfix] Fix fake-useragent dependency
  setup.py
Due: none

[dist] use pyproject.toml for distribution setup
  docs/conf.py
  docs/requirements.txt
  pyproject.toml
  pywikibot/__init__.py
  pywikibot/__metadata__.py
  setup.py
  tests/setup_tests.py
Due: framework, tests

[IMPR] raise TypeError in Site.randompages if redirects parameter is invalid
  pywikibot/site/_generators.py
Due: framework

[IMPR] simplify Siteinfo._get_siteinfo
  pywikibot/site/_siteinfo.py
Due: framework

[IMPR] Move InteractiveReplace from bot to bot_choice module
  pywikibot/bot.py
  pywikibot/bot_choice.py
  pywikibot/specialbots/_unlink.py
Due: framework

[fix] Remove doublicated import
  setup.py
Due: none

[tests] update github action releases
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[tests] use upload token with coverage
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[tests] Enable TestCosmeticChangesISBN tests
  tests/cosmetic_changes_tests.py
Due: tests

[IMPR] Print bot execution time with days, hours, minutes and seconds
  pywikibot/bot.py
Due: framework

[doc] update ROADMAP.rst
  ROADMAP.rst
Due: none

[tests] flake8-print namespace was changed from T0 to T2
  pywikibot/scripts/shell.py
  pywikibot/userinterfaces/_interface_base.py
  scripts/maintenance/unidata.py
  tests/__init__.py
  tox.ini
Due: framework, tests, scripts

[cleanup] raise RuntimeError if a Family has an initializer
  ROADMAP.rst
  docs/api_ref/family.rst
  pywikibot/family.py
Due: framework

[bugfix] use str instead of repr for family
  pywikibot/scripts/version.py
  pywikibot/site/_apisite.py
Due: framework

[bugfix] use flake8-bugbear >= 24.2.6 to ignore B038 tests
  pywikibot/data/api/__init__.py
  pywikibot/proofreadpage.py
  scripts/dataextend.py
  setup.py
Due: framework, scripts

[tests] ignore failing macOS due to T337748
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] upgrade setuptools for Python 3.7.0 on Appveyor
  .appveyor.yml
Due: none

[tests] fix site_generators_tests.TestUserList.test_users()
  tests/site_generators_tests.py
Due: tests

[doc] Only use major and minor version numbers within documentation
  pywikibot/data/api/_paraminfo.py
  pywikibot/family.py
  pywikibot/page/_basepage.py
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  tests/aspects.py
  tests/utils.py
Due: framework, tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
