Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[doc] Refer APISite.categorymembers for Category.articles parameters
  pywikibot/page/_category.py
  pywikibot/site/_generators.py
Due: framework

[cleanup] deprecate Page.editTime() method
  pywikibot/page/_page.py
  scripts/category_redirect.py
  scripts/clean_sandbox.py
  scripts/newitem.py
  scripts/patrol.py
  tests/edit_tests.py
  tests/page_tests.py
Due: framework, tests, scripts

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[tests] decorate MW version
  tests/README.rst
  tests/api_tests.py
  tests/aspects.py
  tests/edit_tests.py
  tests/site_generators_tests.py
Due: tests

[BUGFIX] Fix disolving script_paths for site-package
  pwb.py
Due: none

[doc] Fix make_dist.py documentation
  make_dist.py
Due: none

[doc] Update ROADMAP.rst
  HISTORY.rst
  ROADMAP.rst
Due: none

[IMPR] Raise a generic ServerError if requests response is a ServerError
  pywikibot/comms/http.py
Due: framework

[tests] Refactor site_detect_tests.py
  tests/site_detect_tests.py
Due: tests

[IMPR] make charset parameter of http._decide_encoding optional
  pywikibot/comms/http.py
  tests/http_tests.py
Due: framework, tests

[IMPR] Simplify i18n parameters in category_redirect.py
  scripts/category_redirect.py
Due: scripts

[IMPR] Shorten expressions
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/page/_category.py
  pywikibot/textlib.py
  pywikibot/time.py
  pywikibot/version.py
  scripts/category_redirect.py
  tests/aspects.py
  tests/site_generators_tests.py
  tests/time_tests.py
Due: framework, tests, scripts

[doc] Explain bot.handler_namer function
  pywikibot/bot.py
Due: framework

[IMPR] Improvements for i18n module
  pywikibot/i18n.py
Due: framework

[bugfix] Respect limit argument with Board.topics()
  pywikibot/flow.py
  pywikibot/site/_extensions.py
  tests/flow_tests.py
Due: framework, tests

[doc] Add login token to mw cross reference
  docs/mwapi.rst
Due: none

[IMPR] use pathlib.Path to manage sys.path entries in conf.py
  docs/conf.py
Due: none

[FIX] Enable site-package installation from git repository (Part 1)
  CONTENT.rst
  call_pwb.py
  docs/utilities/install.rst
  docs/utilities/scripts.rst
  docs/utilities/scripts_ref.rst
  pywikibot/CONTENT.rst
  pywikibot/scripts/i18n/__init__.py
  pywikibot/scripts/i18n/pywikibot/en.json
  pywikibot/scripts/wrapper.py
  setup.py
  tox.ini
Due: framework

[fix] fix make_dist usage
  setup.py
Due: none

[doc] Fix some documentation parts
  pywikibot/page/_category.py
Due: framework

[bugfix] Add a new variable 'private_folder_permission' to config.py
  pywikibot/config.py
  pywikibot/scripts/generate_user_files.py
  scripts/listpages.py
  tests/tools_tests.py
Due: framework, tests, scripts

[cleanup] Refactor TokenWallet
  pywikibot/data/api/__init__.py
  pywikibot/data/api/_login.py
  pywikibot/data/api/_requests.py
  pywikibot/page/_user.py
  pywikibot/site/_apisite.py
  pywikibot/site/_datasite.py
  pywikibot/site/_extensions.py
  pywikibot/site/_tokenwallet.py
  pywikibot/site/_upload.py
  scripts/change_pagelang.py
  tests/aspects.py
  tests/token_tests.py
Due: framework, tests, scripts

[IMPR] Allow all Site.categorymembers() parameters for Category.members()
  pywikibot/page/_category.py
Due: framework

[IMPR] Improvements for Category.aslink()
  pywikibot/page/_category.py
Due: framework

[FIX] Enable site-package installation from git repository (Part 2)
  call_pwb.py
  docs/utilities/install.rst
  make_dist.py
  pwb.py
  pywikibot/scripts/wrapper.py
  setup.py
Due: framework

[IMPR] Enable 2FA login with Pywikibot
  pywikibot/data/api/_login.py
Due: framework

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[IMPR] Avoid to many return statements in QueryGenerator.generator property
  pywikibot/data/api/_generators.py
Due: framework

[tests] suppress DeprecationWarning in api_tests.py and dry_api_tests.py
  tests/api_tests.py
  tests/dry_api_tests.py
Due: tests

[IMPR] cleanup Site.is_uploaddisabled()
  pywikibot/site/_apisite.py
  pywikibot/site/_obsoletesites.py
  pywikibot/site/_upload.py
  tests/site_tests.py
Due: framework, tests
