Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[tests] Only run login_tests-ci.yml if previous job was successfull
  .github/workflows/login_tests-ci.yml
Due: none

[doc] Fix WikibasePage documentation
  ROADMAP.rst
  pywikibot/page/_wikibase.py
Due: framework

[test] Fix Twikibase_tests.testOwnClient
  tests/wikibase_tests.py
Due: tests

[7.7] Publish Pywikibot 7.7
  pywikibot/__metadata__.py
Due: framework

[8.0] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] Add MediaWiki API cross reference
  docs/index.rst
  docs/mwapi.rst
  tox.ini
Due: none

[IMPR] Short site value can be given
  pywikibot/bot.py
Due: framework

[8.0] Remove Python 3.5 CI tests on github
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Use Python 3.6 instead of 3.5 for jenkins tests
  tox.ini
Due: none

[tests] Drop Python 3.5 tests on appveyor
  .appveyor.yml
  appveyor_install.ps1
Due: none

[tests] Fix appveyor_install.ps1 installer script
  appveyor_install.ps1
Due: none

[PWB8] Drop Python 3.5 dependencies
  .appveyor.yml
  dev-requirements.txt
  docs/api_ref/pywikibot.userinterfaces.rst
  docs/index.rst
  mypy.ini
  pywikibot/README.rst
  pywikibot/__init__.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/specialbots/_upload.py
  pywikibot/throttle.py
  pywikibot/tools/collections.py
  pywikibot/userinterfaces/gui.py
  pywikibot/userinterfaces/terminal_interface_win32.py
  pywikibot/userinterfaces/win32_unicode.py
  requirements.txt
  setup.py
  tests/eventstreams_tests.py
  tests/utils.py
Due: framework, tests

[bugfix] Fix flake8 requirement
  dev-requirements.txt
  setup.py
Due: none

[tox] Update after config was changed
  tox.ini
Due: none

automatically convert type comments to annotations
  pywikibot/__init__.py
  pywikibot/bot.py
  pywikibot/bot_choice.py
  pywikibot/config.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_requests.py
  pywikibot/date.py
  pywikibot/diff.py
  pywikibot/echo.py
  pywikibot/family.py
  pywikibot/flow.py
  pywikibot/i18n.py
  pywikibot/interwiki_graph.py
  pywikibot/logentries.py
  pywikibot/logging.py
  pywikibot/login.py
  pywikibot/page/_wikibase.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/plural.py
  pywikibot/proofreadpage.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/site/_apisite.py
  scripts/add_text.py
  scripts/blockpageschecker.py
  scripts/category.py
  scripts/redirect.py
  scripts/replace.py
  scripts/weblinkchecker.py
  scripts/welcome.py
  tests/__init__.py
Due: framework, tests, scripts

[cleanup] Require 0.9.3 for pymysql
  ROADMAP.rst
  pywikibot/data/mysql.py
Due: framework

[IMPR] use underscore numeric literals
  pywikibot/version.py
  scripts/archivebot.py
Due: framework, scripts

[cleanup] remove userinterfaces.gui.ListBoxWindow
  pywikibot/userinterfaces/gui.py
Due: framework

[IMPR] <<default>> color token can be omitted at the end of io function
  scripts/commons_information.py
  scripts/fixing_redirects.py
  scripts/imagetransfer.py
  scripts/misspelling.py
Due: scripts

[IMPR] Simplify access to Match object
  docs/conf.py
  docs/recipes.rst
  pywikibot/comms/http.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_login.py
  pywikibot/data/api/_requests.py
  pywikibot/date.py
  pywikibot/i18n.py
  pywikibot/page/_links.py
  pywikibot/page/_pages.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/proofreadpage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_siteinfo.py
  pywikibot/textlib.py
  pywikibot/time.py
  pywikibot/tools/__init__.py
  pywikibot/tools/_deprecate.py
  pywikibot/tools/djvu.py
  pywikibot/tools/threading.py
  pywikibot/xmlreader.py
  scripts/archivebot.py
  scripts/category.py
  scripts/checkimages.py
  scripts/commonscat.py
  scripts/dataextend.py
  scripts/fixing_redirects.py
  scripts/harvest_template.py
  scripts/misspelling.py
  scripts/noreferences.py
  scripts/pagefromfile.py
  scripts/redirect.py
  scripts/reflinks.py
  scripts/solve_disambiguation.py
  scripts/upload.py
  scripts/weblinkchecker.py
  tests/api_tests.py
  tests/aspects.py
  tests/textlib_tests.py
  tests/timestripper_tests.py
Due: framework, tests, scripts

[8.0] Require Python 3.6.1+ with Pywikibot and drop support for Python 3.6.0
  .appveyor.yml
  appveyor_install.ps1
  dev-requirements.txt
  docs/index.rst
  make_dist.py
  pywikibot/README.rst
  pywikibot/userinterfaces/gui.py
  setup.py
Due: framework

[tests] Skip doctests for memento.py
  pywikibot/data/memento.py
  tox.ini
Due: framework

[tests] Add doctests to gh action and add results to coverage
  .github/workflows/doctest.yml
  tox.ini
Due: none

[tests] Adjust timeouts for doctests
  .github/workflows/doctest.yml
Due: none

[IMPR] Enable pagegenerators options with 'move' and 'remove' actions
  scripts/category.py
Due: scripts

[tests] Add make_dist_tests.py to the framework
  .codecov.yml
  docs/tests_ref/index.rst
  docs/tests_ref/make_dist_tests.rst
  make_dist.py
  tests/__init__.py
  tests/make_dist_tests.py
  tox.ini
Due: tests

[bugfix]: Catch TypeError instead of AttributeError
  scripts/pagefromfile.py
Due: scripts

[IMPR]: pagefromfile.py: compute regex only once
  scripts/pagefromfile.py
Due: scripts

[IMPR]: add PreloadingGenerator to __all__
  pywikibot/pagegenerators/__init__.py
Due: framework

[tests] Update github actions workflow versions
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Adjust hacking dependency
  setup.py
Due: none

[cleanup] Remove 'cosmetic_changes-append' i18n usage
  pywikibot/page/_pages.py
  tests/i18n_tests.py
Due: framework, tests
