Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[IMPR] Raise TypeError when argument has wrong type
  pywikibot/time.py
Due: framework

[fix] Add mandatory dependencies to requirements.txt
  requirements.txt
Due: none

[fix] Add mandatory dependencies to workflows
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  README.rst
Due: none

[doc] update CHANGELOG.rst and ROADMAP
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[cleanup] No longer require setuptools because packaging is used
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
  README.rst
  make_dist.py
  pywikibot/scripts/version.py
  requirements.txt
  setup.py
  tests/tools_tests.py
Due: framework, tests

[doc] Update documentation
  ROADMAP.rst
  pywikibot/_wbtypes.py
  pywikibot/xmlreader.py
Due: framework

[bugfix] lazy import setuptools in setup.py
  setup.py
Due: none

fix test for bulba:bulba wiki
  tests/link_tests.py
Due: tests

[CI] Update requirements for flake8
  setup.py
  tox.ini
Due: none

Ignore .swp files created by vim
  .gitignore
Due: none

Pass login token when using action=login
  pywikibot/login.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Detect range blocks with Page.is_blocked()
  pywikibot/page/_user.py
  pywikibot/tools/__init__.py
  tests/tools_tests.py
Due: framework, tests

[flake8] fix bugbear 24.1.17 issues
  pywikibot/data/api/__init__.py
  pywikibot/proofreadpage.py
  scripts/dataextend.py
Due: framework, scripts

[flake8] Detect arguments shadowing of Python buildins and rename them
  pywikibot/data/api/_optionset.py
  pywikibot/date.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  pywikibot/userinterfaces/terminal_interface_base.py
  pywikibot/userinterfaces/transliteration.py
  scripts/blockpageschecker.py
  scripts/dataextend.py
  tests/site_generators_tests.py
Due: framework, tests, scripts

[flake8] remove trailing commas within tuples and lists
  pywikibot/families/meta_family.py
  pywikibot/families/wikimediachapter_family.py
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/page/_user.py
  scripts/dataextend.py
  tests/interwikimap_tests.py
  tests/thanks_tests.py
  tests/wikibase_tests.py
Due: framework, tests, scripts

[flake8] solve some flake8 issues
  pywikibot/page/_user.py
  pywikibot/site/_apisite.py
  pywikibot/site/_siteinfo.py
  scripts/maintenance/unidata.py
  setup.py
  tests/utils.py
Due: framework, tests, scripts

[flake8] solve flake8-raise issues
  pywikibot/bot_choice.py
  pywikibot/page/_user.py
  pywikibot/site/_apisite.py
  pywikibot/site/_upload.py
  pywikibot/site_detect.py
  pywikibot/userinterfaces/terminal_interface_win32.py
  setup.py
  tests/api_tests.py
  tests/ui_options_tests.py
  tox.ini
Due: framework, tests

[flake8] simplify code
  pywikibot/_wbtypes.py
  pywikibot/flow.py
  pywikibot/site/_extensions.py
  tests/page_tests.py
Due: framework, tests

[format] Convert format-strings to f-strings using flynt
  tests/__init__.py
  tests/api_tests.py
  tests/aspects.py
  tests/eventstreams_tests.py
  tests/family_tests.py
  tests/generate_family_file_tests.py
  tests/i18n_tests.py
  tests/l10n_tests.py
  tests/namespace_tests.py
  tests/page_tests.py
  tests/pagegenerators_tests.py
  tests/plural_tests.py
  tests/proofreadpage_tests.py
  tests/script_tests.py
  tests/site_generators_tests.py
  tests/sparql_tests.py
  tests/textlib_tests.py
  tests/timestripper_tests.py
  tests/ui_options_tests.py
  tests/ui_tests.py
  tests/user_tests.py
  tests/utils.py
  tests/wikistats_tests.py
Due: tests

[test] simplify page_tests.TestPageRepr
  tests/page_tests.py
Due: tests

[dest] remove final print statement
  setup.py
Due: none

[tests] Add setup_tests.py
  docs/tests_ref/index.rst
  docs/tests_ref/setup_tests.rst
  setup.py
  tests/setup_tests.py
Due: tests

[tests] Update site_detect_tests
  tests/site_detect_tests.py
Due: tests

[doc] update copyright for site_detect_tests.py
  tests/site_detect_tests.py
Due: tests

[flake8] remove recently added flake8-executable due to false positives
  setup.py
Due: none

[tests] expect TestMediaInfoReadonlyEditing to fail
  tests/file_tests.py
Due: tests

[dist] add pyproject.toml
  pyproject.toml
Due: none

Revert "[tests] skip PetScanPageGeneratorTestCase if APIError occurred"
  tests/pagegenerators_tests.py
Due: tests

[tests] Skip interwiki link test until the problem is solved upstream
  tests/page_tests.py
Due: tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
