Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[tests] Install Pillow first
  .appveyor.yml
Due: none

[doc] Explain the links counter
  scripts/solve_disambiguation.py
Due: scripts

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] remove sphinx.ext.todo and use codeclimate instead
  .codeclimate.yml
  docs/conf.py
  pywikibot/page/_basepage.py
  pywikibot/page/_wikibase.py
  scripts/archivebot.py
  scripts/checkimages.py
  scripts/coordinate_import.py
  scripts/create_isbn_edition.py
Due: framework, scripts

[IMPR] Add https scheme if missing in url asked by generate_family_file.py
  pywikibot/scripts/generate_family_file.py
Due: framework

[tests] Ignore failing archivebot_tests on zh-yue site
  tests/archivebot_tests.py
Due: tests

[todo] remove unnecessary or unclear todo hints
  pywikibot/bot.py
  pywikibot/diff.py
Due: framework

[families] Add wikifunctions_family.py
  docs/api_ref/pywikibot.families.rst
  pywikibot/families/wikifunctions_family.py
  pywikibot/family.py
Due: framework

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[IMPR] Enable -touch in newitem script for confirmed user
  scripts/newitem.py
Due: scripts

[doc] Fix logging documentation
  pywikibot/logging.py
Due: framework

[IMPR] use pywikibot.info instead of pywikibot.output
  pywikibot/config.py
  pywikibot/tools/formatter.py
  scripts/interwikidata.py
Due: framework, scripts

[dod] fix spelling mistak in throttle.py
  pywikibot/throttle.py
Due: framework

[IMPR] Remove old code for mw < 1.27
  pywikibot/data/api/_paraminfo.py
  tests/api_tests.py
Due: framework, tests

Update setup.py
  setup.py
Due: none

[IMPR] Add a WaitingMixin to Requests and SparqlQuery class
  pywikibot/data/__init__.py
  pywikibot/data/api/_requests.py
  pywikibot/data/sparql.py
Due: framework

[IMPR] Improve throttle module
  pywikibot/throttle.py
Due: framework

Add support for new wikis
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[tests] TestScriptGenerator may fail for newitem script
  tests/script_tests.py
Due: tests

[8.3.1] Update family files
  HISTORY.rst
  ROADMAP.rst
  docs/api_ref/pywikibot.families.rst
  docs/conf.py
  docs/requirements.txt
  pywikibot/__metadata__.py
  pywikibot/families/wikifunctions_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/family.py
Due: framework

[doc] Update ROADMAP.rst, HISTORY.rst and CHANGELOG.rst
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
Due: framework, scripts

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
