Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[fix] Update user_tests
  tests/user_tests.py
Due: tests

[bugfix] Use the same iiprop in PageGenerator as in APISite.loadimageinfo()
  pywikibot/data/api/_generators.py
  pywikibot/site/__init__.py
  pywikibot/site/_apisite.py
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
Due: framework, tests

[IMPR] show upload count with UploadRobot
  pywikibot/specialbots/_upload.py
Due: framework

[doc] Fix table syntax
  scripts/README.rst
Due: scripts

[fix] file title must have a valid file extension
  pywikibot/specialbots/_upload.py
Due: framework

[IMPR} Add a post_processing attribute to UploadRobot
  pywikibot/specialbots/_upload.py
  scripts/imagetransfer.py
  tests/uploadbot_tests.py
Due: framework, tests, scripts

[doc] Update documentation for BasePage.get() and BasePage.text
  pywikibot/page/_basepage.py
Due: framework

[doc] Add admoniton and hint for pywikibot.handle_args() usage
  pywikibot/bot.py
  pywikibot/scripts/wrapper.py
Due: framework

[doc] Fix Sphinx directive
  pywikibot/specialbots/_upload.py
Due: framework

[doc] update UploadRobot documentation
  pywikibot/specialbots/_upload.py
Due: framework

[tests] use new codecov-cli package for upload
  .appveyor.yml
Due: none

[doc] update ROADMAP.rst
  ROADMAP.rst
Due: none

[tests] Update pip first to prevent installing the wrong codecov-cli release
  .appveyor.yml
Due: none

[doc] bugfix for pip upgrade
  .appveyor.yml
Due: none

[bugfix] Fix TypeError in colors.py with backports.batched
  pywikibot/backports.py
  scripts/maintenance/colors.py
Due: framework, scripts

[IMPR] Improve api._generators and avoid similar code
  pywikibot/data/api/_generators.py
Due: framework

[IMPR] simplify code for self.settings_data in checkimages.py
  scripts/checkimages.py
Due: scripts

[IMPR] Improvement for CheckImagesBot.takesettings()
  scripts/checkimages.py
Due: scripts

[IMPR] Simplify takesettings
  scripts/checkimages.py
Due: scripts

[tests] Ignore user-config.py from coverage
  .codecov.yml
Due: none

[IMPR] Show an error message and leave if script is not localized
  scripts/noreferences.py
Due: scripts

[FIX] Skip process that requires login to logout
  pywikibot/site/_apisite.py
Due: framework

[doc] Update ROADMAP.rst, CHANGELOG.rst and AUTHORS.rst
  AUTHORS.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[bugfix] Fix TestFactoryGeneratorWikibase.test_searchitem_language ()
  tests/pagegenerators_tests.py
Due: tests

[doc] fix Sphinx versionchanged directive
  pywikibot/data/api/_requests.py
  tests/utils.py
Due: framework, tests

[bugfix] Fix getversion_nightly() function and deprecate svn support
  .svnprops
  ROADMAP.rst
  pywikibot/version.py
Due: framework

[L10N] localize noreferences.py for simple-wiki
  scripts/noreferences.py
Due: scripts

[doc] Fix user-config.py filename
  pywikibot/cosmetic_changes.py
  pywikibot/login.py
  pywikibot/specialbots/_upload.py
Due: framework

[tests] alllinks fails for en-wiki too
  tests/site_generators_tests.py
Due: tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
