Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[PEP 263] Remove ignoring C103 after files are cleaned
  tox.ini
Due: none

[IMPR] Provide bulk purge for touch.py
  scripts/touch.py
Due: scripts

mwparserfromhell is now required
  tests/patrolbot_tests.py
  tests/script_tests.py
  tests/textlib_tests.py
Due: tests

Update copyright year
  tests/patrolbot_tests.py
  tests/script_tests.py
Due: tests

[Bugfix] Remove timezone information when normalizing
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

[tests] Fix DeletionBot summary option in deletionbot_tests.py
  tests/deletionbot_tests.py
Due: tests

[Feature] Allow copying timezone from Timestamp
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

Improve error testing
  tests/wikibase_tests.py
Due: tests

Add Central Kurdish (ckb) content for Wikipedia
  scripts/clean_sandbox.py
Due: scripts

[bugfix] Fix analyzer in dataextend.py
  scripts/dataextend.py
Due: scripts

[flake8] Ignore B028 bugbear checks
  tox.ini
Due: none

[tests] Add basic script to _allowed_failures of TestScriptGenerator
  .github/workflows/pywikibot-ci.yml
  tests/script_tests.py
Due: tests

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[8.0] Publish Pywikibot 8
  pywikibot/__metadata__.py
Due: framework

[8.0] Remove code tags with setup.read_desc()
  setup.py
Due: none

Revert "[8.0] Publish Pywikibot 8"
  pywikibot/__metadata__.py
Due: framework

Revert "[8.0] Remove code tags with setup.read_desc()"
  setup.py
Due: none

make scripts with shebangs executable
  scripts/create_isbn_edition.py
  scripts/dataextend.py
  scripts/delinker.py
  tests/harvest_template_tests.py
  tests/make_dist_tests.py
  tests/site_generators_tests.py
Due: tests, scripts

fix end of files
  .dockerignore
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  MANIFEST.in
  dev-requirements.txt
  docs/.rstcheck.cfg
  tests/data/commonsHelper_description.txt
  user-fixes.py.sample
Due: tests

remove utf-8 byte order marker
  AUTHORS.rst
Due: none

fix bad blanket noqa
  scripts/create_isbn_edition.py
Due: scripts

update syntax with pyupgrade
  pywikibot/scripts/wrapper.py
  scripts/archivebot.py
  scripts/category_graph.py
  scripts/clean_sandbox.py
  scripts/dataextend.py
  scripts/replicate_wiki.py
Due: framework, scripts

sort imports with isort
  make_dist.py
  pywikibot/comms/http.py
  pywikibot/data/api/__init__.py
  pywikibot/data/memento.py
  pywikibot/flow.py
  pywikibot/page/__init__.py
  pywikibot/page/_toolforge.py
  pywikibot/scripts/wrapper.py
  pywikibot/site/_apisite.py
  pywikibot/site/_basesite.py
  pywikibot/site/_tokenwallet.py
  pywikibot/site_detect.py
  pywikibot/textlib.py
  pywikibot/tools/itertools.py
  pywikibot/userinterfaces/gui.py
  pywikibot/xmlreader.py
  scripts/commons_information.py
  tests/api_tests.py
  tests/aspects.py
  tests/cache_tests.py
  tests/checkimages_tests.py
  tests/dry_api_tests.py
  tests/flow_thanks_tests.py
  tests/generate_user_files_tests.py
  tests/gui_tests.py
  tests/harvest_template_tests.py
  tests/interwikimap_tests.py
  tests/make_dist_tests.py
  tests/tests_tests.py
  tests/time_tests.py
  tests/tools_tests.py
  tests/wikiblame_tests.py
Due: framework, tests, scripts

[doc] Update copyright year
  make_dist.py
  pywikibot/__metadata__.py
  pywikibot/comms/http.py
  pywikibot/data/api/__init__.py
  pywikibot/data/memento.py
  pywikibot/flow.py
  pywikibot/page/__init__.py
  pywikibot/page/_toolforge.py
  pywikibot/scripts/wrapper.py
  pywikibot/site/_apisite.py
  pywikibot/site/_basesite.py
  pywikibot/site/_tokenwallet.py
  pywikibot/site_detect.py
  pywikibot/tools/itertools.py
  pywikibot/userinterfaces/gui.py
  pywikibot/xmlreader.py
  scripts/archivebot.py
  scripts/clean_sandbox.py
  scripts/create_isbn_edition.py
  scripts/delinker.py
  scripts/replicate_wiki.py
  tests/api_tests.py
  tests/aspects.py
  tests/cache_tests.py
  tests/checkimages_tests.py
  tests/dry_api_tests.py
  tests/flow_thanks_tests.py
  tests/generate_user_files_tests.py
  tests/gui_tests.py
  tests/harvest_template_tests.py
  tests/interwikimap_tests.py
  tests/make_dist_tests.py
  tests/site_generators_tests.py
  tests/tests_tests.py
  tests/tools_tests.py
  tests/wikiblame_tests.py
Due: framework, tests, scripts

[bugfix] Fix setup.read_desc() regex
  make_dist.py
  setup.py
Due: none

[flake8] Ignore flake8-bugbear 23.1.14
  setup.py
  tox.ini
Due: none

Access match object by name
  pywikibot/time.py
Due: framework

[8.0] Publish Pywikibot 8
  ROADMAP.rst
  pywikibot/__init__.py
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[8.1] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] Fix HISTORY.rst
  HISTORY.rst
Due: none

[CI] Remove gitter notification
  .codecov.yml
Due: none

[doc] Fix page._page.py documentation
  pywikibot/page/_page.py
Due: framework

[CI] Update codecov file
  .codecov.yml
Due: none

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
