Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[mypy] Fix some typing issues in family.py
  pywikibot/family.py
Due: framework

[mypy] fix some typing issues in cosmetic_changes
  pywikibot/textlib.py
Due: framework

[cleanup] Remove rawcontinue code parts
  pywikibot/data/api/_generators.py
  pywikibot/data/api/_requests.py
  tests/site_generators_tests.py
Due: framework, tests

[mypy] solve typing issue in date.py
  pywikibot/date.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[cleanup] remove mw 1.14 and mw 1.22 Siteinfo fallback implementation
  pywikibot/site/_siteinfo.py
  tests/siteinfo_tests.py
  tests/utils.py
Due: framework, tests

[IMPR] Simplify code using itertools
  pywikibot/textlib.py
Due: framework

Add support for new wiki
  pywikibot/families/wikipedia_family.py
Due: framework

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[8.4.0] Publish Pywikibot 8.4
  pywikibot/__metadata__.py
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
Due: framework

[8.5.0] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] Update sphinx requirements
  ROADMAP.rst
  docs/requirements.txt
Due: none

[tests] Appveyor tests with different image
  .appveyor.yml
Due: none

Revert "[tests] Appveyor tests with different image"
  .appveyor.yml
Due: none

[tests] Appveyor tests with different image"
  .appveyor.yml
Due: none

[tests] revert Appveyor tests with different image"
  .appveyor.yml
Due: none

[tests] Python 3.12.0 final release was published
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[cleanup] remove old Python 3.5 code
  pywikibot/bot.py
Due: framework

Make exception about missing mediainfo more friendly
  pywikibot/page/_wikibase.py
Due: framework

Clarify typing for Wikibase write methods
  pywikibot/page/_wikibase.py
Due: framework

Change category output string to format string.
  scripts/category_graph.py
Due: scripts

Fix skip page template parameter check
  scripts/commonscat.py
Due: scripts

[doc] Update deprecations for tools module
  pywikibot/tools/__init__.py
Due: framework

[IMPR] No longer drop site decorators for optimized codes
  pywikibot/site/_decorators.py
  tests/aspects.py
  tests/site_decorators_tests.py
Due: framework, tests

[IMPR] Improve handling of uninitialized MediaInfo
  pywikibot/page/_wikibase.py
  tests/file_tests.py
Due: framework, tests

Replace MW API deprecated inprop=preload with preloadcontent
  pywikibot/data/api/_generators.py
  pywikibot/site/_apisite.py
  tests/dry_api_tests.py
Due: framework, tests

[L10N] Update category_redirect_templates for ckbwiki
  pywikibot/families/wikipedia_family.py
Due: framework

[cleanup] drop unused use_hard_category_redirects
  pywikibot/family.py
  pywikibot/site/_basesite.py
Due: framework

[taping] add typing hint for BaseSite._locked_pages
  pywikibot/site/_basesite.py
  pywikibot/throttle.py
Due: framework

Update vikidia family : add 'ar'
  pywikibot/families/vikidia_family.py
Due: framework

[typing] solve some mypy issues
  pywikibot/backports.py
  pywikibot/cosmetic_changes.py
  pywikibot/family.py
  pywikibot/textlib.py
  pywikibot/throttle.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
