Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[tests] update macOS in test matrix
  .github/workflows/doctest.yml
Due: none

[tests] add doctests for graalpy and pypy3.10
  .github/workflows/doctest.yml
Due: none

[tests] Add version numbers to graalpy tests
  .github/workflows/doctest.yml
Due: none

Disable graalpy tests
  .github/workflows/doctest.yml
Due: none

use latest repo of MacOS, otherwise queue hangs
  .github/workflows/doctest.yml
Due: none

[tests] include Python 3.14 to doctests, exclude 3.7 from macOS-latest
  .github/workflows/doctest.yml
Due: none

[tests] Fix yml file for doctest
  .github/workflows/doctest.yml
Due: none

[tests] include Python 3.14 to github action tests
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[tests] fix workflow files
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[tests] fix workflow files
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Use pep8-naming 0.13.3 with Python 3.7
  setup.py
  tox.ini
Due: none

[cleanup] remove unused noop2 decorator in tools_deprecate_tests.py
  tests/tools_deprecate_tests.py
Due: tests

[doc] Update tests documentation
  tests/aspects.py
  tests/setup_tests.py
  tests/thanks_tests.py
  tests/version_tests.py
Due: tests

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[fix] show the right docstring with tools.deprecated
  pywikibot/page/_decorators.py
  pywikibot/tools/_deprecate.py
Due: framework

[doc] fix doc string with duplicate string entries
  pywikibot/tools/_deprecate.py
Due: framework

[IMPR] Add a new decorator to deprecate positional arguments
  pywikibot/tools/__init__.py
  pywikibot/tools/_deprecate.py
  tests/tools_deprecate_tests.py
Due: framework, tests

[cleanup] remove arguments cleanup introduced with pwb 6.0.0
  scripts/solve_disambiguation.py
Due: scripts

[doc] fix deprecation list
  ROADMAP.rst
Due: none

[IMPR] remove unnecessary else after return/raise
  pywikibot/__init__.py
  pywikibot/cosmetic_changes.py
  pywikibot/page/_basepage.py
  pywikibot/page/_wikibase.py
  pywikibot/proofreadpage.py
  pywikibot/site/_siteinfo.py
  pywikibot/textlib.py
  scripts/checkimages.py
  scripts/coordinate_import.py
  scripts/interwikidata.py
Due: framework, scripts

[doc] remove empty tests.i18n documenation
  docs/tests_ref/i18n.rst
  docs/tests_ref/index.rst
Due: none

[doc] remove tests supbackages documenation
  docs/tests_ref/index.rst
  docs/tests_ref/pwb.print_env.rst
  docs/tests_ref/pwb.print_locals.rst
  docs/tests_ref/pwb.print_unicode.rst
  docs/tests_ref/pwb.rst
Due: none

[IMPR] use CachedRequest for userinfo requests
  pywikibot/config.py
  pywikibot/scripts/preload_sites.py
  pywikibot/site/_apisite.py
Due: framework

[doc] Add a hint how to use empty string arguments with PowerShell
  scripts/replace.py
Due: scripts

[tests] Add 'commons_information' to auto_run_script_set
  tests/script_tests.py
Due: tests

[doc] Fix some sphinx errors
  scripts/add_text.py
  scripts/category_graph.py
  scripts/harvest_template.py
Due: scripts

[tests] use Python 3.13 for tests
  .github/workflows/oauth_tests-ci.yml
Due: none

Revert "[tests] use Python 3.13 for tests"
  .github/workflows/oauth_tests-ci.yml
Due: none

[tests] test with Python 3.13.0a/b instead of 3.13-dev
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none
