Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[IMPR] Simplify loop in redirect.py
  scripts/redirect.py
Due: scripts

[IMPR] use dataclasses with make_dist.py; Python 3.7+ required
  make_dist.py
  tests/make_dist_tests.py
Due: tests

[doc] Update copyright string
  scripts/redirect.py
Due: scripts

[IMPR] Add NoSiteLinkError for missing sitelinks
  pywikibot/exceptions.py
  pywikibot/page/_wikibase.py
Due: framework

Revert "[doc] Run Sphinx 6 for creating documentation"
  tox.ini
Due: none

[doc] Update ROADMAP.rst and other documentation
  ROADMAP.rst
  pywikibot/exceptions.py
  pywikibot/page/_wikibase.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[fix] Decrease needed mwpfh version to 0.5.2
  requirements.txt
  setup.py
Due: none

[IMPR] use f-format in api._requests.py
  pywikibot/data/api/_requests.py
Due: framework

[doc] Add links to new mw.org content to landing page and recipes page
  docs/index.rst
  docs/recipes.rst
Due: none

[bugfix] No longer lazy load cookies
  pywikibot/data/api/_requests.py
  pywikibot/site/_apisite.py
  tests/utils.py
Due: framework, tests

[IMPR] Add parameters to APIError to show them
  pywikibot/data/api/_requests.py
Due: framework

[IMPR] Guess the last needed token key if the token is not found
  pywikibot/site/_tokenwallet.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] remove trailing spaces
  docs/index.rst
Due: none

[tests] wikifon.org is no MW site any longer
  tests/site_detect_tests.py
Due: tests

[tests] Update site_detect_tests.py
  tests/site_detect_tests.py
Due: tests

[tests] Test 3.12.0a7 as experimental because it is failing
  .github/workflows/pywikibot-ci.yml
  setup.py
Due: none

Revert "[tests] Test 3.12.0a7 as experimental because it is failing"
  .github/workflows/pywikibot-ci.yml
  setup.py
Due: none

[tests] Add a workaround for T334378 to BaseSite.__getattr__
  pywikibot/site/_basesite.py
Due: framework

[IMPR] Improvements for APISite.preloadpages
  pywikibot/pagegenerators/__init__.py
  pywikibot/site/_generators.py
  scripts/archivebot.py
  scripts/interwiki.py
  tests/site_generators_tests.py
Due: framework, tests, scripts

[IMPR] Improvements for archivebot.py
  scripts/archivebot.py
Due: scripts

[log] Disable command.log if -nolog option is given
  pywikibot/bot.py
Due: framework

[tests] Follow-up patch for T334378
  pywikibot/site/_basesite.py
Due: framework

[IMPR] Do not show a warning if password is entered
  pywikibot/login.py
Due: framework

[tests] Replace deprecated TimeStripper attributes
  tests/timestripper_tests.py
Due: tests

Update closed_wikis
  pywikibot/families/wikiquote_family.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiversity_family.py
Due: framework

[L10N] update family files
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[8.0.4] Publish Pywikibot 8.0.4
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: framework

[8.1.0d4] Update ROADMAP.rst, HISTORY.rst and CHANGELOG.rst
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[tests] Skip test_move_entry test if log entry action is hidden
  tests/logentries_tests.py
Due: tests

[tests] Use codecov-action to upload code coverage xml file
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  dev-requirements.txt
Due: none
