Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[IMPR] Do not kill threads in weblinkchecker.py
  scripts/weblinkchecker.py
Due: scripts

[bugfix] Remove ThreadList.stop_all() method
  pywikibot/tools/__init__.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[bugfix] Enable arguments
  scripts/movepages.py
Due: scripts

[IMPR]: Use proofreadpagesinindex query module
  pywikibot/proofreadpage.py
Due: framework

[7.2.1] Fix argument parsing in movepages.py
  pywikibot/__metadata__.py
  scripts/movepages.py
  setup.py
  tests/file_tests.py
Due: framework, tests, scripts

[IMPR] Weblinkchecker: throttle connections to the same host
  scripts/weblinkchecker.py
Due: scripts

[doc] Update ROADMAP.rst and CHANGELOG.md
  ROADMAP.rst
  scripts/CHANGELOG.md
Due: scripts

[bugfix] Call ExistingPageBot.skip_page() first
  pywikibot/bot.py
  scripts/blockpageschecker.py
  scripts/newitem.py
  scripts/noreferences.py
  scripts/reflinks.py
  scripts/replace.py
Due: framework, scripts

[doc] Update documentation of RedirectPageBot and NoRedirectPageBot
  pywikibot/bot.py
Due: framework

[IMPR] Print counter statistic for all counters
  docs/api_ref/pywikibot.rst
  pywikibot/bot.py
  pywikibot/specialbots/_upload.py
  scripts/touch.py
  tests/bot_tests.py
Due: framework, tests, scripts

[IMPR] Prioritize -namespaces options in pg.handle_args
  pywikibot/pagegenerators.py
Due: framework

[doc] Fix library usage description
  docs/library_usage.rst
Due: none

[doc] Update documentation
  ROADMAP.rst
  pywikibot/bot.py
  pywikibot/proofreadpage.py
  scripts/CHANGELOG.md
Due: framework, scripts

[bugfix] Fix -format option
  scripts/listpages.py
Due: scripts

[doc] fix spelling in cfd script
  docs/scripts/outdated.rst
Due: none

[doc] Additional documentation for basic script class usage
  docs/library_usage.rst
  scripts/basic.py
Due: scripts

[bugfix] ClaimCollection.toJSON() should not ignore new claims
  pywikibot/page/_collections.py
  tests/wikibase_edit_tests.py
Due: framework, tests

[IMPR] use record.filename instead of pathname for callerfile with warn msg
  pywikibot/tools/_logging.py
Due: framework

[bugfix] fix suggest_help usage
  scripts/basic.py
Due: scripts

[doc] Update documentation
  pywikibot/tools/_unidata.py
  scripts/maintenance/make_i18n_dict.py
  scripts/maintenance/sorting_order.py
  scripts/touch.py
Due: framework, scripts

[IMPR]: delete.py: count deleted pages and other actions
  pywikibot/page/_pages.py
  scripts/delete.py
  tests/page_tests.py
Due: framework, tests, scripts

[fix] fix documentation
  docs/index.rst
Due: none

[fix] fix authors sorting
  AUTHORS.rst
Due: none

Add myself to AUTHORS.rst
  AUTHORS.rst
Due: none

random.sample() instead of random.shuffle()
  tests/site_tests.py
Due: tests

Add name to contributors
  AUTHORS.rst
Due: none

[doc] Update licenses.rst
  docs/licenses.rst
Due: none

[bugfix] replace.py: set preload as default
  scripts/replace.py
Due: scripts

[IMPR] raise InvalidTitleError instead of ValueError in ProofreadPage
  pywikibot/proofreadpage.py
Due: framework

[bugfix] Preload pages if GeneratorFactory.articlenotfilter_list is not empty
  pywikibot/pagegenerators.py
Due: framework

[IMPR] Use AutomaticTWSummaryBot to implement listpages
  scripts/listpages.py
Due: scripts

[IMPR] Add a new script to create a Pywikibot distribution
  CONTENT.rst
  docs/index.rst
  docs/utilities/install.rst
  make_dist.py
  setup.py
  tox.ini
Due: none

[fix] Fix spelling mistake
  pywikibot/proofreadpage.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
