Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[doc] Use Sphinx 7.2.2 for documentation
  docs/conf.py
  docs/requirements.txt
  tox.ini
Due: none

Revert "[tests] Ignore failing archivebot_tests on zh-yue site"
  tests/archivebot_tests.py
Due: tests

[IMPR] use @staticmethod for several methods
  pywikibot/site/_basesite.py
  tests/edit_failure_tests.py
  tests/oauth_tests.py
  tests/paraminfo_tests.py
  tests/replacebot_tests.py
Due: framework, tests

[DEP] Update to latest fake-useragent version (v1.2.1).
  setup.py
Due: none

[IMPR] Add unidata.py script to mainenance scripts
  scripts/maintenance/unidata.py
Due: scripts

Revert "[doc] Use Sphinx 7.2.2 for documentation"
  docs/conf.py
  docs/requirements.txt
Due: none

[doc] update sphinx dependency
  docs/requirements.txt
Due: none

[doc] Update documentation for unidata.py script
  docs/scripts/maintenance.rst
  docs/scripts_ref/scripts.maintenance.rst
  scripts/CHANGELOG.rst
  scripts/README.rst
  scripts/maintenance/unidata.py
Due: scripts

[doc] Fix some sphinx warnings
  pywikibot/scripts/generate_family_file.py
  scripts/transferbot.py
Due: framework, scripts

[cleanup] replace deprecated releasepid attribute
  pywikibot/throttle.py
Due: framework

[bugfix] Fix AttributeError on timeouts
  pywikibot/data/__init__.py
Due: framework

[doc] require Sphinx 7.2.3
  docs/conf.py
  docs/requirements.txt
Due: none

[IMPR] remove hints for MediaWiki < 1.27
  pywikibot/login.py
  pywikibot/site/_generators.py
Due: framework

[tests] show current length with TestCase.assertLength method
  tests/aspects.py
Due: tests

[L10N] Add content for "ckb" site code
  scripts/category_redirect.py
  scripts/checkimages.py
  scripts/commonscat.py
  scripts/imagetransfer.py
  scripts/noreferences.py
  scripts/nowcommons.py
  scripts/unusedfiles.py
  scripts/welcome.py
Due: scripts

[doc] Update AUTHORS.rst
  AUTHORS.rst
Due: none

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[bugfix] Extract code and family from dbname in APISite.fromDBName
  pywikibot/site/_apisite.py
  tests/site_tests.py
Due: framework, tests

Add support for new wiki
  pywikibot/families/wikipedia_family.py
Due: framework

[8.3.2] Publish Pywikibot 8.3.2
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
Due: framework

[doc] Update documentation after 8.3.2 was published
  HISTORY.rst
  pywikibot/__metadata__.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  pywikibot/throttle.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[cleanup] remove pre mw 1.27 code in ParamInfo
  pywikibot/data/api/_paraminfo.py
  tests/api_tests.py
  tests/dry_api_tests.py
  tests/paraminfo_tests.py
Due: framework, tests

[doc] update mw_version doc
  pywikibot/site/_apisite.py
Due: framework

upload: don't include the section in the page title
  pywikibot/site/_upload.py
Due: framework

FilePage: raise ValueError when title doesn't have a valid file extension
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
  tests/file_tests.py
  tests/page_tests.py
Due: framework, tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
