Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[doc] keyword arguments are strictly recommended for logging functions.
  ROADMAP.rst
  pywikibot/logging.py
Due: framework

[doc] adjust logging functions in documentation
  HISTORY.rst
  ROADMAP.rst
  pywikibot/bot.py
  pywikibot/tools/formatter.py
Due: framework

[doc] split tools in documentation, show titles only
  docs/api_ref/index.rst
  docs/api_ref/pywikibot.tools.rst
  docs/api_ref/tools/pywikibot.tools.rst
  docs/api_ref/tools/tools.chars.rst
  docs/api_ref/tools/tools.collections.rst
  docs/api_ref/tools/tools.djvu.rst
  docs/api_ref/tools/tools.formatter.rst
  docs/api_ref/tools/tools.itertools.rst
  docs/api_ref/tools/tools.threading.rst
Due: none

[doc] Markup and references fixes
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
Due: framework

[IMPR] replace requests.utils.urlparse with urllib.parse.urlparse
  pywikibot/comms/http.py
Due: framework

[tests] split write tests in two tasks
  .github/workflows/write_tests-ci.yml
Due: none

[tests] rename write tests action
  .github/workflows/sysop_write_tests-ci.yml
Due: none

[tests] split write tests into tasks
  .github/workflows/sysop_write_tests-ci.yml
Due: none

[IMPR] No longer wait in Requests._http_request for ImportError and NameError
  pywikibot/comms/http.py
  pywikibot/data/api/_requests.py
Due: framework

[tests] remove experimental flag from sysop_write_tests-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
Due: none

[doc] update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  pywikibot/data/api/_requests.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[9.2] Publish Pywikibot 9.2
  pywikibot/__metadata__.py
Due: framework

Revert "[9.2] Publish Pywikibot 9.2"
  pywikibot/__metadata__.py
Due: framework

[IMPR] ignore ValueError durig upcast of FilePage due to invalid file extension
  pywikibot/pagegenerators/_generators.py
  tests/file_tests.py
Due: framework, tests

Add superset pagegenerator
  pywikibot/data/superset.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_generators.py
  tests/superset_tests.py
Due: framework, tests

include image repository extensions in APISite.file_extensions
  pywikibot/site/_apisite.py
Due: framework

[L10N] Add support for btmwiki to Pywikibot
  pywikibot/families/wikipedia_family.py
Due: framework

[maintenance] Add new addwikis script to add wikis to a family file
  docs/scripts/maintenance.rst
  docs/scripts_ref/scripts.maintenance.rst
  scripts/README.rst
  scripts/maintenance/addwikis.py
Due: scripts

[tests] skip superset_tests on ConnectionError
  tests/superset_tests.py
Due: tests

[doc] Update ROADMAP.rst, CHANGELOG.rst and some code documentations
  ROADMAP.rst
  docs/api_ref/pywikibot.data.rst
  pywikibot/data/superset.py
  pywikibot/pagegenerators/_generators.py
  scripts/CHANGELOG.rst
  tests/superset_tests.py
Due: framework, tests, scripts

[doc] do not exclude members from pywikibot.rst
  docs/api_ref/pywikibot.rst
Due: none

[9.3] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[tests] remove coverage from Appveyor tests
  .appveyor.yml
Due: none

[fix] re-implement Page.main_authors() using xtools
  pywikibot/page/_toolforge.py
  requirements.txt
  tests/wikiblame_tests.py
  tox.ini
Due: framework, tests

[tests] install wikitextparser for doctest
  .github/workflows/doctest.yml
Due: none

[IMPR] use BasePage.templates() with Page.templatesWithParams
  pywikibot/page/_page.py
Due: framework

[doc] fix spelling mistake
  pywikibot/page/_toolforge.py
Due: framework

[IMPR] replace pywikibot.bot.output with pywikibot.info
  pywikibot/bot.py
Due: framework

[make_dist] additional tests for make_dist.py
  make_dist.py
  tests/make_dist_tests.py
Due: tests

[tests] Add experimental Windows tests as successor for Appveyor tests
  .github/workflows/doctest.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

[tests] Run windows tests on windows
  .github/workflows/windows_tests.yml
Due: none

[tests] fix github action config file
  .github/workflows/windows_tests.yml
Due: none

[tests] Simplify TestCaseBase._get_gen_pages() method
  tests/aspects.py
Due: tests

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[fix] Fix url_image url
  tests/proofreadpage_tests.py
Due: tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
