Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[bugfix] Handle page_put_queue after KeyboardInterrupt
  pywikibot/__init__.py
Due: framework

[IMPR] Simplify some code
  pywikibot/bot.py
  pywikibot/config.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_generators.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/data/api/_requests.py
Due: framework

[IMPR] Ignore Exception when removing an 'File' namespace alias
  pywikibot/cosmetic_changes.py
Due: framework

[bugfix] Fix -createonly option
  scripts/add_text.py
Due: scripts

[dist] Provide Built Distribution with Pywikibot (PEP 427)
  make_dist.py
Due: none

[IMPR] Improvements for interwiki.py
  scripts/interwiki.py
Due: scripts

[IMPR] PEP8 updates
  scripts/dataextend.py
Due: scripts

[test] Decrease number of tests in test_two_continuations_limited
  tests/api_tests.py
Due: tests

Revert "[bugfix] Respect limit argument with Board.topics()"
  pywikibot/flow.py
  pywikibot/site/_extensions.py
  tests/flow_tests.py
Due: framework, tests

[L10N] update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] do not use sphinx 5.0.0-5.0.2
  docs/conf.py
  docs/requirements-py3.txt
Due: none

[sphinx] Changes sphinx style for code references
  docs/_static/css/pywikibot.css
Due: none

[doc] Update ROADMAP.rst and CHANGELOG.md
  HISTORY.rst
  ROADMAP.rst
  scripts/CHANGELOG.md
Due: scripts

[7.4] Publish Pywikibot 7.4.0
  pywikibot/__metadata__.py
Due: framework

[7.5] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

Revert "[7.5] Prepare next release"
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

replace use of deprecated FilePage.usingPages()
  pywikibot/page/_filepage.py
  scripts/checkimages.py
Due: framework, scripts

[IMPR] Simplify final throttle.drop() call
  pywikibot/__init__.py
Due: framework

[IMPR] Improve PropertyGenerator._update_old_result_dict
  pywikibot/data/api/_generators.py
Due: framework

[IMPR] move to assertRaisesRegex
  tests/pagegenerators_tests.py
Due: tests

[test] Test User.first_edit
  tests/user_tests.py
Due: tests

[IMPR] Documentation updates and improvements
  scripts/speedy_delete.py
Due: scripts

[doc] Update documentation
  pywikibot/bot.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_generators.py
  pywikibot/diff.py
  pywikibot/page/_filepage.py
  pywikibot/page/_pages.py
  pywikibot/pagegenerators.py
  pywikibot/scripts/login.py
  pywikibot/site/_datasite.py
  pywikibot/site/_siteinfo.py
  pywikibot/site/_upload.py
  pywikibot/tools/__init__.py
  scripts/data_ingestion.py
  scripts/harvest_template.py
  scripts/welcome.py
  tests/site_tests.py
  tests/thanks_tests.py
Due: framework, tests, scripts

[tests] enable nosetest for mysql and xmlreader
  pywikibot/xmlreader.py
  tox.ini
Due: framework

[tests] use verbosity level with nosetests to show which tests are processed
  tox.ini
Due: none

[IMPR] Only follow redirects in harvest_template.py if no wikibase item exists
  scripts/harvest_template.py
  tests/__init__.py
  tests/harvest_templates_tests.py
Due: tests, scripts

[IMPR] Detach field handling out of treat_page_and_item method
  scripts/harvest_template.py
Due: scripts

[IMPR] Add type hints to harvest_template.py
  scripts/harvest_template.py
Due: scripts

[IMPR] exists_arg param of user_add_claim_unless_exists() must be a Container
  pywikibot/bot.py
Due: framework

[IMPR] Add handlers for various claim types
  scripts/harvest_template.py
  tests/harvest_templates_tests.py
Due: tests, scripts

[doc] Fix documentation of textlib.extract_sections
  pywikibot/textlib.py
Due: framework

[bugfix] Improve _get_option_with_fallback logic in harvest_template.py
  scripts/harvest_template.py
Due: scripts
