Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[tests] Remove PYWIKIBOT_TEST_PROD_ONLY test directive
  .github/workflows/pywikibot-ci.yml
  .github/workflows/windows_tests.yml
  tests/aspects.py
Due: tests

[tests] fix windows_tests.yml
  .github/workflows/windows_tests.yml
Due: none

[tests] Move Pywikibot tests from Appveyor to Github action
  .appveyor.yml
  .github/workflows/windows_tests.yml
Due: none

[tests] Run lint tests on GitHub
  .github/workflows/lint_tests.yml
Due: none

[tests] Fix lint_tests.yml
  .github/workflows/lint_tests.yml
Due: none

[tests] add hacking to lint tests
  .github/workflows/lint_tests.yml
Due: none

[tests] Fix matrix.deps in lint tests
  .github/workflows/lint_tests.yml
Due: none

[tests] Remove experimental flag in lint tests
  .github/workflows/lint_tests.yml
Due: none

[bugfix] Fix code within f-string
  pywikibot/backports.py
  tests/tools_deprecate_tests.py
Due: framework, tests

[bugfix] ignore flake8-string-format tests for Python 3.14+
  setup.py
Due: none

[tests] exclude hacking tests with pypy3.7
  .github/workflows/lint_tests.yml
Due: none

[tests] skip wikiblame_tests on Appveyor
  .appveyor.yml
Due: none

[flake8] Fix flake C420 issue
  pywikibot/family.py
Due: framework

[flake8] exclude DAR000 issue
  tox.ini
Due: none

[tests] Ignore flake8 hacking with Python 3.14
  setup.py
Due: none

[tests] Don't test flake8 hacking with Python 3.14"
  .github/workflows/lint_tests.yml
  setup.py
Due: none

[tests] urllib3<2.0 is required for Python 3.7.0/3.7.1
  .github/workflows/windows_tests.yml
Due: none

[tests] setuptools update is required for Python 3.7.0/3.7.1
  .github/workflows/windows_tests.yml
Due: none

[tests] fix install command
  .github/workflows/windows_tests.yml
Due: none

[tests] allow delete.py and imagetransfer to fail or pass
  tests/script_tests.py
Due: tests

[tests] drop Appveyor tests
  .appveyor.yml
  README.rst
  tests/README.rst
Due: tests

[tests] mark tests as expecte4dFailure until underlying issue is solved
  tests/pagegenerators_tests.py
Due: tests

Revert "[tests] mark tests as expecte4dFailure until underlying issue is solved"
  tests/pagegenerators_tests.py
Due: tests

Revert "[dep] Update Pillow requirements"
  requirements.txt
  setup.py
Due: none

[IMPR] Improvements for Page.save, Page.put and Page.touch
  pywikibot/page/_basepage.py
  pywikibot/page/_wikibase.py
  scripts/touch.py
  tests/deletionbot_tests.py
  tests/page_tests.py
Due: framework, tests, scripts

[tests] remove ruff settings (maybe used later)
  pyproject.toml
Due: none

[tests] remove flake8-string-format test
  setup.py
  tox.ini
Due: none

[IMPR] Use unittest_print instead of log for APIError during tests
  pywikibot/data/api/_requests.py
Due: framework

[wikibase] give a more informative exception
  pywikibot/site/_datasite.py
Due: framework

[pep8] fix pep8 issues in tests and scripts using autopep8
  scripts/category.py
  scripts/dataextend.py
  tests/api_tests.py
  tests/dry_api_tests.py
  tests/edit_failure_tests.py
  tests/flow_edit_tests.py
  tests/page_tests.py
  tests/redirect_bot_tests.py
  tests/site_generators_tests.py
  tests/site_tests.py
  tests/time_tests.py
  tox.ini
Due: tests, scripts

[pep8] fix pep8 issues in dataextend using autopep8 in aggressive mode
  scripts/dataextend.py
Due: scripts

[pep8] fix pep8 issues in pywikibot using autopep8
  pywikibot/data/wikistats.py
  pywikibot/proofreadpage.py
  pywikibot/version.py
  tox.ini
Due: framework

[pep8] Add max-doc-length = 79
  pywikibot/data/memento.py
  scripts/create_isbn_edition.py
  scripts/data_ingestion.py
  tox.ini
Due: framework, scripts

[IMPR] remove nnecessary parentheses after keyword (PYL-C0325)
  pywikibot/config.py
  pywikibot/cosmetic_changes.py
  pywikibot/flow.py
  pywikibot/site/_apisite.py
  scripts/archivebot.py
  scripts/checkimages.py
  scripts/interwiki.py
  scripts/transferbot.py
Due: framework, scripts

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
