Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

CategoryListifyRobot: refactor `prefix`
  scripts/category.py
Due: scripts

[Bugfix] Correctly adjust for timezones during comparisons
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

[doc] Update LICENSE
  LICENSE
Due: none

[IMPR] improve warning if a Non-JSON response was received from server
  pywikibot/data/api/_requests.py
Due: framework

[bugfix] Use a default result for allusers() if next() leads to StopIteration
  pywikibot/login.py
  pywikibot/scripts/login.py
Due: framework

[IMPR] Deprecate Timestamp.clone() method
  pywikibot/time.py
  tests/time_tests.py
Due: framework, tests

[Bugfix] Normalize WbTimes sent to Wikidata
  pywikibot/__init__.py
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: framework, tests

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  docs/scripts/categories.rst
  docs/scripts_ref/scripts.rst
  pywikibot/__init__.py
  pywikibot/families/wiktionary_family.py
  pywikibot/proofreadpage.py
  pywikibot/time.py
  scripts/CHANGELOG.rst
  scripts/README.rst
  scripts/category_graph.py
Due: framework, scripts

[doc] Update documentation
  ROADMAP.rst
  pywikibot/__init__.py
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: framework, tests

[IMPR] use pywikibot.info() instead of pywikibot.output()
  pywikibot/scripts/generate_user_files.py
  scripts/category_graph.py
Due: framework, scripts

[Bugfix] Add timezone_aware to toTimestamp()
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

[FEAT] Support federated Wikibase
  pywikibot/families/commons_family.py
  pywikibot/families/wikidata_family.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_datasite.py
  tests/file_tests.py
Due: framework, tests

[tests] Ignore some code from coverage
  pywikibot/families/commons_family.py
  pywikibot/families/wikidata_family.py
  pywikibot/page/_user.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  tests/archivebot_tests.py
  tests/file_tests.py
  tests/flow_tests.py
  tests/i18n_tests.py
  tests/paraminfo_tests.py
  tests/script_tests.py
  tests/textlib_tests.py
  tests/tools_chars_tests.py
  tests/user_tests.py
Due: framework, tests

Add new wikis to pywikibot
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Allow setting a theme with make.bat
  docs/make.bat
Due: none

[doc] Add deprecation of 'cosmetic_changes-append' to ROADMAP.rst
  ROADMAP.rst
Due: none

[7.7.3] Add new wikis to pywikibot
  pywikibot/__metadata__.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  setup.py
Due: framework

[dep] Adjust dependencies to preinstalled Toolforge packages
  dev-requirements.txt
  requirements.txt
  setup.py
Due: none

[IMPR] PEP8 updates
  scripts/dataextend.py
Due: scripts

[doc] Add Python 3.12 to pypi classifiers
  setup.py
Due: none

Update copyright year
  scripts/dataextend.py
Due: scripts

[doc] Update ROADMAP.rst and HISTORY.rst
  HISTORY.rst
  ROADMAP.rst
Due: none

[bugfix] Fix Claim.__repr__ for stub instances
  pywikibot/page/_wikibase.py
Due: framework

[IMPR] Make mwparserfromhell mandatory
  .github/workflows/doctest.yml
  README.rst
  pywikibot/textlib.py
  requirements.txt
  scripts/commons_information.py
  scripts/patrol.py
  setup.py
  tox.ini
Due: framework, scripts

[dependency] update python-stdnum dependency to the newest release
  requirements.txt
  setup.py
Due: none

[flake8] Use flake8 > 3.3.2
  setup.py
Due: none

[flake8] hacking importlib-metadata dependency should be solved with v6
  setup.py
Due: none

[flake8] Update flake8 requirements
  setup.py
Due: none
