Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[cleanup] drop bool values of deprecate_arg and deprecated_args
  pywikibot/backports.py
  pywikibot/tools/_deprecate.py
  tests/tools_deprecate_tests.py
Due: framework, tests

[tests] add TestScriptSimulate.test_commons_information to expected failures
  tests/script_tests.py
Due: tests

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[Fix] Add namespaces parameter to BasePage.templates and itertemplates
  docs/api_ref/pywikibot.site.rst
  pywikibot/family.py
  pywikibot/page/_basepage.py
  pywikibot/page/_page.py
  pywikibot/site/_generators.py
  scripts/commonscat.py
  scripts/solve_disambiguation.py
  tests/utils.py
Due: framework, tests, scripts

[tests] Add 'entity-schema' to unsupported entities
  tests/paraminfo_tests.py
Due: tests

[dep] Update Pillow requirements
  requirements.txt
  setup.py
Due: none

Revert "[IMPR] use CachedRequest for userinfo requests"
  ROADMAP.rst
  pywikibot/config.py
  pywikibot/site/_apisite.py
Due: framework

[tests] Enable write tests for oauth_tests on wikipedia:test
  .github/workflows/oauth_tests-ci.yml
Due: none

[tests] rename environment variable PYWIKIBOT_LOGIN_LOGOUT
  .github/workflows/login_tests-ci.yml
  tests/README.rst
  tests/site_login_logout_tests.py
Due: tests

[tests] OAuthEditTest.test_edit may fail with EditConflictError
  tests/oauth_tests.py
Due: tests

[tests] remove install statement for Pillow in Appveyor config file
  .appveyor.yml
Due: none

[tests] ignore codecov-cli for Python 3.11 due to T365943
  .appveyor.yml
Due: none

Revert "[tests] ignore codecov-cli for Python 3.11 due to T365943"
  .appveyor.yml
Due: none

fix spelling mistake
  pywikibot/page/_basepage.py
Due: framework

Fix some spelling mistakes
  pywikibot/date.py
  tests/file_tests.py
Due: framework, tests

Add support for dtpwiki
  pywikibot/families/wikipedia_family.py
Due: framework

[tests] Ignore Python 3 compatibility tests with hacking
  tox.ini
Due: none

[9.1.3] Add support for dtpwiki and publish Pywikibot 9.1.3 stable
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
  requirements.txt
  setup.py
  tests/paraminfo_tests.py
Due: framework, tests

[9.2.0d3] Follow-up for Pywikibot 9.1.3
  HISTORY.rst
  pywikibot/__metadata__.py
Due: framework

[cleanup] deactivate wait cycle for Page.main_authors()
  pywikibot/page/_toolforge.py
Due: framework

Raise import error and add appropriate message
  pywikibot/comms/http.py
Due: framework

[cleanup] pheetools is no longer available upstreams
  pywikibot/proofreadpage.py
  tests/proofreadpage_tests.py
Due: framework, tests

[tests] ignore TestDjVuFile from coverage
  tests/djvu_tests.py
Due: tests

[bugfix] Do not create an option named None
  scripts/interwikidata.py
Due: scripts

[tests] Remove superfluous assignment to config.family
  tests/link_tests.py
Due: tests

[tests] remove code duplication in link_tests.py
  tests/link_tests.py
Due: tests

[doc] Update documentation
  HISTORY.rst
  ROADMAP.rst
  docs/changelog.rst
  docs/conf.py
  docs/tests_ref/index.rst
  tests/README.rst
  tox.ini
Due: tests

[tests] Ignore coverage of TestDjVuFile.setUp()
  tests/djvu_tests.py
Due: tests

[cleanup] Remove setting __test__ to script test
  tests/script_tests.py
Due: tests

[tests] fix require_modules usage
  tests/README.rst
  tests/gui_tests.py
Due: tests

[tests] take into account that test page is modified in meantime
  tests/oauth_tests.py
Due: tests

[IMPR] improve documentation for APISite.editpage
  pywikibot/site/_apisite.py
Due: framework

[tests] update doctest for User.contributions
  pywikibot/page/_user.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
