Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[IMPR] Show additional parser error messages with DataSite.parsevalue()
  pywikibot/site/_datasite.py
Due: framework

[CI] ignore some code from coverage
  pywikibot/bot.py
  pywikibot/bot_choice.py
  pywikibot/page/_pages.py
Due: framework

[cleanup] Remove TODO: implement undelete in site/_generators.py
  pywikibot/site/_generators.py
Due: framework

[bugfix] abstract generator method of GeneratorWrapper should be a property
  pywikibot/tools/collections.py
Due: framework

[IMPR] Make GoogleSearchPageGenerator.queryGoogle a staticmethod
  pywikibot/pagegenerators/_generators.py
Due: framework

[BUGFIX] replace archive pattern fields to string conversion
  scripts/archivebot.py
Due: scripts

[DOC] use sphinx==4.5
  docs/requirements-py3.txt
Due: none

[BUGFIX] replace archive pattern fields to string conversion
  docs/requirements-py3.txt
  pywikibot/__metadata__.py
  scripts/archivebot.py
Due: framework, scripts

[DOC] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[BUGFIX] Add localized "archive" variables to archivebot.py
  pywikibot/page/_pages.py
  pywikibot/userinterfaces/transliteration.py
  scripts/archivebot.py
Due: framework, scripts

[BUGFIX] Allow Exception as parameter of pywikibot.exceptions.Error
  pywikibot/exceptions.py
Due: framework

[IMPR] decrease memory usage and improve processing speed
  scripts/archivebot.py
Due: scripts

[BUGFIX] Exit loop in PageFromFileReader if match.end() <= 0
  scripts/pagefromfile.py
Due: scripts

[IMPR] Make PageFromFileReader an abc.Generator
  scripts/pagefromfile.py
Due: scripts

[IMPR] fix isort import errors
  pywikibot/data/api/_generators.py
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
Due: framework

[backport] backport archivebot.py from master
  pywikibot/__metadata__.py
  scripts/archivebot.py
Due: framework, scripts

[dev] bump version number to 7.6.0.dev2
  pywikibot/__metadata__.py
Due: framework

[IMPR] Simplify movepages.py
  scripts/movepages.py
Due: scripts

[IMPR] fix typos in logging.py
  pywikibot/logging.py
Due: framework

[bugfix] Fix content=True in page.template()
  pywikibot/page/_pages.py
Due: framework

[tests] Circumvent CI failure
  .github/workflows/pywikibot-ci.yml
  tox.ini
Due: none

added oc (occitan) version of Vikidia
  pywikibot/families/vikidia_family.py
Due: framework

update vikidia family : add 'oc'
  pywikibot/families/vikidia_family.py
Due: framework

Revert "[tests] Circumvent CI failure"
  .github/workflows/pywikibot-ci.yml
  tox.ini
Due: none

[bugfix] Fix for DiscussionPage.size()
  scripts/archivebot.py
Due: scripts

[IMPR] do not test internal implementation in tests
  tests/pagegenerators_tests.py
  tests/site_tests.py
Due: tests

[IMPR] Skip the page if it does not exist
  scripts/archivebot.py
Due: scripts

[sphinx] Require sphinx >= 5.1.1
  docs/conf.py
  docs/requirements-py3.txt
Due: none

[tests] Temporary skip memento doc tests
  tox.ini
Due: none

[bugfix]: fix partial caching in Category.subcategories()
  pywikibot/page/_pages.py
  tests/category_tests.py
Due: framework, tests

[tests] Fix flake8 version 5 dependency
  dev-requirements.txt
  pywikibot/data/api/_generators.py
  pywikibot/data/api/_requests.py
  pywikibot/site/_upload.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/replace.py
  setup.py
  tox.ini
Due: framework, scripts

[tests] Increase timeout for memento doc tests
  pywikibot/data/memento.py
  tox.ini
Due: framework

[tests] Setup default (color) format for flake8
  tox.ini
Due: none

[doc] Expand module index
  docs/api_ref/pywikibot.comms.rst
  docs/api_ref/pywikibot.config.rst
  docs/api_ref/pywikibot.data.rst
  docs/api_ref/pywikibot.families.rst
  docs/api_ref/pywikibot.page.rst
  docs/api_ref/pywikibot.pagegenerators.rst
  docs/api_ref/pywikibot.rst
  docs/api_ref/pywikibot.site.rst
  docs/api_ref/pywikibot.specialbots.rst
  docs/api_ref/pywikibot.tools.rst
  docs/api_ref/pywikibot.userinterfaces.rst
  docs/conf.py
Due: none

[doc] Expand module index for logging, scripts, site and time module
  docs/api_ref/pywikibot.rst
  docs/api_ref/pywikibot.site.rst
  docs/conf.py
Due: none

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
