Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

Revert "[tests] add flags to codecov.yml"
  .codecov.yml
Due: none

[tests] re-enable flags with codecov.yml
  .codecov.yml
Due: none

[IMPR] use pathlib to extract filename and file_package
  pwb.py
Due: none

[bugfix] Fix XMLDumpPageGenerator usage
  scripts/replace.py
Due: scripts

[tests] add missing flags paths
  .codecov.yml
Due: none

[tests] Don't use werkzeug 2.1
  dev-requirements.txt
Due: none

[R1705] remove unecessary "else" after "return"
  scripts/dataextend.py
Due: scripts

[IMPR] use default -always option instead of -ask
  scripts/dataextend.py
Due: scripts

[tests] Fix werkzeug dependency
  dev-requirements.txt
Due: none

[bugfix]: Do not delete text when updating a Revision
  pywikibot/data/api.py
  tests/basepage.py
Due: framework, tests

[IMPR] Some improvements for dataextend.py
  scripts/dataextend.py
Due: scripts

[bugfix] Expand simulate query result
  pywikibot/data/api.py
Due: framework

[bugfix] Use stream_output for messages inside input method
  pywikibot/userinterfaces/terminal_interface_base.py
Due: framework

[doc] Add all supported colors to doc
  pywikibot/userinterfaces/terminal_interface_base.py
Due: framework

[doc] Add set_interface to all
  pywikibot/bot.py
Due: framework

[IMPR] use BaseBot.treat to process the ItemPage
  scripts/dataextend.py
Due: scripts

[IMPR] Add a -showonly option to only show claims of an ItemPage
  scripts/dataextend.py
Due: scripts

[IMPR] Use DequeGenerator for propstodo
  scripts/dataextend.py
Due: scripts

Revert "[IMPR] use pg.XMLDumpPageGenerator in replace.py"
  scripts/replace.py
Due: scripts

[bugfix]: fix Page.revisions() with starttime
  pywikibot/page/_pages.py
  tests/page_tests.py
Due: framework, tests

[doc] Update ROADMAP.rst and CHANGELOG.md
  HISTORY.rst
  ROADMAP.rst
  scripts/CHANGELOG.md
Due: scripts

[7.1.1] Fix regression of XmlDumpPageGenerator
  pywikibot/__metadata__.py
  scripts/replace.py
Due: framework, scripts

[IMPR] add -quiet option to omit message when no change was made
  scripts/replace.py
Due: scripts

[W0048] Merge 'if' statements
  pywikibot/comms/http.py
  pywikibot/page/_pages.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/site/_upload.py
  pywikibot/site_detect.py
  pywikibot/specialbots/_upload.py
  scripts/checkimages.py
  scripts/coordinate_import.py
  scripts/download_dump.py
  scripts/imagetransfer.py
  scripts/interwiki.py
  scripts/interwikidata.py
Due: framework, scripts

[bugfix] Fix isbn messages
  pywikibot/fixes.py
Due: framework

[doc] Fix sphinx doc
  docs/glossary.rst
  docs/scripts_ref/scripts.archive.rst
  docs/scripts_ref/scripts.rst
Due: none

[cleanup] Remove unused xmlreader.XmlParserThread
  pywikibot/xmlreader.py
Due: framework

[IMPR] Deprecate XMLDumpOldPageGenerator in favour of a 'content' parameter
  pywikibot/pagegenerators.py
Due: framework

[bugfix] Ingnore bloomberg captcha
  scripts/reflinks.py
Due: scripts

[bugfix] use uppercased IP user titles
  pywikibot/page/_links.py
Due: framework

[IMPR] Port CommonsDelinker to core
  docs/scripts/unsorted.rst
  docs/scripts_ref/scripts.rst
  scripts/README.rst
  scripts/delinker.py
  scripts/image.py
  tests/script_tests.py
Due: tests, scripts

[L10N] use page_from_repository() method in checkimages.py
  scripts/checkimages.py
Due: scripts

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
