Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[bugfix] fix neutral additive element
  scripts/blockpageschecker.py
Due: scripts

[cleanup] cleanup Site.merge_history()
  pywikibot/page/_page.py
  pywikibot/site/_apisite.py
Due: framework

[doctests] L2.claims.keys() sequence has changed
  pywikibot/page/_wikibase.py
Due: framework

[cleanup] Cleanup MW version dependency in Site.notifications
  pywikibot/site/_extensions.py
Due: framework

[bugfix] fix call of wrapper.py script in pwb.py caller
  pwb.py
  pywikibot/config.py
  pywikibot/scripts/wrapper.py
Due: framework

[IMPR] Keep Python 2.7 compatibility with pwb.py caller script
  pwb.py
Due: none

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

build: Add flake8-py39
  tox.ini
Due: none

[tests] Update coveragerc
  .coveragerc
Due: none

[coverage] ignore some make_dist code for coverage
  make_dist.py
Due: none

[cleanup] ignore legacy throttle format.
  pywikibot/throttle.py
Due: framework

[fix] Add shebang to pwb.py caller script
  make_dist.py
  pwb.py
Due: none

[fix] use __file__ to calculate the pwb.py origin path
  pwb.py
Due: none

[doc] Update documentatin of Category.members() and Category.categoryinfo
  pywikibot/page/_category.py
Due: framework

[IMPR] Allow all Site.categorymembers() parameters for Category.subcategories()
  pywikibot/page/_category.py
  tests/category_tests.py
Due: framework, tests

[coverage] Exclude ImportError from coverage
  .coveragerc
Due: none

[fix] Fix UserWarning: Site objects have been created before arguments handled
  pywikibot/bot.py
Due: framework

[FIX] Fix string concatenation in interwiki.py
  scripts/interwiki.py
Due: scripts

[IMPR] Refactor delete.main() function
  scripts/delete.py
Due: scripts

[sphinx] hide object path in Sphinx
  docs/conf.py
  docs/requirements.txt
Due: none

[doc] Use Python 3.7 as basepython for doc tests
  .codecov.yml
  docs/requirements.txt
  pywikibot/backports.py
  tox.ini
Due: framework

[doc] Add rstcheck --version
  tox.ini
Due: none

[BUGFIX] re-enable running scripts in userscripts folder via pwb wrapper
  pywikibot/scripts/wrapper.py
Due: framework

[DOC] update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[tests] Test Pywikibot with Python 3.12
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[IMPR] get 'PYWIKIBOT_TEST_PROD_ONLY' outside the loop
  tests/aspects.py
Due: tests

[tests] Add oauth tests to github action
  .github/workflows/oauth_tests-ci.yml
Due: none

[coverage] Ignore UI status from coverage
  pywikibot/data/api/_login.py
Due: framework

[tests] Remove unsupported description
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
Due: none

[tests] Update Pywikibot CI
  .github/workflows/pywikibot-ci.yml
Due: none

[test] Fix User.usercontribs test
  tests/user_tests.py
Due: tests

[tests] Enable oauth_tests.py
  .github/workflows/oauth_tests-ci.yml
  tests/__init__.py
  tests/oauth_tests.py
Due: tests

[tests] Enable Appveyor tests with Python 3.11
  .appveyor.yml
Due: none

[test] Run login tests even main tests were no successful
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
Due: none

[doc] Fix version hints
  pywikibot/site/_siteinfo.py
  pywikibot/time.py
  pywikibot/tools/__init__.py
  pywikibot/tools/itertools.py
  scripts/checkimages.py
Due: framework, scripts
