Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[i18n] update known_languages doctest
  pywikibot/i18n.py
Due: framework

[fix] use filter_unique() in Site.alllinks() for MW >= 1.43
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: framework, tests

[tests] Use subTest for TestSiteGenerators.test_all_links
  tests/site_generators_tests.py
Due: tests

[IMPR] add a new -usernames option to scripts.version.py
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  pywikibot/scripts/version.py
Due: framework

[bugfix] circumvent problems with unique and prefix parameters (T359425)
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: framework, tests

[bugfix] use alfrom instead of alstart option un alllinks()
  pywikibot/site/_generators.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[IMPR] Respect 'text-contains' from fixes dictionaries
  scripts/replace.py
Due: scripts

[fix] Increase read timeout for alllinks tests.
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: framework, tests

[bugfix] cleanup ReplaceRobot.treat(), move statements outside the loop
  scripts/replace.py
Due: scripts

[IMPR] Permit strings as exceptions for fixes
  scripts/replace.py
Due: scripts

Fix typos within docstrings
  pywikibot/_wbtypes.py
  pywikibot/page/_filepage.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_generators.py
  scripts/replace.py
Due: framework, scripts

[9.1] Publish Pywikibot 9.1
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
  tests/pagegenerators_tests.py
Due: framework, tests, scripts

[doc] Fix table syntax
  CONTENT.rst
  pywikibot/CONTENT.rst
Due: framework

[9.2] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] Do not show version hints with -help option in make_dist.py
  make_dist.py
Due: none

[bugfic] Fix wikibase_(edit_)tests
  tests/wikibase_edit_tests.py
  tests/wikibase_tests.py
Due: tests

[tests] Add two edit tests for WbTime
  tests/wikibase_edit_tests.py
Due: tests

[tests} Update change-string-case-action to v6
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
Due: none

[tests] Show user rights if UserRightsError is raised during tests
  pywikibot/site/_decorators.py
  tests/site_decorators_tests.py
Due: framework, tests

Add support for new wikis
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Revert "[IMPR] add a new -usernames option to scripts.version.py"
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  pywikibot/scripts/version.py
Due: framework

[9.1.1] Publish Pywikibot 9.1.1
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: framework

[9.2] Update Pywikibot 9.2
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: framework

[doc] Update AUTHORS.rst
  AUTHORS.rst
Due: none

[IMPR] provide -nouser option with version.py
  pywikibot/scripts/version.py
Due: framework

[doc] colorize version directives
  docs/_static/css/pywikibot.css
Due: none

[doc] add missing commas
  HISTORY.rst
Due: none

[tests] add site informaton to UserRightsError
  pywikibot/site/_decorators.py
Due: framework

[doc] fix spelling mistakes
  HISTORY.rst
  pywikibot/tools/_deprecate.py
Due: framework

[tests] run write tests with Pywikibot-test account
  .github/workflows/write_tests-ci.yml
Due: none

[tests] Add login information to write_tests-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[doc] update sphinx requirements
  docs/conf.py
  docs/requirements.txt
Due: none

[doc] update copyright string
  pywikibot/__metadata__.py
Due: framework

[IMPR] Avoid empty blocks in textlib
  pywikibot/textlib.py
Due: framework

[tests] use subTest in xmlreader_tests.py and avoid code duplication
  tests/xmlreader_tests.py
Due: tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
