Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[7.2] Publish Pywikibot 7.2.0
  pywikibot/__metadata__.py
Due: framework

[7.3] Prepare next release 7.3
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.md
  scripts/__init__.py
Due: framework, scripts

[IMPR] Enable short creation of a site if family name is equal to site code
  pywikibot/__init__.py
  pywikibot/data/sparql.py
  pywikibot/family.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_apisite.py
  pywikibot/specialbots/_upload.py
  scripts/checkimages.py
  scripts/data_ingestion.py
  scripts/harvest_template.py
  scripts/illustrate_wikidata.py
  scripts/maintenance/sorting_order.py
  tests/i18n_tests.py
  tests/page_tests.py
  tests/site_tests.py
  tests/wikibase_edit_tests.py
  tests/wikibase_tests.py
Due: framework, tests, scripts

[bugfix] Do not delegate logging output to the root logger
  pywikibot/bot.py
Due: framework

[bugfix] Do not print log header twice in log files
  pywikibot/bot.py
Due: framework

[tests] remove dataextend.py from coverage
  .codeclimate.yml
  .codecov.yml
Due: none

[dist] Update dist settings
  AUTHORS.rst
  CONTENT.rst
  docs/credits.rst
  setup.py
Due: none

[tests] ecoreality.org no longer exists
  tests/site_detect_tests.py
Due: tests

[tests] Fix for file_tests.TestShareFiles.test_on_both
  tests/file_tests.py
  tox.ini
Due: tests

Add get_charset_from_content_type
  pywikibot/comms/http.py
  scripts/reflinks.py
  tests/http_tests.py
Due: framework, tests, scripts

[IMPR]: make IndexPage more robust when getting links in Page ns
  pywikibot/proofreadpage.py
Due: framework

flke8-printing: 5.0.0 renamed error codes so list both
  pywikibot/scripts/shell.py
  pywikibot/userinterfaces/_interface_base.py
  tests/__init__.py
  tox.ini
Due: framework, tests

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[IMPR] use exc_info=True with pywikibot.exception() by default
  pywikibot/bot.py
  pywikibot/logging.py
  pywikibot/scripts/generate_family_file.py
  pywikibot/specialbots/_upload.py
  scripts/archivebot.py
  scripts/category.py
  scripts/category_redirect.py
  scripts/checkimages.py
  scripts/commonscat.py
  scripts/cosmetic_changes.py
  scripts/dataextend.py
  scripts/djvutext.py
  scripts/download_dump.py
  scripts/fixing_redirects.py
  scripts/interwiki.py
  scripts/maintenance/cache.py
  scripts/movepages.py
  scripts/pagefromfile.py
  scripts/parser_function_count.py
  scripts/redirect.py
  scripts/reflinks.py
  scripts/replace.py
  scripts/revertbot.py
  scripts/watchlist.py
  scripts/welcome.py
  tests/aspects.py
  tests/ui_tests.py
Due: framework, tests, scripts

[bugfix] clear _sites cache if called with pwb wrapper
  pywikibot/bot.py
  tests/__init__.py
  tests/reflinks_tests.py
  tests/replacebot_tests.py
Due: framework, tests

[bugfix] close handlers before deleting them
  pywikibot/bot.py
Due: framework

[tests] run login_tests action for master only
  .github/workflows/login_tests-ci.yml
Due: none

[bugfix] Preserve more workers than families are handled
  scripts/maintenance/preload_sites.py
Due: scripts

[doc] Note regex usage of referencesSections
  scripts/noreferences.py
Due: scripts

[doc] update ROADMAP.rst
  ROADMAP.rst
Due: none

[bugfix] do not use old color format for transliterated chars
  pywikibot/bot_choice.py
  pywikibot/tools/formatter.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/commons_information.py
  scripts/listpages.py
  tests/tools_formatter_tests.py
  tests/ui_tests.py
Due: framework, tests, scripts

[IMPR] Add a -nopreload option to replace.py
  scripts/replace.py
Due: scripts

[cleanup] Remove DIRECTORIES.rst
  pywikibot/DIRECTORIES.rst
Due: framework

[IMPR] add a tiny cache wrapper
  pywikibot/comms/eventstreams.py
  pywikibot/flow.py
  pywikibot/logentries.py
  pywikibot/page/_pages.py
  pywikibot/page/_wikibase.py
  pywikibot/proofreadpage.py
  pywikibot/site/_basesite.py
  pywikibot/tools/__init__.py
  tests/tools_tests.py
Due: framework, tests

[IMPR] use linktrail via siteinfo
  .codecov.yml
  docs/scripts/maintenance.rst
  docs/scripts_ref/scripts.maintenance.rst
  pywikibot/family.py
  pywikibot/scripts/generate_family_file.py
  pywikibot/site/_apisite.py
  scripts/README.rst
  scripts/maintenance/update_linktrails.py
  tests/site_tests.py
  tests/utils.py
Due: framework, tests, scripts

[bugfix] Improve get_charset_from_content_type function
  pywikibot/comms/http.py
  tests/http_tests.py
Due: framework, tests

[IMPR] Increase minimum workers
  scripts/maintenance/preload_sites.py
Due: scripts

[IMPR] Use Page.extlinks() to get external links
  scripts/weblinkchecker.py
Due: scripts

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
