Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

Wrap DOT-string in curly braces in category_graph.py
  scripts/category_graph.py
Due: scripts

Fix pywikibot.i18n.known_languages
  pywikibot/i18n.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] Use re.sub instead of replaceExcept with empty exception list
  scripts/delinker.py
Due: scripts

[doc] Update ROADMAP.rst and some documentation
  ROADMAP.rst
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[tests] expect TestScriptGenerator to fail for mage.py script
  tests/script_tests.py
Due: tests

[bugfix] Handle missing SDC mediainfo
  pywikibot/page/_collections.py
  pywikibot/page/_wikibase.py
  tests/file_tests.py
Due: framework, tests

[tests] Don't cover code with Python 3.13
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[tests] Fix task ids
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[doc] Fix misspelling
  tests/script_tests.py
Due: tests

[tests] Speedup script_tests
  tests/script_tests.py
Due: tests

[tests] 'user' does not have to be in groups of API:Allusers
  tests/site_generators_tests.py
Due: tests

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[8.4.0.dev3] Update master branch
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/site/_apisite.py
Due: framework

[8.3.3] Publish Pywikibot 8.3.3
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/i18n.py
  pywikibot/site/_apisite.py
  tests/site_tests.py
Due: framework, tests

[IMPR] fix inconsistent return statement
  pywikibot/flow.py
Due: framework

[tests] fix unittest call
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[IMPR] use Site.file_extensions within checkimages.py and _upload.py
  pywikibot/specialbots/_upload.py
  scripts/checkimages.py
Due: framework, scripts

[bugfix] upcast to FilePage for a proper extension only
  pywikibot/data/api/_generators.py
  pywikibot/page/_filepage.py
  tests/pagegenerators_tests.py
Due: framework, tests

Revert "[tests] Speedup script_tests"
  tests/script_tests.py
Due: tests

[doc] Center branding text in sidebar
  docs/_static/css/pywikibot.css
Due: none

[doc] Update minimal requirements to furo 2023.9.10
  docs/requirements.txt
Due: none

[test] move doctest_skip to pytest command
  tox.ini
Due: none

[IMPR] Show a warning if Pywikibot is running with Python 3.6
  ROADMAP.rst
  docs/index.rst
  pywikibot/__init__.py
  tests/utils.py
Due: framework, tests

[tests] combine 3 textlib tests to prevent similar code blocks
  tests/textlib_tests.py
Due: tests

[cleanup] cleanup redirect methods
  ROADMAP.rst
  pywikibot/site/_apisite.py
  pywikibot/site/_basesite.py
Due: framework

[tests] Enable mypy tests
  mypy.ini
  tox.ini
Due: none

[mypy] solve some mypy issues
  pywikibot/__init__.py
  pywikibot/backports.py
Due: framework

[tests] update continue-on-error settings
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[bugfix] Site.file_extension is a property not a method
  pywikibot/specialbots/_upload.py
  scripts/checkimages.py
Due: framework, scripts

Revert "[tests] update continue-on-error settings"
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

Give visible error to user when there are no rights.
  pywikibot/data/sparql.py
  tests/sparql_tests.py
Due: framework, tests
