Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

Update cross_allowed
  pywikibot/families/wikipedia_family.py
Due: framework

[L10N] L10N updates
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] use some keyword-only parameters in _deprecate functions
  pywikibot/tools/_deprecate.py
Due: framework

[bugfix] Add missing f for ValueError in textlib._get_regexes
  pywikibot/textlib.py
Due: framework

[IMPR] decrease nested flow statements in textlib.replaceExcept
  pywikibot/textlib.py
Due: framework

[doc] Remove outdated basestring type hints
  pywikibot/textlib.py
Due: framework

[tests] Remove obsolete Python 2 unicode prefix
  tests/http_tests.py
Due: tests

[IMPR] return 'https' scheme with Family.protocol()
  pywikibot/comms/http.py
  pywikibot/data/api/_requests.py
  pywikibot/families/i18n_family.py
  pywikibot/families/osm_family.py
  pywikibot/families/vikidia_family.py
  pywikibot/families/wikihow_family.py
  pywikibot/families/wikispore_family.py
  pywikibot/family.py
  tests/http_tests.py
Due: framework, tests

[IMPR] Make textlib._get_regexes a puplic function
  pywikibot/cosmetic_changes.py
  pywikibot/textlib.py
  scripts/category.py
  scripts/replace.py
Due: framework, scripts

[IMPR] add transwikiimort script to documentation
  docs/conf.py
  docs/scripts/auxiliary.rst
  docs/scripts_ref/scripts.rst
  scripts/transwikiimport.py
Due: scripts

[doc] Adjust continued command line
  scripts/add_text.py
  scripts/category_graph.py
  scripts/coordinate_import.py
  scripts/harvest_template.py
  scripts/replace.py
  scripts/template.py
  scripts/transferbot.py
Due: scripts

[doc] Add some pg generators to documentation
  pywikibot/pagegenerators/__init__.py
Due: framework

[IMPR] improve documentation
  pywikibot/scripts/shell.py
Due: framework

[doc] update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

Fix pywikibot.i18n.known_languages
  pywikibot/i18n.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] update CONTENT.rst: win32_unicode.py was removed in Pywikibot 8
  pywikibot/CONTENT.rst
Due: framework

[IMPR] Use hashlib.file_digest with Python 3.11
  pywikibot/tools/__init__.py
  tests/tools_tests.py
Due: framework, tests

[tests] Python 3.12 fails due to deprectated datetime.utcnow() function
  .github/workflows/pywikibot-ci.yml
Due: none

[bugfix] T334378 seems solved with Python 3.12.beta
  pywikibot/site/_basesite.py
Due: framework

TextEditor.editor: Use shlex to parse editor name
  pywikibot/editor.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
