Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[tests] Fix doctest
  pywikibot/page/_filepage.py
Due: framework

[doc] Additional documentation about stopme()
  pywikibot/__init__.py
Due: framework

[FIX] Avoid error when replacement includes backslash
  pywikibot/textlib.py
Due: framework

Add support for gucwiki
  pywikibot/families/wikipedia_family.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Revert "[IMPR] flush: log the traceback when exiting by exception"
  pywikibot/comms/http.py
Due: framework

improve flush exception logging
  pywikibot/comms/http.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[doc] Fix sphinx links
  ROADMAP.rst
Due: none

[doc] Update documentation
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__init__.py
  pywikibot/comms/http.py
  pywikibot/page/_wikibase.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[tests] exclude proofwiki test on github
  tests/site_detect_tests.py
Due: tests

[tests] Skip test on proofwiki on github action
  tests/site_detect_tests.py
Due: tests

[IMPR] Add ClientError for http status 4XX
  pywikibot/comms/http.py
  pywikibot/data/api/_requests.py
  pywikibot/exceptions.py
  pywikibot/site_detect.py
Due: framework

[bugfix] load page info when creating a page if not updated previously
  pywikibot/page/_basepage.py
Due: framework

[doc] Fix documentation for Site.watched_pages
  pywikibot/site/_generators.py
Due: framework

[IMPR] Ignore talk pages with Site.watched_pages
  pywikibot/site/_generators.py
Due: framework

[tests] Ensure that login is made prior than rights are checked
  tests/aspects.py
Due: tests

[tests] use NeedRightsMixin within site_generators_tests
  tests/site_generators_tests.py
Due: tests

[tests] Update documentation of tests/tests_tests.py
  tests/tests_tests.py
Due: tests

[tests] remove pytest-httpbin due to security vulnerability
  dev-requirements.txt
  docs/tests_ref/conftest.rst
  docs/tests_ref/index.rst
  tests/aspects.py
  tests/conftest.py
Due: tests

[IMPR] Remove unnecessary "else" after return
  pywikibot/page/_wikibase.py
Due: framework

[IMPR] Do not import unneeded module
  pywikibot/date.py
Due: framework

[IMPR] use f-string instead of format method
  pywikibot/site/_basesite.py
Due: framework

[impr] clean_sandbox: Use non-substed text for es.wikibooks
  scripts/clean_sandbox.py
Due: scripts

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Improve PagesTagParser()
  pywikibot/proofreadpage.py
Due: framework

[L10N] Add support for new wiki
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] Raise NoPageError when deleting a missing Page
  pywikibot/site/_apisite.py
Due: framework

[bugfix] Update TestOwnClient tests after repository change
  tests/wikibase_tests.py
Due: tests

[doc] Update documentation
  ROADMAP.rst
  pywikibot/proofreadpage.py
  pywikibot/site/_apisite.py
Due: framework

[8.0.2] Add support for anp-wiki to stable
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  scripts/CHANGELOG.rst
  scripts/__init__.py
  scripts/clean_sandbox.py
  tests/wikibase_tests.py
Due: framework, tests, scripts

[doc] Update HISTORY.rst and CHANGELOG.rst
  HISTORY.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
Due: framework, scripts

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
