Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[IMPR] Move login.py to pywikibot/scripts folder
  docs/conf.py
  docs/utilities/scripts.rst
  docs/utilities/scripts_ref.rst
  pywikibot/CONTENT.rst
  pywikibot/scripts/login.py
  scripts/README.rst
  tests/script_tests.py
Due: framework, tests, scripts

[bugfix] Decorate test_other_wiki_prefix with expectedFailure
  tests/link_tests.py
Due: tests

Revert "[bugfix] Decorate test_other_wiki_prefix with expectedFailure"
  tests/link_tests.py
Due: tests

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[IMPR] Make BaseBot._generator_completed a public attribute
  pywikibot/bot.py
  scripts/category.py
Due: framework, scripts

[bugfix] Fix bugs in nowcommons.py
  scripts/nowcommons.py
Due: scripts

[IMPR] Fix unnecessary "else" after "return"
  pywikibot/page/_pages.py
Due: framework

[IMPR] solve W505 doc line too long (85 > 80 characters)
  scripts/dataextend.py
Due: scripts

[bugfix] Solve E1123: unexpected keyword argument in function call
  scripts/dataextend.py
Due: scripts

[IMPR] Use treat_page method in nowcommons.py
  scripts/nowcommons.py
Due: scripts

[PEP8] rename FilePage.usingPages to using_pages
  HISTORY.rst
  ROADMAP.rst
  pywikibot/page/_filepage.py
  pywikibot/pagegenerators.py
  scripts/checkimages.py
  scripts/delinker.py
  scripts/image.py
  scripts/nowcommons.py
  tests/file_tests.py
Due: framework, tests, scripts

[IMPR] Show an APIError if PetScanPageGenerator.query() fails
  pywikibot/pagegenerators.py
Due: framework

[IMPR] use Response.json() instead of json.loads(Response.text)
  pywikibot/data/sparql.py
  pywikibot/proofreadpage.py
  pywikibot/site_detect.py
  tests/http_tests.py
  tests/sparql_tests.py
Due: framework, tests

[IMPR] Move submitting while loop into submit() method
  pywikibot/site/_upload.py
Due: framework

[doc] Update eventstreams documentation
  pywikibot/comms/eventstreams.py
Due: framework

[tests] APISite.upload does not have _file_key or _offset parameters
  tests/upload_tests.py
Due: tests

[doc] Don't use Sphinx 5.0
  docs/requirements-py3.txt
Due: none

[bugfix] Solve "using variable 'infile' before assignment"
  scripts/reflinks.py
Due: scripts

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[tests] Update pep8-naming requirements
  setup.py
  tox.ini
Due: none

[tests] N802 is skipped for setUpModule/tearDownModule by settings
  tests/site_login_logout_tests.py
  tests/tk_tests.py
Due: tests

[doc] require sphinx >= 4.5, !=5.0
  docs/requirements-py3.txt
Due: none

[ui] Add Avestan transliteration
  pywikibot/userinterfaces/transliteration.py
Due: framework

[tests] Fix rstcheck usage
  tox.ini
Due: none

[IMPR] Simplify code
  pywikibot/config.py
  pywikibot/date.py
  pywikibot/editor.py
  pywikibot/page/_pages.py
  pywikibot/page/_wikibase.py
  pywikibot/proofreadpage.py
  pywikibot/scripts/generate_family_file.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/site/_apisite.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/textlib.py
  pywikibot/titletranslate.py
  scripts/archivebot.py
  scripts/category.py
  scripts/checkimages.py
  scripts/dataextend.py
  scripts/interwiki.py
  scripts/patrol.py
  scripts/solve_disambiguation.py
  scripts/welcome.py
  tests/api_tests.py
  tests/aspects.py
  tests/category_tests.py
  tests/dry_api_tests.py
  tests/edit_failure_tests.py
  tests/flow_thanks_tests.py
  tests/generate_user_files_tests.py
  tests/i18n_tests.py
  tests/interwikimap_tests.py
  tests/link_tests.py
  tests/pagegenerators_tests.py
  tests/redirect_bot_tests.py
  tests/site_tests.py
  tests/timestripper_tests.py
Due: framework, tests, scripts

[doc] Fix documentation for data_ingestion.py
  docs/conf.py
  scripts/data_ingestion.py
Due: scripts

[sphinx] Use Wikimedia color for header/footer lines
  docs/_static/Pywikibot.ico
  docs/_static/Pywikibot_MW_gear_icon.svg
  docs/_static/css/pywikibot.css
  docs/conf.py
Due: none

[tests] Set actions timeout-minutes
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[bugfix] Fix TestPreloadingGenerator.test_order test
  tests/pagegenerators_tests.py
Due: tests

[doc] update ROADMAP.rst and CHANGELOG.md
  ROADMAP.rst
  scripts/CHANGELOG.md
Due: scripts

[fix] Keep pwb.py and setup.py Python 2 compatible
  pwb.py
  setup.py
Due: none

[fix] Do not show a warning if generator is specified later
  scripts/harvest_template.py
Due: scripts

[fix] Use locale.getlocale to get the default userinterface_lang
  pywikibot/config.py
Due: framework

[doc] Add references within ROADMAP.rst
  ROADMAP.rst
  docs/conf.py
  pwb.py
  pywikibot/__init__.py
  pywikibot/bot.py
  pywikibot/exceptions.py
  pywikibot/page/_filepage.py
  pywikibot/proofreadpage.py
  setup.py
Due: framework

[dep] update requests requirements
  requirements.txt
  setup.py
Due: none

Fix spelling mistake
  pywikibot/page/_pages.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
