Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[cleanup] Improvements for TimeStripper
  pywikibot/textlib.py
Due: framework

Category graph generator: add downsize
  scripts/category_graph.py
Due: scripts

category_graph: update help
  scripts/category_graph.py
Due: scripts

category_graph: use f-strings for style
  scripts/category_graph.py
Due: scripts

[doc] Update ROADMAP.rst and HISTORY.rst
  HISTORY.rst
  ROADMAP.rst
Due: none

category_graph: cosmetic dot changes
  scripts/category_graph.py
Due: scripts

[doc] userinterface_lang is obtained from locale.getlocale by default
  docs/introduction.rst
Due: none

category_graph: add encoding
  scripts/category_graph.py
Due: scripts

[Bugfix] Fix precision not being set incorrectly.
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

[IMPR] Remove obsolete code from BaseSite.__getattr__()
  pywikibot/site/_basesite.py
Due: framework

[IMPR] ignore original exception in BaseSite.__getattr__()
  pywikibot/site/_basesite.py
Due: framework

[doc] Update documentation
  pywikibot/plural.py
  pywikibot/tools/_logging.py
  pywikibot/tools/_unidata.py
  scripts/template.py
  scripts/transferbot.py
  scripts/upload.py
Due: framework, scripts

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[Bugfix] Implement comparison for WbTime object
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

[textlib] replace addOnly parameter with add_only to be consistent
  pywikibot/textlib.py
Due: framework

[tests] add 'category_graph' to expected generator tests failures
  tests/script_tests.py
Due: tests

[tests] Use ubuntu 20.04 for Python 3.6 tests
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Use ubuntu 20.04 for Python 3.6 tests
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[Feature] Allow normalization of WbTime objects
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

[Docs] Highlight WbTime examples
  pywikibot/__init__.py
Due: framework

[Bugfix] Return NotImplemented when other is not WbTime
  pywikibot/__init__.py
  tests/wikibase_tests.py
Due: framework, tests

[IMPR] Assert internal state on Claim modifications
  pywikibot/page/_wikibase.py
Due: framework

Make some string operations robust and verbose
  pywikibot/__init__.py
  pywikibot/config.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/data/sparql.py
  pywikibot/family.py
  pywikibot/i18n.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/scripts/preload_sites.py
  pywikibot/site_detect.py
  scripts/category_redirect.py
  scripts/claimit.py
  tests/__init__.py
  tests/family_tests.py
  tests/gui_tests.py
Due: framework, tests, scripts

[bugfix] Add Timestamp.__repr__() method to unify the result
  pywikibot/time.py
Due: framework

[doc] Fix ROADMAP.rst and conf.py after merge of documentation changes
  ROADMAP.rst
  docs/conf.py
Due: none

[cleanup] Remove interwiki_putfirst from wiktionary family
  .codecov.yml
  docs/scripts/maintenance.rst
  docs/scripts_ref/scripts.maintenance.rst
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/family.py
  scripts/README.rst
  scripts/maintenance/__init__.py
  scripts/maintenance/sorting_order.py
  tests/site_tests.py
Due: framework, tests, scripts

[fix] Fix deprecation warning for NoRedirectPageBot class
  pywikibot/bot.py
Due: framework

Use re.fullmatch instead of $ at the end of regex
  pywikibot/family.py
  pywikibot/site/_siteinfo.py
  pywikibot/time.py
  pywikibot/tools/__init__.py
  scripts/dataextend.py
  scripts/reflinks.py
  scripts/upload.py
  tests/uploadscript_tests.py
Due: framework, tests, scripts

[IMPR] add some tests and documentation and simplify some code
  pywikibot/time.py
  tests/time_tests.py
Due: framework, tests

[fix] Skip invalid link titles in fixing_redirects.py
  pywikibot/page/_links.py
  scripts/fixing_redirects.py
Due: framework, scripts

[FEAT] Add parser for <pages /> tag
  pywikibot/proofreadpage.py
  tests/proofreadpage_tests.py
Due: framework, tests

CleanBot: fix named parameter `recurse`
  scripts/category.py
Due: scripts

[cleanup] Deprecate Family.maximum_GET_length() method
  pywikibot/data/api/_requests.py
  pywikibot/family.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
