Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[tests] Fix logentries_tests
  pywikibot/logentries.py
  tests/logentries_tests.py
Due: framework, tests

[IMPR] use error instead if result['error'] within Request.submit()
  pywikibot/data/api/_requests.py
Due: framework

[tests] Skip TimeoutError in page_tests and site_tests
  tests/page_tests.py
  tests/site_tests.py
Due: tests

[tests] Exclude some old code from coverage
  .coveragerc
Due: none

[tests] set runtime_version for deepsource
  .deepsource.toml
Due: none

Revert "[tests] set runtime_version for deepsource"
  .deepsource.toml
Due: none

[test] Rename deprecation_tests to tools_deprecate_tests (Part 1)
  docs/tests_ref/index.rst
  docs/tests_ref/tools_deprecate_tests.rst
  tests/__init__.py
  tests/tools_deprecate_tests.py
Due: tests

[test] Rename deprecation_tests to tools_deprecate_tests (Part 2)
  docs/tests_ref/tools_deprecate_tests.rst
Due: none

[bugfix] Fix duplicate source detection in user_add_claim_unless_exists
  pywikibot/bot.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[FEAT][FIX] Add support for blkwiki
  pywikibot/families/wikipedia_family.py
Due: framework

[bugfix] Do not rely on self.current_page.site
  pywikibot/bot.py
  scripts/harvest_template.py
  tests/harvest_templates_tests.py
Due: framework, tests, scripts

Harmonize name of harvest_templates_tests.py
  docs/tests_ref/harvest_template_tests.rst
  docs/tests_ref/index.rst
  scripts/CHANGELOG.rst
  tests/__init__.py
  tests/harvest_template_tests.py
Due: tests, scripts

[FEAT] Support harvesting time values
  pywikibot/site/_datasite.py
  scripts/harvest_template.py
  tests/harvest_template_tests.py
Due: framework, tests, scripts

[doc] update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[tests] Skip flow_edit_tests on TimeoutError
  tests/flow_edit_tests.py
Due: tests

[IMPR] Add -clear and -nodist options to make_dist.py
  make_dist.py
Due: none

[tests] Update ui_tests due to changed behaviour of Python 3.11a
  tests/ui_tests.py
Due: tests

[doc] Remove rquired external programs hint
  README.rst
Due: none

[7.5] Publish Pywikibot 7.5
  pywikibot/__metadata__.py
Due: framework

[FIX] Set successful login status for the OAuth case
  pywikibot/site/_apisite.py
Due: framework

[7.6] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] Add timestamps to HISTORY.rst
  HISTORY.rst
Due: none

[doc] Fix sphinx
  pywikibot/bot.py
  pywikibot/page/_links.py
  pywikibot/page/_pages.py
  pywikibot/site/_apisite.py
  pywikibot/time.py
  pywikibot/tools/__init__.py
Due: framework

[bugfix] Fix wrong Subject property in interwiki.py
  scripts/interwiki.py
Due: scripts

[IMPR] move tools' collection to tools.collections.py (part 1)
  pywikibot/tools/__init.py
  pywikibot/tools/collections.py
Due: framework

[IMPR] move tools' collection to tools.collections.py (part 2)
  ROADMAP.rst
  docs/api_ref/pywikibot.tools.rst
  docs/faq.rst
  pywikibot/CONTENT.rst
  pywikibot/pagegenerators.py
  pywikibot/site/_siteinfo.py
  pywikibot/tools/__init__.py
  pywikibot/tools/collections.py
  scripts/dataextend.py
  scripts/interwiki.py
  tests/pagegenerators_tests.py
  tests/utils.py
Due: framework, tests, scripts

[IMPR] move tools' itertools to tools.itertools.py
  pywikibot/tools/__init.py
  pywikibot/tools/itertools.py
Due: framework

[IMPR] move tools' itertools to tools.itertools.py (part 2)
  HISTORY.rst
  ROADMAP.rst
  docs/api_ref/pywikibot.tools.rst
  pywikibot/CONTENT.rst
  pywikibot/data/api/_paraminfo.py
  pywikibot/pagegenerators.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/tools/__init__.py
  pywikibot/tools/itertools.py
  scripts/delete.py
  scripts/maintenance/colors.py
  scripts/nowcommons.py
  scripts/template.py
  tests/tools_tests.py
Due: framework, tests, scripts

[IMPR] split pagegenerators.py into pagegenerators module
  pywikibot/CONTENT.rst
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/pagegenerators/_generators.py
  tox.ini
Due: framework

[IMPR] split pagegenerators.py into pagegenerators module (part 2)
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/pagegenerators/_generators.py
  tox.ini
Due: framework

[doc] Update pagegenerators doc
  docs/api_ref/pywikibot.pagegenerators.rst
  docs/api_ref/pywikibot.rst
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/pagegenerators/_generators.py
Due: framework

[DOC] Add missing '
  README.rst
Due: none

[IMPR] Provide a Generator wrapper class to start/restart a generator
  pywikibot/bot.py
  pywikibot/comms/eventstreams.py
  pywikibot/data/api/__init__.py
  pywikibot/data/api/_generators.py
  pywikibot/login.py
  pywikibot/page/_user.py
  pywikibot/tools/collections.py
  scripts/checkimages.py
  tests/api_tests.py
  tests/flow_thanks_tests.py
  tests/logentries_tests.py
  tests/proofreadpage_tests.py
  tests/site_tests.py
  tests/thanks_tests.py
  tox.ini
Due: framework, tests, scripts

[IMPR] Make GoogleSearchPageGenerator a abc.Generator
  pywikibot/pagegenerators/_generators.py
Due: framework

[IMPR] Make PetScanPageGenerator an abc.Generator
  pywikibot/pagegenerators/_generators.py
Due: framework
