Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[IMPR] raise TypeError instead of ValueError in Timestamp.set_timestamp
  pywikibot/time.py
Due: framework

[tests] Update CI tests
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] oauth does not have a logout function, no need to restrict parallel runs
  .github/workflows/oauth_tests-ci.yml
Due: none

[test] Improvements for oauth_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  tests/README.rst
  tests/oauth_tests.py
Due: tests

[tests] Update github actions
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Enable sphinx options with make.bat file
  docs/make.bat
Due: none

[tests] Provide a more informative AssertionError message
  tests/wikibase_tests.py
Due: tests

[doc] Fix version strings
  pywikibot/bot_choice.py
  pywikibot/config.py
  pywikibot/families/commons_family.py
  pywikibot/families/foundation_family.py
Due: framework

[doc] Use 'furo' sphinx theme instead of 'natural'
  docs/conf.py
  docs/requirements.txt
  tox.ini
Due: none

[IMPR] use roundrobin_generators to combine generators when limit is given
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
Due: framework

[IMPR] remove version hints when printing module documentation
  pywikibot/bot.py
Due: framework

[IMPR] Update _category_cf with Unicodedate 15.0.0 from Python 3.12
  pywikibot/tools/_unidata.py
Due: framework

[IMPR] Let user the choice which section to be copied
  pywikibot/scripts/generate_user_files.py
  tests/generate_user_files_tests.py
Due: framework, tests

[doc] use multiple processes to build Sphinx distribution
  tox.ini
Due: none

[tests] run pytest with deeptest-py39
  tox.ini
Due: none

[tests] Add rstcheck and sphinx checks
  tox.ini
Due: none

[doc] backport tox to tests branch
  tox.ini
Due: none

[IMPR] Ignore OSError if cache cannot be written
  pywikibot/data/api/_requests.py
  scripts/maintenance/cache.py
  tests/dry_api_tests.py
Due: framework, tests, scripts

[tests] More deterministic tests for TestScriptGenerator
  tests/script_tests.py
Due: tests

[tests] Rename meta test class to prevent pytest warnings
  tests/date_tests.py
  tests/logentries_tests.py
  tests/script_tests.py
  tests/ui_tests.py
Due: tests

[IMPR] Fix spelling mistake and don't print lang codes if force is True
  pywikibot/scripts/generate_user_files.py
Due: framework

[tests] test_patrol and test_reflinks a expected to fail
  tests/script_tests.py
Due: tests

Fix usage hint in a regex comment
  pywikibot/textlib.py
Due: framework

[tests] Update flake tests on jenkins CI
  setup.py
  tox.ini
Due: none

[IMPR] Improvements for editor
  pywikibot/config.py
  pywikibot/editor.py
  pywikibot/scripts/generate_user_files.py
Due: framework

[doc] Improve documentation look and feel
  .gitignore
  docs/Makefile
  docs/_static/css/pywikibot.css
  docs/conf.py
  docs/make.bat
  docs/requirements.txt
Due: none

[tests] Solve unexpected success with script_tests
  tests/script_tests.py
Due: tests

[docs] Improve basic content structure and navigation
  CODE_OF_CONDUCT.rst
  HISTORY.rst
  README.rst
  ROADMAP.rst
  docs/api_ref/index.rst
  docs/changelog.rst
  docs/faq.rst
  docs/framework.png
  docs/getting_help.rst
  docs/global_options.rst
  docs/index.rst
  docs/installation.rst
  docs/introduction.rst
  docs/library_usage.rst
  docs/mwapi.rst
  docs/recipes.rst
  docs/scripts/index.rst
  docs/scripts_ref/index.rst
  docs/scripts_ref/scripts.i18n.rst
  docs/scripts_ref/scripts.maintenance.rst
  docs/scripts_ref/scripts.rst
  docs/scripts_ref/scripts.userscripts.rst
  docs/tests_ref/index.rst
  docs/utilities/install.rst
  docs/utilities/scripts.rst
  docs/utilities/scripts_ref.rst
  scripts/README.rst
Due: scripts

[doc] Update Appveyor link
  README.rst
Due: none
