Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[IMPR] Print the page list immediately except pages are preloaded
  scripts/listpages.py
Due: scripts

[bugfix] Fix delete_dummy/undelete_dummy functions
  tests/deletionbot_tests.py
Due: tests

pin sseclient to < 0.0.23
  requirements.txt
  setup.py
Due: none

Sphinx: replace :note: field element with .. note:: directive
  pywikibot/data/api.py
  pywikibot/logentries.py
  pywikibot/page/_pages.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_generators.py
  pywikibot/tools/__init__.py
  scripts/category.py
Due: framework, scripts

Add support for kcgwiki to Pywikibot
  pywikibot/families/wikipedia_family.py
Due: framework

[doc] Update documentation
  pywikibot/family.py
Due: framework

[py35] Show a warning if Pywikibot is running with Python 3.5 and below
  pywikibot/__init__.py
  tests/utils.py
Due: framework, tests

[L10N] Update interwiki sorting order
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/family.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.md
  ROADMAP.rst
  scripts/CHANGELOG.md
Due: scripts

[cleanup] Remove README-conversion.rst
  CONTENT.rst
  README-conversion.rst
  scripts/CHANGELOG.md
  scripts/README.rst
  scripts/maintenance/update_script.py
  tests/__init__.py
  tests/update_script_tests.py
Due: tests, scripts

[flake8] use set comprehension instead of map
  pywikibot/page/_links.py
Due: framework

[IMPR] remove color tags from log records
  pywikibot/tools/_logging.py
Due: framework

[tests] ignore failing pg test until WD item was deleted
  tests/pagegenerators_tests.py
Due: tests

[7.3] publish Pywikibot 7.3 stable release
  pywikibot/__metadata__.py
Due: framework

[7.4] prepare next release 7.4
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.md
  scripts/__init__.py
Due: framework, scripts

Revert "[tests] ignore failing pg test until WD item was deleted"
  tests/pagegenerators_tests.py
Due: tests

[bugfix] Return gracefully from pwb.find_alternates if a folder does not exits
  pwb.py
Due: none

[fix] Fix spelling mistakes
  scripts/README.rst
  scripts/replace.py
Due: scripts

[fix] Enable installing pre-releases over stable versions
  make_dist.py
Due: none

[bugfix] Ignore KeyboardInterrupt in FamilyFileGenerator.get_params()
  pywikibot/scripts/generate_family_file.py
Due: framework

[IMPR] Improve pywikibot.Site() documentation
  pywikibot/__init__.py
Due: framework

Fix doc in APISite.blockuser
  pywikibot/site/_apisite.py
Due: framework

typo fix: successfull -> successful
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
Due: framework

need_right decorator: copyedit obsolete error message
  pywikibot/site/_decorators.py
Due: framework

apisite: fix type of editpage() `page` parameter
  pywikibot/site/_apisite.py
Due: framework

apisite: remove TODO about implementing undelete, long since done
  pywikibot/site/_apisite.py
Due: framework

Fix explanation of basesite __hash__() return
  pywikibot/site/_basesite.py
Due: framework

[doc] Fix spelling mistakes
  docs/scripts/outdated.rst
  pywikibot/page/_links.py
  scripts/delinker.py
Due: framework, scripts

[doc] remove epydoc stuff
  docs/conf.py
  pywikibot/bot_choice.py
  pywikibot/data/api.py
  pywikibot/page/_pages.py
  pywikibot/site/_datasite.py
  pywikibot/tools/_deprecate.py
  scripts/archivebot.py
  scripts/dataextend.py
  scripts/redirect.py
  scripts/replace.py
  tests/deprecation_tests.py
Due: framework, tests, scripts

[IMPR] use simple_request instead of deprecated _simple_request
  pywikibot/site/_datasite.py
  pywikibot/site/_extensions.py
Due: framework

[doc] Update ROADMAP.rst; separate Pywikibot 8 removals
  ROADMAP.rst
Due: none

[bugfix] Only remove color formats from strings
  pywikibot/tools/_logging.py
Due: framework

[dist] Show a deprecation warning when using PyMySQL < 0.7.11
  pywikibot/data/mysql.py
Due: framework

[IMPR] Move preload_sites.py to pywikibot/scripts folder
  .codecov.yml
  docs/faq.rst
  docs/scripts/maintenance.rst
  docs/scripts_ref/scripts.maintenance.rst
  docs/utilities/scripts.rst
  docs/utilities/scripts_ref.rst
  pywikibot/CONTENT.rst
  pywikibot/scripts/preload_sites.py
  scripts/README.rst
Due: framework, scripts
