Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[tests] activate windows action for CI
  .github/workflows/windows_tests.yml
Due: none

[tests] Disable flow_edit_tests.py and flow_thanks_tests.py
  tests/flow_edit_tests.py
  tests/flow_thanks_tests.py
Due: tests

[doc] update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[9.3] Publish Pywikibot 9.3
  pywikibot/__metadata__.py
Due: framework

[9.4] Prepare next release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[flow] remove flow_edit_tests.py and flow_thanks_tests.py
  docs/api_ref/flow.rst
  pywikibot/flow.py
  tests/__init__.py
  tests/flow_edit_tests.py
  tests/flow_tests.py
  tests/flow_thanks_tests.py
Due: framework, tests

[flow] add __all__ to flow module
  pywikibot/flow.py
Due: framework

[9.4] fix version string
  pywikibot/__metadata__.py
Due: framework

[tests] Fix MediaWikiSiteTestCase.test_proofreadwiki
  tests/site_detect_tests.py
Due: tests

[tests] use prompt=False for delete() method
  tests/edit_tests.py
Due: tests

[tests] add components to codecov
  .codecov.yml
Due: none

[doc] PYWIKIBOT_TEST_AUTORUN environment variable was removed
  tests/README.rst
Due: tests

[tests] run file_tests with pywikibot-oauth
  .github/workflows/oauth_tests-ci.yml
Due: none

[fix] fix oauth_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
Due: none

[tests] simplify tests collector
  tests/__init__.py
Due: tests

[tests] Add username to commons:beta
  .github/workflows/oauth_tests-ci.yml
Due: none

[tests] enable write tests for wikipedia:test and beta wikis
  .github/workflows/oauth_tests-ci.yml
Due: none

[tests] set PYTHONIOENCODING to utf-8 for windows-tests
  .github/workflows/windows_tests.yml
Due: none

make scripts with shebangs executable
  docs/_static/css/pywikibot.css
  docs/api_ref/pywikibot.rst
  scripts/maintenance/addwikis.py
  tests/version_tests.py
Due: tests, scripts

automatically upgrade python syntax
  pywikibot/backports.py
  pywikibot/page/_wikibase.py
  pywikibot/tools/_deprecate.py
  scripts/checkimages.py
  scripts/misspelling.py
  scripts/redirect.py
  scripts/solve_disambiguation.py
Due: framework, scripts

automatically sort imports
  pywikibot/bot.py
  pywikibot/logging.py
  pywikibot/page/_basepage.py
  pywikibot/page/_toolforge.py
  scripts/__init__.py
  scripts/commons_information.py
  tests/__init__.py
  tests/archivebot_tests.py
  tests/aspects.py
  tests/basesite_tests.py
  tests/category_bot_tests.py
  tests/data/fixes.py
  tests/data/set-fixes.py
  tests/djvu_tests.py
  tests/edit_tests.py
  tests/l10n_tests.py
  tests/namespace_tests.py
  tests/page_tests.py
  tests/pagegenerators_tests.py
  tests/patrolbot_tests.py
  tests/pwb_tests.py
  tests/replacebot_tests.py
  tests/script_tests.py
  tests/site_generators_tests.py
  tests/sparql_tests.py
  tests/textlib_tests.py
  tests/thanks_tests.py
  tests/timestripper_tests.py
  tests/ui_options_tests.py
  tests/ui_tests.py
  tests/utils.py
Due: framework, tests, scripts

[test] update library and script tests sets
  tests/__init__.py
Due: tests

code formatting
  CODE_OF_CONDUCT.rst
  docs/api_ref/family.rst
  docs/api_ref/i18n_plural.rst
  docs/scripts/archive.rst
  docs/scripts/categories.rst
  docs/scripts/outdated.rst
  pywikibot/CONTENT.rst
  pywikibot/proofreadpage.py
  setup.py
  tests/i18n/test/en.json
  tests/i18n/test/fr.json
  tests/i18n/test/fy.json
  tests/i18n/test/ja.json
  tests/i18n/test/nl.json
Due: framework, tests

[dev] add Python 3.14 to pypi classifiers
  pyproject.toml
Due: none

[fix] Ignore LookupError when decoding meta content
  scripts/reflinks.py
Due: scripts

Add support for new wiki
  pywikibot/families/wikipedia_family.py
Due: framework

[9.3.1] Publish Pywikibot 9.3.1
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
  scripts/__init__.py
Due: framework, scripts

[9.4] Update Pywikibot 9.4
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

Add interpreter to tox and test CI with python-all image
  tox.ini
Due: none

[CI] 2nd deeptest is for Python 3.12 not 3.9
  tox.ini
Due: none

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
