Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[tests] Update deadsnakes/action version to 3.0.1
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Update Python 3.13 tests
  .github/workflows/doctest.yml
  .github/workflows/oauth_tests-ci.yml
Due: none

[IMPR] improvement for textlib.extract_sections() function
  pywikibot/cosmetic_changes.py
  pywikibot/textlib.py
  scripts/archivebot.py
  tests/textlib_tests.py
Due: framework, tests, scripts

[IMPR] simplify list comprehension in dh()
  pywikibot/date.py
Due: framework

[tests] Increase action timeout
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[doc] Update typing hints for batched and itergroup
  pywikibot/backports.py
  pywikibot/tools/itertools.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] Global variables are declared but not used as globals
  scripts/create_isbn_edition.py
Due: scripts

[IMPR] Style changes for create_isbn_edition.py
  scripts/create_isbn_edition.py
Due: scripts

[IMPR] Use f-strings within scripts
  scripts/add_text.py
  scripts/blockpageschecker.py
  scripts/category.py
  scripts/category_redirect.py
  scripts/change_pagelang.py
  scripts/claimit.py
  scripts/commons_information.py
  scripts/commonscat.py
  scripts/coordinate_import.py
  scripts/data_ingestion.py
  scripts/dataextend.py
  scripts/delete.py
  scripts/djvutext.py
  scripts/harvest_template.py
  scripts/interwiki.py
  scripts/interwikidata.py
  scripts/listpages.py
  scripts/maintenance/cache.py
  scripts/maintenance/make_i18n_dict.py
  scripts/movepages.py
  scripts/newitem.py
  scripts/noreferences.py
  scripts/nowcommons.py
  scripts/protect.py
  scripts/redirect.py
  scripts/reflinks.py
  scripts/replace.py
  scripts/replicate_wiki.py
  scripts/revertbot.py
  scripts/solve_disambiguation.py
  scripts/speedy_delete.py
  scripts/template.py
  scripts/touch.py
  scripts/transferbot.py
  scripts/weblinkchecker.py
  scripts/welcome.py
Due: scripts

[IMRP] Simplify amend_isbn_edition
  scripts/create_isbn_edition.py
Due: scripts

[doc] Add references to tools/_deprecate.py
  pywikibot/tools/_deprecate.py
Due: framework

Remove incorrect time normalization
  pywikibot/page/_wikibase.py
Due: framework

[bugfix] Fix warning message in CheckImagesBot
  scripts/checkimages.py
Due: scripts

Revert "[Bugfix] Normalize WbTimes sent to Wikidata"
  pywikibot/__init__.py
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: framework, tests

[tests] Remove experimental flags from gh-actions except the main action
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
Due: none

[IMPR] Add WikibaseFamily and DefaultWikibaseFamily class to family.py
  pywikibot/families/commons_family.py
  pywikibot/families/lingualibre_family.py
  pywikibot/families/wikidata_family.py
  pywikibot/family.py
Due: framework

[doc] Update ROADMAP.rst
  ROADMAP.rst
  pywikibot/diff.py
  pywikibot/site/_apisite.py
Due: framework

[doc] Fix documentation in APISite.compare
  pywikibot/site/_apisite.py
Due: framework

Add support for gpewiki
  pywikibot/families/wikipedia_family.py
Due: framework

[L10N] update lalnguages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[8.2] Publish Pywikibot 8.2
  ROADMAP.rst
  docs/conf.py
  pywikibot/__metadata__.py
Due: framework

[8.3] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[bugfix] Use site.lang instead of site.code in http.user_agent()
  pywikibot/comms/http.py
  tests/utils.py
Due: framework, tests

[tests] Print additional informations at Appveyor
  .appveyor.yml
Due: none

Fix pywikibot.i18n.known_languages
  pywikibot/i18n.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Unbreak CI
  scripts/maintenance/wikimedia_sites.py
  tests/pagegenerators_tests.py
Due: tests, scripts

[FIX] Make header extraction more robust
  pywikibot/textlib.py
  tests/textlib_tests.py
Due: framework, tests

[bugfix] Only handle namespaces with pagegenerators.GeneratorFactory()
  scripts/patrol.py
Due: scripts

[IMPR] Move wbtypes to _wbtypes.py (part 1)
  pywikibot/__init.py
  pywikibot/__wbtypes.py
  pywikibot/wbtypes.py
Due: framework

[IMPR] Move wbtypes to _wbtypes.py (part 2)
  pywikibot/__init__.py
  pywikibot/_wbtypes.py
Due: framework

[IMPR] Move wbtypes to _wbtypes.py (part 3)
  pywikibot/__init__.py
  pywikibot/__wbtypes.py
  pywikibot/_wbtypes.py
  tox.ini
Due: framework

[doc] Fix module documentation for wbtypes
  pywikibot/_wbtypes.py
Due: framework

[style] reformat dataextend.py with yapf
  scripts/dataextend.py
Due: scripts
