Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[IMPR] Move BasePage to page._basepage.py (part 1)
  pywikibot/page/_basepage.py
  pywikibot/page/page.py
Due: framework

[IMPR] Move BasePage to page._basepage.py (part 2)
  pywikibot/page/_page.py
Due: framework

[IMPR] Move BasePage to page._basepage.py (part 3)
  pywikibot/CONTENT.rst
  pywikibot/page/__init__.py
  pywikibot/page/_basepage.py
  pywikibot/page/_page.py
  tox.ini
Due: framework

[IMPR] Change Meta-Wiki's sandbox default text
  scripts/clean_sandbox.py
Due: scripts

[fix] Update Toolforge hostname for version.py
  pywikibot/version.py
Due: framework

Update for Moroccan Arabic (ary)
  scripts/clean_sandbox.py
Due: scripts

[Bugfix] Copy snak IDs/hashes when using editEntity
  pywikibot/page/_wikibase.py
  tests/wikibase_edit_tests.py
Due: framework, tests

[doc] Update documentation
  pywikibot/config.py
Due: framework

decrease logging for generator wrapping
  pywikibot/bot.py
Due: framework

restore login
  scripts/touch.py
Due: scripts

simplify waiting on purge rate limit
  scripts/touch.py
Due: scripts

[doc] Update documentation
  scripts/download_dump.py
Due: scripts

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Retrieve token from response
  pywikibot/login.py
Due: framework

[feat] clean_sandbox: Configure script for some projects
  scripts/clean_sandbox.py
Due: scripts

[docs] don't use sphinxext-opengraph 0.8.0
  docs/requirements.txt
Due: none

[doc] add __doc__ for classes from LogEntryFactory
  pywikibot/logentries.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

fix B028 by adding stacklevel=2
  pywikibot/family.py
Due: framework

[IMPR] flush: log the traceback when exiting by exception
  pywikibot/comms/http.py
Due: framework

[fix] remove extra space
  pywikibot/family.py
Due: framework

Fix typo
  pywikibot/page/_basepage.py
Due: framework

[IMPR] Ignore password files
  .gitignore
  .svnprops
Due: none

[FIX] Ignore password files for svn repositories
  .svnprops
Due: none

[bugfix] Fix AttributeError
  pywikibot/page/_wikibase.py
Due: framework

Add support for azwikimedia
  pywikibot/families/wikimediachapter_family.py
Due: framework
