Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[cleanup] use type annotation for singledispatch
  pywikibot/date.py
Due: framework

[IMPR] Only delegate site methods to public Family methods
  pywikibot/site/_basesite.py
Due: framework

[tests] Add tests for sysop rights
  .github/workflows/sysop_tests-ci.yml
Due: none

[tests] update requirements for sysop-tests
  .github/workflows/sysop_tests-ci.yml
Due: none

[tests] intall pytest for sysop_tests-ci.yml
  .github/workflows/sysop_tests-ci.yml
Due: none

[tests] use -family/-lang instead of -site
  .github/workflows/sysop_tests-ci.yml
Due: none

make the output more verbose
  .github/workflows/sysop_tests-ci.yml
Due: none

[tests] do not capture outputs with sysop tests
  .github/workflows/sysop_tests-ci.yml
Due: none

[tests] merge sysop and write tests
  .github/workflows/sysop_tests-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
Due: none

[tests] set PYWIKIBOT_TEST_WRITE for write tests
  .github/workflows/sysop_write_tests-ci.yml
Due: none

Update MediaInfo editing tests
  pywikibot/families/commons_family.py
  tests/file_tests.py
Due: framework, tests

[IMPR] Raise APIError if the same error comes twice within submit loop
  pywikibot/data/api/_requests.py
Due: framework

[tests] clear pywikibot._sites instead of reallocate it
  tests/aspects.py
Due: tests

[tests] Show site if skipping tests due to missing rights
  tests/aspects.py
Due: tests

[doc] add some BaseSite methods to documentation which are delegated to family
  docs/api_ref/pywikibot.site.rst
  pywikibot/family.py
Due: framework

[doc] Update environment variables in tests documentation
  tests/README.rst
Due: tests

[doc] Add sphinx-copybutton
  docs/conf.py
  docs/requirements.txt
Due: none

[doc] fix BaseSite.protocol() method description
  docs/api_ref/pywikibot.site.rst
Due: none

[bugfix] Ignore InvalidTitleError/InvalidPageError
  scripts/interwiki.py
Due: scripts

[cleanup] use self.origin attribute instead of property
  pywikibot/interwiki_graph.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  HISTORY.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[bugfix] Use site.code instead of site.lang in interwiki.py
  scripts/interwiki.py
Due: scripts

[bugfix] Fix assertRaises tests in api_tests.py
  tests/api_tests.py
Due: tests

[tests] install bs4 for pywikibot CI tests
  .github/workflows/pywikibot-ci.yml
Due: none

Revert "[tests] install bs4 for pywikibot CI tests"
  .github/workflows/pywikibot-ci.yml
Due: none

[bugfix] use require_modules instead of has_module in proofreadpage_tests.py
  tests/aspects.py
  tests/proofreadpage_tests.py
Due: tests

[bugfix] remove content parameter of ItemPage.page_gen method
  pywikibot/proofreadpage.py
Due: framework

[IMPR] backport itertools.batched from Python 3.13
  pywikibot/backports.py
  pywikibot/tools/itertools.py
Due: framework

Populate MediaInfo._content with expected attributes when loaded
  pywikibot/page/_wikibase.py
  tests/file_tests.py
Due: framework, tests

[IMPR] Adopt error message from Python 3.13 for batched function
  pywikibot/backports.py
Due: framework
