Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[tests] move OAuthEditTest from edit_tests.py to oauth_tests.py
  tests/edit_tests.py
  tests/oauth_tests.py
Due: tests

[IMPR] Improvements for interwiki.py
  scripts/interwiki.py
Due: scripts

[tests] Add version_tests.py
  docs/tests_ref/index.rst
  docs/tests_ref/version_tests.rst
  pywikibot/version.py
  tests/data/version
  tests/version_tests.py
Due: framework, tests

[tests] upload_tests is a framework test rather than a script test
  docs/tests_ref/index.rst
Due: none

[cleanup] i18n.TranslationError was removed in Pywikibot 7
  pywikibot/exceptions.py
Due: framework

version.py: Remove line endings in getversion_nightly
  pywikibot/version.py
Due: framework

[tests] update version_tests.py
  tests/version_tests.py
Due: tests

[9.1.2] Publish Pywikibot 9.1.2
  .appveyor.yml
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/scripts/version.py
  scripts/__init__.py
Due: framework, scripts

[9.2] Restore Pywikibot 9.2 for further developing
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] fix description for version script
  pywikibot/scripts/version.py
Due: framework

[IMPR] Remove empty body
  pywikibot/textlib.py
  tests/utils.py
Due: framework, tests

[tests] update coverage for version.py
  pywikibot/version.py
  tests/version_tests.py
Due: framework, tests

WikibasePage.exists: Add tests for PropertyPage.exists.
  tests/wikibase_tests.py
Due: tests

[doc] remove .html suffix at python doc links
  docs/conf.py
Due: none

[cleanup] Deprecate total argument in -logevents; use -limit instead
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
Due: framework

update of the list of templates used in ru.wikipedia
  scripts/noreferences.py
Due: scripts

[doc] Fix spelling mistake
  pywikibot/site/_generators.py
Due: framework

[fix] retry api request on ServerError
  pywikibot/data/api/_requests.py
Due: framework

[IMPR] make Subject.get_alternative() a static method, class isn't used
  scripts/interwiki.py
Due: scripts

[IMPR] adding documentation to commons_information.py
  scripts/commons_information.py
Due: scripts

[fix] raise SectionError if a section does not exists on a page
  pywikibot/page/_basepage.py
  tests/page_tests.py
Due: framework, tests

[doc] Fix sphinx role in SparqlQuery
  pywikibot/data/sparql.py
Due: framework

[IMPR] preload pages in commons_information.py
  scripts/commons_information.py
Due: scripts

[IMPR] Use a set for lang_tmp_cat category content instead of a generator
  scripts/commons_information.py
Due: scripts

[doc] Update documentation of scripts
  scripts/change_pagelang.py
  scripts/download_dump.py
Due: scripts

[IMPR] use transclusions of Information template as default generator
  scripts/commons_information.py
Due: scripts

[doc] use `code-block` directive instead of `code`
  pywikibot/site/_generators.py
  pywikibot/specialbots/_upload.py
  pywikibot/textlib.py
Due: framework

[doc] update maintenance documentation
  scripts/maintenance/__init__.py
Due: scripts

[bugfix] Do not remove valid description parts of Information template
  scripts/commons_information.py
Due: scripts

[doc] Fix sphinx roles
  pywikibot/families/lingualibre_family.py
  pywikibot/i18n.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  setup.py
Due: framework

[doc] update ROADMAP.rst, HISTORY.rst and CHANGELOG.rst
  HISTORY.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[IMPR] Show the replacements pairs if they are incomplete as user hint
  scripts/replace.py
  tests/replacebot_tests.py
Due: tests, scripts
