Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[IMPr] use f-string instead of str.format in scripts
  scripts/archivebot.py
  scripts/blockpageschecker.py
  scripts/category.py
  scripts/checkimages.py
  scripts/clean_sandbox.py
  scripts/commonscat.py
  scripts/coordinate_import.py
  scripts/create_isbn_edition.py
  scripts/dataextend.py
  scripts/delete.py
  scripts/delinker.py
  scripts/djvutext.py
  scripts/download_dump.py
  scripts/harvest_template.py
  scripts/image.py
  scripts/imagetransfer.py
  scripts/interwiki.py
  scripts/interwikidata.py
  scripts/listpages.py
  scripts/maintenance/cache.py
  scripts/movepages.py
  scripts/newitem.py
  scripts/noreferences.py
  scripts/nowcommons.py
  scripts/parser_function_count.py
  scripts/patrol.py
  scripts/redirect.py
  scripts/reflinks.py
  scripts/replace.py
  scripts/solve_disambiguation.py
  scripts/speedy_delete.py
  scripts/transferbot.py
  scripts/transwikiimport.py
  scripts/unusedfiles.py
  scripts/watchlist.py
  scripts/weblinkchecker.py
  scripts/welcome.py
Due: scripts

[IMPR] remove "else" after return or raise
  pywikibot/comms/http.py
  pywikibot/data/superset.py
Due: framework

[IMPR] remove antipatterns
  pywikibot/data/superset.py
  pywikibot/tools/djvu.py
  scripts/maintenance/unidata.py
  scripts/touch.py
Due: framework, scripts

[tests] remove assert statements in tests/aspects.py
  tests/aspects.py
Due: tests

[pep8] remove invalid noqa pattern
  pywikibot/__init__.py
Due: framework

[IMPR] use list comprehensions in several modules
  pywikibot/bot_choice.py
  pywikibot/page/_collections.py
  pywikibot/site/_apisite.py
  scripts/dataextend.py
  scripts/patrol.py
  tests/site_tests.py
  tests/utils.py
  tests/wikibase_edit_tests.py
Due: framework, tests, scripts

[redirect] raise error explicitly in _skip_on_exception
  scripts/redirect.py
Due: scripts

[doc] update ROADMAP.rst
  ROADMAP.rst
  pywikibot/page/_page.py
Due: framework

[IMPR] Avoid backslash in repr string of WikibaseEntity
  pywikibot/__init__.py
  pywikibot/site/_basesite.py
  tests/site_tests.py
Due: framework, tests

[tests] fix warning message in http_tests.TestGetAuthenticationConfig
  tests/http_tests.py
Due: tests

Add support for new wiki
  pywikibot/families/wikimediachapter_family.py
Due: framework

[9.2.1] Add support for aewikimedia wiki and publish Pywikibot 9.2.1
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikimediachapter_family.py
Due: framework

[9.3.0d1] Update master release after 9.2.1 stable release
  HISTORY.rst
  pywikibot/__metadata__.py
Due: framework

[IMPR] remove previous error traceback when raising Error in authorship()
  pywikibot/page/_toolforge.py
Due: framework

[cleanup]] deprecate BasePage.userName() and BasePage(isIpEdit)
  pywikibot/page/_basepage.py
  scripts/clean_sandbox.py
  scripts/noreferences.py
  tests/page_tests.py
Due: framework, tests, scripts

[bugfix] Fix LexemePage doctest
  pywikibot/page/_wikibase.py
Due: framework

[fix] Ignore extension check in delinker.py scripts/delinker.py
  pywikibot/page/_filepage.py
  scripts/delinker.py
Due: framework, scripts

[tests] fix archivebot_tests for uz-wiki
  tests/archivebot_tests.py
Due: tests

[IMPR] use Page.text instead of Page.get() to get the page content.
  pywikibot/page/_page.py
Due: framework

[IMPR] Ignore SectionError in fixing_redirects.py script
  pywikibot/page/_basepage.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_apisite.py
  scripts/fixing_redirects.py
Due: framework, scripts

[IMPR] remove -wiktionary option from interwiki.py script
  scripts/interwiki.py
Due: scripts

[tests] fix doctest for main_authors
  pywikibot/page/_toolforge.py
Due: framework

[fix] Use an asterisk as sort key in ar-wiki
  pywikibot/cosmetic_changes.py
Due: framework

[tests] Skip TestShortLink tests if urlshortener-ratelimit was exceeded
  pywikibot/page/_basepage.py
  tests/page_tests.py
  tests/utils.py
Due: framework, tests

[tests] remove cached attribute from unconnectedPages tests
  pywikibot/site/_extensions.py
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
Due: framework, tests

[IMPR] show the current redirect target with redirect summary
  scripts/redirect.py
Due: scripts

[tests] skip connected page within unconnected_pages tests
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
Due: tests

Add support for new wiki
  pywikibot/families/wikivoyage_family.py
Due: framework

[doc] Fix script name
  scripts/maintenance/addwikis.py
Due: scripts

[tests] install setuptools for Python 3.12+
  .github/workflows/windows_tests.yml
Due: none

[tests] test TestInterwikidataBot.test_main for unconnected sites
  tests/interwikidata_tests.py
Due: tests

[fix] Only add lang links to page._langlinks if present in family file
  pywikibot/data/api/_generators.py
Due: framework
