Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

remove check for purge right from APISite.purgepages
  pywikibot/site/_apisite.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Add MediaInfo editLabels, AddClaim and removeClaim functions.
  pywikibot/page/_wikibase.py
  tests/file_tests.py
Due: framework, tests

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] enable vikidia:nl site
  pywikibot/families/vikidia_family.py
Due: framework

[typing] Fix some typing hints
  pywikibot/family.py
  pywikibot/logging.py
  pywikibot/proofreadpage.py
Due: framework

[FEAT] Add a filter to check if a page is redirect
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
Due: framework

[fix] check for valid family and site option after -help is processed
  pywikibot/bot.py
Due: framework

[IMPR] Filter does not have to be subclassed
  pywikibot/userinterfaces/terminal_interface_base.py
Due: framework

[tests] Revert Don't cover code with Python 3.13"
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[IMPR] solve mypy issues in tools.collections
  pywikibot/tools/collections.py
Due: framework

[IMPR] use process_cpu_count to select the default number of worker
  pywikibot/scripts/preload_sites.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[doc] require sphinxext-opengraph >= 0.9.0
  docs/requirements.txt
Due: none

[8.5] Publish Pywikibot 8.5.0
  pywikibot/__metadata__.py
Due: framework

[8.6] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] Add some version hints
  pywikibot/data/sparql.py
  pywikibot/page/_wikibase.py
  pywikibot/pagegenerators/_factory.py
Due: framework

[tests] add Python 3.12 to the Appveyor's test matrix
  .appveyor.yml
Due: none

Add support for new wikis
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
Due: framework

[IMPR] Handle canary events in comms.eventstreams
  pywikibot/comms/eventstreams.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[8.5.1] Publish Pywikibot 8.5.1
  .appveyor.yml
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: framework

[8.6] prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: framework

proofreadpage: sort page names before loading pages
  pywikibot/proofreadpage.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
