Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[tests] giveup running tests via setup
  dev-requirements.txt
  tests/README.rst
Due: tests

[tests] fix pytest call with pytest-attrib
  .github/workflows/write_tests-ci.yml
Due: none

[tests] Temove pytest-timeout dependency
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
  dev-requirements.txt
Due: none

[tests] Add coverage statistics
  .appveyor.yml
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/write_tests-ci.yml
Due: none

[bugfix] Take into account that a repository clone may have no tags
  make_dist.py
  setup.py
Due: none

Update closed_wikis
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Add transwikiimport.py script
  scripts/transwikiimport.py
  tox.ini
Due: scripts

[tsts] Skip QueryStringParamsTestCase on ServerError
  tests/http_tests.py
Due: tests

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[tests] expect transwikiimport to fail script tests
  tests/script_tests.py
Due: tests

[IMPR] Solve stylistic checks for transwikiimport.py
  AUTHORS.rst
  scripts/CHANGELOG.rst
  scripts/README.rst
  scripts/transwikiimport.py
  tox.ini
Due: scripts

[tests] pywikibot-ci action for wikipedia:test is no longer experimental
  .github/workflows/pywikibot-ci.yml
Due: none

[IMPR] Deprecate -test option in transwikiimport.py
  scripts/transwikiimport.py
Due: scripts

[IMPR] do not evaluate Site() with dict.pop() as default value
  pywikibot/comms/eventstreams.py
  scripts/interwiki.py
Due: framework, scripts

[doc] Publish textlib._get_regexes()
  pywikibot/textlib.py
Due: framework

[tests] Skip requests.exceptions.Timeout in HttpbinTestCase.fetch()
  pywikibot/comms/http.py
Due: framework

[doc] Use Sphinx >= 6.2.1
  docs/conf.py
  docs/requirements.txt
  tox.ini
Due: none

[fix] Also raise ConnectionError if caused by NameResolutionError
  pywikibot/comms/http.py
Due: framework

[FIX] do not test sys.argv[0]
  tests/make_dist_tests.py
Due: tests

make files with shebangs executable
  scripts/transwikiimport.py
  tests/site_obsoletesites_tests.py
Due: tests, scripts

fix end of file
  .appveyor.yml
Due: none

run isort
  pywikibot/userinterfaces/gui.py
  tests/site_detect_tests.py
  tests/site_tests.py
  tests/utils.py
Due: framework, tests

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[dist] use build instead of setuptools.setup() to build the distribution
  MANIFEST.in
  make_dist.py
  tests/make_dist_tests.py
Due: tests

[tests] Update site code
  tests/site_tests.py
Due: tests

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[IMPR] json.loads(json_file.read()) can be replaced with json.load(json_file)
  scripts/maintenance/make_i18n_dict.py
Due: scripts

[doc] fix documentation for transferbot.py
  scripts/transferbot.py
Due: scripts

[doc] some comments for docs/conf.py
  docs/conf.py
Due: none

[L10N] wikipedia_family: Mark akwiki as closed
  pywikibot/families/wikipedia_family.py
Due: framework

[L10M] L10N-Updates
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] Derive NoReferencesBot from AutomaticTWSummaryBot
  scripts/noreferences.py
Due: scripts

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
