Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[bugfix] Add 'yue' code_aliases to wikipedia_family.py
  docs/api_ref/family.rst
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/family.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[feat] Implement Flow topic summaries
  pywikibot/flow.py
  pywikibot/site/_extensions.py
  tests/flow_edit_tests.py
Due: framework, tests

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Add support for new wiki (btmwiktionary)
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Update HISTORY.rst and ROADMAP.rst
  HISTORY.rst
  ROADMAP.rst
Due: none

[8.3.0] Publish Pywikibot 8.3
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
Due: framework

[8.4] Prepare next release
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[IMPR] Convert URL-encoded characters also for links outside main namespace
  pywikibot/cosmetic_changes.py
Due: framework

[IMPR] use urllib.parse.unquote() for tools.chars.url2string() function
  pywikibot/tools/chars.py
Due: framework

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[bugfix] fix CosmeticChangesToolkit.cleanUpLinks
  pywikibot/cosmetic_changes.py
Due: framework

[IMPR] use inline re.IGNORECASE flag in textlib.case_escape function
  pywikibot/textlib.py
  scripts/delinker.py
  scripts/image.py
Due: framework, scripts

[i18n] use additional i18n messages with checkimages reports
  scripts/checkimages.py
Due: scripts

[IMPR] use welcome messages from WelcomeBot within CheckImagesBot
  scripts/checkimages.py
  scripts/welcome.py
Due: scripts

[sphinx] use Sphinx >= 7.1.0 and furo >= 2023.7.26
  docs/conf.py
  docs/requirements.txt
Due: none

[cleanup] Remove unused _query_continue method.
  pywikibot/data/api/_generators.py
Due: framework

[cleanup] remove "continue" parameter from siteinfo request
  pywikibot/data/api/_requests.py
  pywikibot/site/_siteinfo.py
Due: framework

[cleanup] Remove mw_version check in api.Request._add_defaults
  pywikibot/data/api/_requests.py
  tests/api_tests.py
Due: framework, tests

[bugfix] bool(pywikibot.Page()) is always True
  scripts/interwiki.py
Due: scripts

[tests] Don't use Pillow 10 with platform_machine 32
  requirements.txt
  setup.py
Due: none

[tests] Don't use Pillow 10 with PYTHON_ARCH 32 on Appveyor
  .appveyor.yml
Due: none

[doc] Show a warning for Pillow dependency of gui module
  pywikibot/editor.py
  pywikibot/userinterfaces/gui.py
Due: framework

[doc] update ROADMAP.rst and CHANGELOG.rst
  HISTORY.rst
  ROADMAP.rst
  docs/index.rst
  scripts/CHANGELOG.rst
Due: scripts

[tests] Add fixme plugin to codeclimate
  .codeclimate.yml
Due: none

[tests] update codeclimate duplication plugin
  .codeclimate.yml
Due: none

[tests] fix codeclimate duplication plugin
  .codeclimate.yml
Due: none

[doc] Adjust documentation length
  pywikibot/tools/__init__.py
  tests/tools_tests.py
Due: framework, tests

[tests] Modify fixme patterns
  .codeclimate.yml
  pywikibot/page/_collections.py
  pywikibot/page/_wikibase.py
  scripts/archivebot.py
Due: framework, scripts

[tests] Modify fixme patterns and remove false positives
  .codeclimate.yml
Due: none
