Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[tests] Remove PYWIKIBOT_TEST_GUI variable
  tests/tk_tests.py
Due: tests

[tests] create DISPLAY environment variable to run tkinter tests
  tests/tk_tests.py
Due: tests

[tests] enable automatic tk_tests
  pywikibot/config.py
  tests/tk_tests.py
Due: framework, tests

[tests] Display 1 is running on github action
  tests/tk_tests.py
Due: tests

[IMPR] Simplify _decide_encoding
  pywikibot/comms/http.py
Due: framework

[IMPR] Provide global -config option to specify the user config file name
  pwb.py
  pywikibot/bot.py
  pywikibot/config.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/mysql.py
  pywikibot/editor.py
  pywikibot/exceptions.py
  pywikibot/login.py
  pywikibot/page/_pages.py
  pywikibot/scripts/__init__.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/scripts/login.py
  pywikibot/site/_apisite.py
  pywikibot/site_detect.py
  pywikibot/specialbots/_upload.py
  scripts/__init__.py
  scripts/interwiki.py
  scripts/replicate_wiki.py
  scripts/watchlist.py
  scripts/weblinkchecker.py
  tests/pwb_tests.py
  user-config.py.sample
Due: framework, tests, scripts

[bugfix] Fix AttributeError in memento.get_closest_memento_url
  pywikibot/data/memento.py
  tests/memento_tests.py
Due: framework, tests

[tests] Not necessary to use lambda within tk_tests.py
  tests/tk_tests.py
Due: tests

[tests] Rename tk_test to gui_tests because gui module it tested
  docs/tests_ref/gui_tests.rst
  docs/tests_ref/index.rst
  tests/__init__.py
  tests/gui_tests.py
  tox.ini
Due: tests

[tess] use utils.skipping for several tests
  tests/edit_failure_tests.py
  tests/eventstreams_tests.py
  tests/pagegenerators_tests.py
  tests/site_detect_tests.py
Due: tests

[doc] Documentation for tests.utils.skipping
  tests/utils.py
Due: tests

[tests] additional tests using skipping context manager
  tests/generate_family_file_tests.py
  tests/tools_tests.py
Due: tests

[IMPR] use @staticmethod for several methods
  pywikibot/editor.py
  pywikibot/flow.py
  pywikibot/interwiki_graph.py
  pywikibot/throttle.py
  pywikibot/tools/djvu.py
  pywikibot/userinterfaces/gui.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/blockpageschecker.py
  scripts/category.py
  scripts/checkimages.py
  scripts/harvest_template.py
  scripts/interwiki.py
  scripts/patrol.py
  scripts/revertbot.py
  scripts/unusedfiles.py
  tests/aspects.py
  tests/harvest_template_tests.py
Due: framework, tests, scripts

[IMPR] create label dict directly in create_isbn_edition.py
  scripts/create_isbn_edition.py
Due: scripts

[test] Split site_tests (part 1)
  tests/site_generators_tests.py
  tests/site_test.py
Due: tests

[test] Split site_tests (part 2)
  tests/site_tests.py
Due: tests

[test] Split site_tests (part 3)
  docs/tests_ref/gui_tests.rst
  docs/tests_ref/index.rst
  docs/tests_ref/site_decorators_tests.rst
  docs/tests_ref/site_generators_tests.rst
  tests/__init__.py
  tests/site_generators_tests.py
  tests/site_tests.py
  tox.ini
Due: tests

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  docs/changelog.rst
  pywikibot/site/_generators.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[cleanup] Remove cryptography warning filter from utils.execute
  tests/utils.py
Due: tests

[coverage] Update code coverage settings
  pwb.py
  tests/api_tests.py
Due: tests

[doc] Update documentation
  pywikibot/families/lingualibre_family.py
  pywikibot/families/wikihow_family.py
  pywikibot/families/wowwiki_family.py
Due: framework

[tests] Move djvulibre library test from setUpClass to setUpModule.
  tests/djvu_tests.py
Due: tests

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] Improvements for dae module
  pywikibot/date.py
Due: framework

[IMPR] Improvement for date module
  pywikibot/date.py
Due: framework

[tests] Deactivate gui_tests on github
  .appveyor.yml
  tests/README.rst
  tests/gui_tests.py
Due: tests

[tests] Enable auto-run scripts tests on github
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Enable auto-run script tests on Appveyor
  .appveyor.yml
Due: none

Revert "[tests] Enable auto-run scripts tests on github"
  .github/workflows/pywikibot-ci.yml
Due: none

Revert "[tests] Enable auto-run script tests on Appveyor"
  .appveyor.yml
Due: none

[coverage] exclude skipTest from coverage
  .coveragerc
Due: none

[coverage] update coverage exceptions
  tests/api_tests.py
Due: tests

[tests] Enable LiveFakeUserAgentTestCase tests
  dev-requirements.txt
Due: none

[tests] Improvement for test_tests
  tests/tests_tests.py
  tests/utils.py
Due: tests

[tests] Add create_isbn_edition to auto_run_script_list
  tests/script_tests.py
Due: tests

[tests] Enable autorun tests
  .appveyor.yml
  .github/workflows/pywikibot-ci.yml
  tests/script_tests.py
  tox.ini
Due: tests

[tests] Add expected failure for autorun scripts
  tests/script_tests.py
Due: tests

[tests] Expand expected failure for autorun scripts
  tests/script_tests.py
Due: tests

[tests] Expand allowed failure for autorun scripts
  tests/script_tests.py
Due: tests

[tests] handle exceptions for autorun scripts
  tests/script_tests.py
Due: tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
