Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[requirements] Update requirements for stdnum
  requirements.txt
  setup.py
Due: none

update XmlDump and tests
  pywikibot/xmlreader.py
  tests/xmlreader_tests.py
Due: framework, tests

[IMPR] Use BuiltinNamespace enum instead of int
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_generators.py
  pywikibot/page/_basepage.py
  pywikibot/site/__init__.py
  pywikibot/site/_apisite.py
  scripts/patrol.py
Due: framework, scripts

[IMPR] Align import of NamespacesDict
  tests/cosmetic_changes_tests.py
Due: tests

[bugfix] Allow to run tests with oauth
  tests/aspects.py
Due: tests

[doc] update ROADMAP.rst, HISTORY.rst and docs/conf.py
  HISTORY.rst
  ROADMAP.rst
  docs/conf.py
Due: none

[IMPR] Use site.ratelimit for bulk purge in PurgeBot
  scripts/touch.py
Due: scripts

Pass global -nolog argument into bot script from wrapper.
  pywikibot/scripts/wrapper.py
Due: framework

[doc] update documentation
  pywikibot/site/_apisite.py
  pywikibot/tools/collections.py
Due: framework

[tests] Use urllib2<2 with Python 3.7.0 Appveyor tests
  .appveyor.yml
Due: none

[requirement] Use "Pillow >= 8.1.2, != 10.0, != 10.1"
  .appveyor.yml
  pywikibot/userinterfaces/gui.py
  requirements.txt
  setup.py
Due: framework

eventstreams: stop checking requests version
  pywikibot/comms/eventstreams.py
Due: framework

require PyMySQL >= 1.0.0
  pywikibot/data/mysql.py
  requirements.txt
  setup.py
Due: framework

[cleanup] remove code deprecated in 6.x
  ROADMAP.rst
  pywikibot/config.py
  pywikibot/exceptions.py
  pywikibot/site/_basesite.py
  pywikibot/site/_namespace.py
  pywikibot/tools/__init__.py
  pywikibot/tools/itertools.py
  tests/basesite_tests.py
  tests/site_tests.py
Due: framework, tests

replace pkg_resources with importlib.metadata and packaging
  .coveragerc
  pywikibot/backports.py
  pywikibot/scripts/wrapper.py
  pywikibot/tools/__init__.py
  setup.py
Due: framework

deprecate pywikibot.version.get_toolforge_hostname()
  ROADMAP.rst
  pywikibot/scripts/version.py
  pywikibot/version.py
Due: framework

replace collections.namedtuple with typing.NamedTuple
  pywikibot/pagegenerators/_filters.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/site/_apisite.py
  pywikibot/textlib.py
  pywikibot/throttle.py
  scripts/blockpageschecker.py
Due: framework, scripts

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Update copyright year
  pywikibot/families/incubator_family.py
  pywikibot/families/mediawiki_family.py
  pywikibot/families/meta_family.py
  pywikibot/families/outreach_family.py
  pywikibot/userinterfaces/terminal_interface.py
  tests/data/fixes.py
  tests/data/set-fixes.py
Due: framework, tests

[doc] Update copyright year
  pywikibot/families/species_family.py
  pywikibot/families/wikimania_family.py
Due: framework

Validate file path input for category_graph.py.
  AUTHORS.rst
  scripts/category_graph.py
Due: scripts

[IMPR] Add config.base_dir to scripts search path
  pywikibot/scripts/wrapper.py
Due: framework

[bugfix]: use only 'end' tags in ElementTree.iterparse
  pywikibot/xmlreader.py
Due: framework

[Feature] Add equal_instant()
  pywikibot/_wbtypes.py
  tests/wikibase_tests.py
Due: framework, tests

update typing syntax for 3.7
  ROADMAP.rst
  docs/conf.py
  pwb.py
  pywikibot/__init__.py
  pywikibot/_wbtypes.py
  pywikibot/backports.py
  pywikibot/bot.py
  pywikibot/config.py
  pywikibot/date.py
  pywikibot/family.py
  pywikibot/fixes.py
  pywikibot/i18n.py
  pywikibot/page/_basepage.py
  pywikibot/page/_collections.py
  pywikibot/page/_links.py
  pywikibot/page/_wikibase.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/plural.py
  pywikibot/proofreadpage.py
  pywikibot/scripts/i18n/__init__.py
  pywikibot/site/__init__.py
  pywikibot/site/_apisite.py
  pywikibot/textlib.py
  pywikibot/userinterfaces/__init__.py
  pywikibot/xmlreader.py
  scripts/__init__.py
  scripts/userscripts/__init__.py
  setup.py
  tests/diff_tests.py
  tests/i18n/__init__.py
  tests/pagegenerators_tests.py
  tests/pwb/__init__.py
  tests/tests_tests.py
  tests/tools_chars_tests.py
  tests/tools_tests.py
  tox.ini
Due: framework, tests, scripts

specify error code for blanket noqa
  pywikibot/editor.py
Due: framework

[IMPR] Refactor xmlreader
  pywikibot/xmlreader.py
Due: framework

pywikibot.time: add typing
  pywikibot/time.py
Due: framework

[doc] Update LICENSE
  LICENSE
Due: none

[bugfix] Check for 'from' option first
  scripts/category_graph.py
Due: scripts

[fix] do not check for installed 'importlib_metadata' and 'packaging'
  pywikibot/scripts/wrapper.py
Due: framework

[bugfix] Do not pass None to Timestamp.fromtimestampformat()
  pywikibot/pagegenerators/_factory.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
