Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[bugfix]: Popen() does not expects int in args
  pywikibot/tools/djvu.py
Due: framework

[tests] use pytest for doctest
  dev-requirements.txt
  tox.ini
Due: none

[tests] use pytest for doctest at github
  .github/workflows/doctest.yml
Due: none

[cleanup] remove outdated code of open_archive
  pywikibot/tools/__init__.py
  tests/tools_tests.py
Due: framework, tests

[tests] Remove some code parts from coverage
  make_dist.py
  pwb.py
  tests/bot_tests.py
  tests/cosmetic_changes_tests.py
  tests/i18n_tests.py
  tests/pagegenerators_tests.py
  tests/siteinfo_tests.py
  tests/textlib_tests.py
  tests/timestripper_tests.py
  tests/ui_tests.py
  tests/wikibase_tests.py
Due: tests

[bugfix] Fix missing pop() for local_args parsing
  scripts/create_isbn_edition.py
Due: scripts

[test] Specify pypy version
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Fix TestDeletionBotUser test
  tests/deletionbot_tests.py
Due: tests

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[sphinx] Do not use sphinx 5.2
  docs/requirements-py3.txt
Due: none

[sphinx] Do not use sphinx 5.2
  docs/requirements-py3.txt
  setup.py
  tox.ini
Due: none

[setup] Ignore globals from loading into metadata dict
  setup.py
Due: none

[doc] Fix ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[doc] Enable gui module to be documented
  pywikibot/userinterfaces/gui.py
  tox.ini
Due: framework

[IMPR] detach Category class to its own file
  pywikibot/page/_category.py
  pywikibot/page/_page.py
Due: framework

[IMPR] detach Category class to its own file (part 2)
  pywikibot/CONTENT.rst
  pywikibot/page/__init__.py
  pywikibot/page/_category.py
  pywikibot/page/_filepage.py
  pywikibot/page/_page.py
  pywikibot/page/_user.py
  pywikibot/page/_wikibase.py
  tox.ini
Due: framework

[cleanup] Drop support for MediaWiki < 1.27
  README.rst
  docs/index.rst
  pywikibot/data/api/_requests.py
  pywikibot/logentries.py
  pywikibot/page/_page.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  pywikibot/site_detect.py
  tests/dry_api_tests.py
  tests/logentries_tests.py
  tests/page_tests.py
  tests/site_detect_tests.py
Due: framework, tests

[tests] remove unused sites from tests in link_tests.py
  tests/link_tests.py
Due: tests

[W0120] Remove useless else clause on a loop
  pywikibot/page/_category.py
  scripts/archivebot.py
Due: framework, scripts

[tests] Use self.site attribute instead of get_site() method without parameter
  tests/link_tests.py
Due: tests

[doc] Update documentation
  .appveyor.yml
  pywikibot/version.py
  tests/README.rst
  tests/__init__.py
Due: framework, tests

[IMPR] Simplify APISite.page_can_be_edited
  pywikibot/page/_page.py
  pywikibot/site/_apisite.py
Due: framework

[doc] Update mwapi.rst
  docs/mwapi.rst
Due: none

[IMPR] Use API formatversion 2 with userinfo
  pywikibot/site/_apisite.py
Due: framework

[doc] 'cosmetic_changes-append' was already replaced
  ROADMAP.rst
Due: none

[cleanup] Remove Revision attributes deprecated with Pywikibot 4
  pywikibot/page/_revision.py
Due: framework

[doc] Use Sphinx 5.2 for bug tracker
  docs/requirements.txt
  tox.ini
Due: none

Add support for new wikis
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Update documentation
  HISTORY.rst
  README.rst
  setup.py
Due: none

[L10N] Add support for new wikis
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[7.7.1] Update stable release
  pywikibot/__metadata__.py
Due: framework
