Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[IMPR] Implement a new and easier color format for Pywikibot
  pwb.py
  pywikibot/userinterfaces/terminal_interface_base.py
Due: framework

[IMPR] Deprecate tools.formatter.color_format
  pywikibot/__init__.py
  pywikibot/bot.py
  pywikibot/bot_choice.py
  pywikibot/data/api.py
  pywikibot/diff.py
  pywikibot/logging.py
  pywikibot/specialbots/_upload.py
  pywikibot/tools/formatter.py
  scripts/category.py
  scripts/change_pagelang.py
  scripts/commons_information.py
  scripts/fixing_redirects.py
  scripts/imagetransfer.py
  scripts/interwiki.py
  scripts/maintenance/colors.py
  scripts/misspelling.py
  scripts/nowcommons.py
  scripts/reflinks.py
  scripts/revertbot.py
  scripts/speedy_delete.py
  scripts/weblinkchecker.py
  scripts/welcome.py
  tests/diff_tests.py
  tests/tools_formatter_tests.py
Due: framework, tests, scripts

[IMPR] Deprecate RedirectPageBot and NoRedirectPageBot
  pywikibot/bot.py
  pywikibot/specialbots/_unlink.py
  scripts/add_text.py
  scripts/basic.py
  scripts/commonscat.py
  scripts/cosmetic_changes.py
  scripts/fixing_redirects.py
  scripts/newitem.py
  scripts/noreferences.py
  scripts/parser_function_count.py
  scripts/redirect.py
  scripts/reflinks.py
Due: framework, scripts

[IMPR] use_disambig BaseBot attribute to hande disambig skipping
  pywikibot/bot.py
  scripts/commonscat.py
  scripts/noreferences.py
Due: framework, scripts

[IMPR] make debug layer optional
  pywikibot/__init__.py
  pywikibot/bot.py
  pywikibot/comms/eventstreams.py
  pywikibot/comms/http.py
  pywikibot/data/api.py
  pywikibot/logentries.py
  pywikibot/logging.py
  pywikibot/login.py
  pywikibot/page/_wikibase.py
  pywikibot/pagegenerators.py
  pywikibot/proofreadpage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/site/_siteinfo.py
  pywikibot/site/_tokenwallet.py
  pywikibot/site/_upload.py
  pywikibot/textlib.py
  pywikibot/throttle.py
  pywikibot/tools/__init__.py
  pywikibot/version.py
  scripts/patrol.py
  tests/ui_tests.py
Due: framework, tests, scripts

[IMPR] Remove remaining color_format usage
  pywikibot/bot_choice.py
  scripts/delinker.py
Due: framework, scripts

[bugfix] Remove multiple empty lines from archived page
  scripts/archivebot.py
Due: scripts

[IMPR] Reword add_text argument descriptions to be more succinct.
  scripts/add_text.py
  tests/add_text_tests.py
Due: tests, scripts

[IMPR] handle ParserError within xmlreader.XmlDump.parse()
  pywikibot/pagegenerators.py
  pywikibot/xmlreader.py
  scripts/redirect.py
  scripts/replace.py
  tox.ini
Due: framework, scripts

retry for internal_api_error_DBQueryTimeoutError errors
  pywikibot/data/api.py
Due: framework

[IMPR] decrease nested flow in DataExtendBot.treat
  scripts/dataextend.py
Due: scripts

[bugfix] Fix test due to changed message:
  tests/logentries_tests.py
Due: tests

[IMPR] More code improvements
  scripts/dataextend.py
Due: scripts

[bugfix] don't fix html inside syntaxhighlight parts
  pywikibot/fixes.py
Due: framework

[bugfix] Prevent circular import in tools
  pywikibot/tools/__init__.py
Due: framework

[doc] Update documentation
  pywikibot/fixes.py
Due: framework

[doc] Update documentation
  pywikibot/scripts/shell.py
  scripts/misspelling.py
Due: framework, scripts

[sphinx] Provide additional external links in sphinx
  docs/conf.py
  docs/faq.rst
  docs/installation.rst
  docs/scripts/administrative.rst
  docs/scripts/general.rst
  pywikibot/data/api.py
  pywikibot/diff.py
  pywikibot/logging.py
  pywikibot/login.py
  pywikibot/page/_filepage.py
  pywikibot/page/_pages.py
  pywikibot/page/_user.py
  pywikibot/pagegenerators.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  pywikibot/site/_siteinfo.py
  pywikibot/site/_upload.py
  pywikibot/specialbots/_upload.py
  pywikibot/textlib.py
  scripts/archivebot.py
  scripts/clean_sandbox.py
  scripts/dataextend.py
  scripts/protect.py
Due: framework, scripts

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[bugfix] import pywikibot as a whole in tools/__init__.py
  pywikibot/tools/__init__.py
Due: framework

[bugfix]: fix typo in TestSiteSysopWrite
  tests/site_tests.py
Due: tests

[bugfix] new intersection of property names
  tests/site_tests.py
Due: tests

[IMPR] make logging interface consistent
  pwb.py
  pywikibot/__init__.py
  pywikibot/cosmetic_changes.py
  pywikibot/logging.py
  pywikibot/pagegenerators.py
  scripts/archivebot.py
  scripts/category.py
  scripts/checkimages.py
  scripts/dataextend.py
  scripts/download_dump.py
  scripts/interwiki.py
  scripts/maintenance/cache.py
  scripts/maintenance/colors.py
  scripts/replicate_wiki.py
  scripts/solve_disambiguation.py
  tests/aspects.py
  tests/ui_tests.py
Due: framework, tests, scripts

[doc] update ROADMAP.rst and CHANGELOG.md
  ROADMAP.rst
  scripts/CHANGELOG.md
Due: scripts

[doc] Update sphinx doc
  docs/scripts/auxiliary.rst
  docs/scripts/categories.rst
  docs/scripts/general.rst
  docs/scripts/global.rst
  docs/scripts/images.rst
  docs/scripts/main.rst
  docs/scripts/maintenance.rst
  docs/scripts/nonedit.rst
  docs/scripts/other.rst
  docs/scripts/templates.rst
  docs/scripts/unsorted.rst
  docs/scripts/wikibase.rst
  pywikibot/textlib.py
Due: framework

[doc] fix sphinx presentation
  ROADMAP.rst
Due: none

[doc] Update documentation
  scripts/CHANGELOG.md
Due: scripts

[tests] _allowed_failures with TestScriptGenerator
  tests/script_tests.py
Due: tests

[tests] Ignore failing generator script tests
  tests/script_tests.py
Due: tests

[cleanup] Remove WikimediaSiteTestCase class
  tests/aspects.py
Due: tests

[doc] Update documentation for logging system and user interfaces
  docs/api_ref/pywikibot.rst
  docs/api_ref/pywikibot.userinterfaces.rst
  docs/scripts_ref/scripts.rst
  pywikibot/bot.py
  pywikibot/userinterfaces/__init__.py
  pywikibot/userinterfaces/buffer_interface.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[tests] Allow additional generator script tests to fail
  tests/script_tests.py
Due: tests

[doc] Update roadmap
  ROADMAP.rst
Due: none
