Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[tests] run subtest with test_unconnected_with_repo
  tests/pagegenerators_tests.py
Due: tests

[test] Test deprecation message for Site.messages()
  tests/site_tests.py
Due: tests

[IMPR] Simplify code
  pywikibot/diff.py
  pywikibot/flow.py
  pywikibot/page/_collections.py
  pywikibot/site/_apisite.py
  pywikibot/site/_datasite.py
  pywikibot/textlib.py
  pywikibot/tools/_deprecate.py
  pywikibot/tools/djvu.py
  pywikibot/version.py
  scripts/checkimages.py
  scripts/nowcommons.py
  scripts/watchlist.py
  tests/aspects.py
Due: framework, tests, scripts

[docs] Improve basic content structure and navigation
  CODE_OF_CONDUCT.rst
  HISTORY.rst
  README.rst
  ROADMAP.rst
  docs/api_ref/index.rst
  docs/changelog.rst
  docs/faq.rst
  docs/framework.png
  docs/getting_help.rst
  docs/global_options.rst
  docs/index.rst
  docs/installation.rst
  docs/introduction.rst
  docs/library_usage.rst
  docs/mwapi.rst
  docs/recipes.rst
  docs/scripts/index.rst
  docs/scripts_ref/index.rst
  docs/scripts_ref/scripts.i18n.rst
  docs/scripts_ref/scripts.maintenance.rst
  docs/scripts_ref/scripts.rst
  docs/scripts_ref/scripts.userscripts.rst
  docs/tests_ref/index.rst
  docs/utilities/install.rst
  docs/utilities/scripts.rst
  docs/utilities/scripts_ref.rst
  scripts/README.rst
Due: scripts

[doc] Update documentation about protection
  pywikibot/page/_page.py
  pywikibot/site/_apisite.py
Due: framework

Retrieve only one match
  scripts/checkimages.py
Due: scripts

[IMPR] Move data.api._login.LoginManager to login.ClientLoginManager
  pywikibot/CONTENT.rst
  pywikibot/data/api/__init__.py
  pywikibot/data/api/_login.py
  pywikibot/login.py
  pywikibot/site/_apisite.py
  tests/api_tests.py
  tests/utils.py
Due: framework, tests

[FEAT] Add a -textfile parameter to fetch the text from a file
  scripts/clean_sandbox.py
Due: scripts

[doc] fix documentation of generate_user_files
  pywikibot/scripts/generate_user_files.py
Due: framework

[doc] Fix docstring in maintenance/cache.py
  scripts/maintenance/cache.py
Due: scripts

[IMPR] use pathlib.write_text instead of codecs in daemonize.py
  pywikibot/daemonize.py
Due: framework

[IMPR] use pathlib instead of codecs for sorting_order.py
  scripts/maintenance/sorting_order.py
Due: scripts

[IMPR] use pathlib instead of codecs for reflinks.py
  scripts/reflinks.py
Due: scripts

[IMPR] use pathlib instead of codecs for replace.py
  scripts/replace.py
Due: scripts

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[bugfix]: unquote title for red-links in Index"
  pywikibot/proofreadpage.py
Due: framework

[IMPR] use pathlib instead of codecs for wikimedia_sites.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  scripts/maintenance/wikimedia_sites.py
Due: framework, scripts

[bugfix] Timestripper find month with first letter uppercase or lowercase
  pywikibot/textlib.py
Due: framework

Improve documentation for pywikibot.WbTime
  pywikibot/__init__.py
Due: framework

[7.7.2] Backport T324310 changes to stable
  docs/requirements.txt
  pywikibot/__metadata__.py
  pywikibot/bot.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/page/_wikibase.py
  pywikibot/textlib.py
  setup.py
  tests/site_detect_tests.py
  tox.ini
Due: framework, tests

[doc] Remove linecode badge, it does not work
  README.rst
Due: none

[tests] Re-add test for kb.mozillazine.org
  tests/site_detect_tests.py
Due: tests

[doc] Introduce standard colors (legacy palette) in Furo
  docs/conf.py
Due: none

[doc] Add previous, next, index, and modules links to sidebar
  docs/_static/css/pywikibot.css
  docs/_templates/page.html
Due: none

[IMPR] Create a cookie file for each account
  pywikibot/comms/http.py
  pywikibot/page/_page.py
  pywikibot/scripts/generate_family_file.py
  pywikibot/site/_apisite.py
  pywikibot/tools/__init__.py
Due: framework

[doc] Update tools' doc and add some doctests
  pywikibot/tools/__init__.py
Due: framework

Backport T324310 changes to tests
  pywikibot/textlib.py
Due: framework

[doc] Add highlighting to targeted code snippet
  docs/_static/css/pywikibot.css
Due: none

[bugfix] Only check for duplicated in Category.articles()
  pywikibot/page/_category.py
  tests/category_tests.py
Due: framework, tests
