Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

.codecov.yml:

codecov:
  bot: xqt

coverage:
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
        range: 75..95
      framework:
        range: 75..95
        flags:
          - framework
      tests:
        range: 75..95
        flags:
          - tests
      scripts:
        range: 75..95
        flags:
          - scripts
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - pywikibot/backports.py
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/version.py
    - pywikibot/userinterfaces/win32_unicode.py
    - scripts/userscripts/
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/maintenance/preload_sites.py
    - scripts/maintenance/sorting_order.py
    - scripts/maintenance/update_linktrails.py
    - scripts/maintenance/wikimedia_sites.py
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

    gitter:
      default:
        url: https://webhooks.gitter.im/e/f312b840da1c40d9f4be

flags:
  framework:
    carryforward: true
    paths:
      - pywikibot

  tests:
    carryforward: true
    paths:
      - tests

  scripts:
    carryforward: true
    paths:
      - scripts

[doc] Update references
  HISTORY.rst
  ROADMAP.rst
  docs/api_ref/index.rst
  docs/api_ref/pywikibot.rst
  docs/faq.rst
  docs/library_usage.rst
  docs/licenses.rst
  pywikibot/bot.py
  pywikibot/bot_choice.py
  pywikibot/comms/eventstreams.py
  pywikibot/data/api/_generators.py
  pywikibot/data/memento.py
  pywikibot/page/__init__.py
  pywikibot/page/_pages.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_apisite.py
  pywikibot/site/_extensions.py
  pywikibot/site/_siteinfo.py
  pywikibot/userinterfaces/__init__.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/archivebot.py
  scripts/basic.py
  scripts/blockpageschecker.py
  scripts/category_redirect.py
  scripts/change_pagelang.py
  scripts/clean_sandbox.py
  scripts/commonscat.py
  scripts/coordinate_import.py
  scripts/delinker.py
  scripts/djvutext.py
  scripts/download_dump.py
  scripts/harvest_template.py
  scripts/interwikidata.py
  scripts/nowcommons.py
  scripts/protect.py
  scripts/reflinks.py
  scripts/unusedfiles.py
  tests/utils.py
Due: framework, tests, scripts

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  pywikibot/page/_pages.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[IMPR] Preserve thread order in archive even if threads are archived later
  scripts/archivebot.py
Due: scripts

[IMPR] detach process_page function from main
  scripts/archivebot.py
Due: scripts

[IMPR] Simplify loop with itertools.pairwise
  scripts/archivebot.py
Due: scripts

[IMPR] Speed up archivebot.py a bit
  scripts/archivebot.py
Due: scripts

[tests] Remove similar code in http_tests.py
  tests/http_tests.py
Due: tests

[L10N] Update interwiki sorting order
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/family.py
Due: framework

[IMPR]: fix docstring for page.ocr() method.
  pywikibot/proofreadpage.py
Due: framework

[IMPR] backport pairwise() from Python 3.10
  pywikibot/backports.py
  scripts/claimit.py
  scripts/replace.py
  scripts/template.py
Due: framework, scripts

[bugfix] raise MalformedConfigError if 'maxarchivesize' is 0
  scripts/archivebot.py
Due: scripts

[cleanup] Remove unused archivebot.AlgorithmError
  scripts/archivebot.py
Due: scripts

[IMPR] use User:MiszaBot/config as default template
  scripts/archivebot.py
Due: scripts

[IMPR] use backported pairwise in archivebot.py
  scripts/archivebot.py
Due: scripts

[bugfix] timestripper should skip HTML elements
  pywikibot/textlib.py
  tests/timestripper_tests.py
Due: framework, tests

[tests] Add archivebot tests to auto_run_script_list
  tests/script_tests.py
Due: tests

Revert pairwise usage in several scripts
  scripts/claimit.py
  scripts/replace.py
  scripts/template.py
Due: scripts

Fix typo
  tests/script_tests.py
Due: tests

[doc] Document -inverse argument with an example
  scripts/harvest_template.py
Due: scripts

[bugfix] Pin date in memento_tests.TestMementoArchive
  tests/memento_tests.py
Due: tests

[IMPR] support *not* loading text site.preloadpages().
  pywikibot/site/_generators.py
  tests/site_tests.py
Due: framework, tests

[IMPR] refactor movepages.py
  scripts/movepages.py
Due: scripts

[FEAT] Add ability to preload categories
  pywikibot/data/api/_generators.py
  pywikibot/page/_pages.py
  pywikibot/site/_generators.py
  tests/site_tests.py
Due: framework, tests

[FEAT] Add support for pcmwiki
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] use tools.itertools.itergroup to iterate pairs of elements
  pywikibot/tools/itertools.py
  scripts/claimit.py
  scripts/replace.py
  scripts/template.py
Due: framework, scripts

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Add site methods to sphinx index
  docs/api_ref/pywikibot.comms.rst
  docs/api_ref/pywikibot.config.rst
  docs/api_ref/pywikibot.data.rst
  docs/api_ref/pywikibot.families.rst
  docs/api_ref/pywikibot.page.rst
  docs/api_ref/pywikibot.pagegenerators.rst
  docs/api_ref/pywikibot.rst
  docs/api_ref/pywikibot.site.rst
  docs/api_ref/pywikibot.specialbots.rst
  docs/api_ref/pywikibot.tools.rst
  docs/api_ref/pywikibot.userinterfaces.rst
  docs/utilities/scripts_ref.rst
  pywikibot/data/api/_requests.py
  pywikibot/families/wikihow_family.py
  pywikibot/families/wowwiki_family.py
  pywikibot/scripts/__init__.py
  pywikibot/site/_datasite.py
  pywikibot/site/_decorators.py
  pywikibot/site/_extensions.py
  pywikibot/userinterfaces/__init__.py
Due: framework

[7.6] Publish Pywikibot 7.6
  pywikibot/__metadata__.py
Due: framework

[7.7] Prepare next release Pywikibot 7.7
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[doc] Update some version hints
  ROADMAP.rst
  pywikibot/site/_generators.py
  pywikibot/textlib.py
Due: framework

[style] Fix some code style issues in dataextend.py
  scripts/dataextend.py
Due: scripts

[IMPR] Archive unsigned threads using timestamp of the next thread
  scripts/archivebot.py
  tests/archivebot_tests.py
Due: tests, scripts
