Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[doc] update archivebot documentation
  scripts/archivebot.py
Due: scripts

[IMPR] Add -sort option to sort archives by (latest) timestamp
  scripts/archivebot.py
Due: scripts

[doc] update archivebot.py documentation
  scripts/archivebot.py
Due: scripts

[IMPR] Add WikiBlame support to Pywikibot
  docs/api_ref/pywikibot.page.rst
  pywikibot/CONTENT.rst
  pywikibot/page/_pages.py
  pywikibot/page/_toolforge.py
  tests/__init__.py
  tests/wikiblame_tests.py
Due: framework, tests

[flake8] Use flake8 >= 5.0.2 with Python 3.8
  dev-requirements.txt
  setup.py
Due: none

[IMPR] use subprocess.check_call instead of run
  make_dist.py
Due: none

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] raise KeyError instead of AttributeError if FileInfo is used as Mapping
  pywikibot/page/_filepage.py
Due: framework

[doc] Reorder and split Pywikibot API Reference
  docs/_static/css/pywikibot.css
  docs/api_ref/bot.rst
  docs/api_ref/bot_choice.rst
  docs/api_ref/cosmetic_changes.rst
  docs/api_ref/daemonize.rst
  docs/api_ref/date.rst
  docs/api_ref/date_time.rst
  docs/api_ref/diff.rst
  docs/api_ref/echo.rst
  docs/api_ref/editor.rst
  docs/api_ref/exceptions.rst
  docs/api_ref/family.rst
  docs/api_ref/fixes.rst
  docs/api_ref/flow.rst
  docs/api_ref/i18n.rst
  docs/api_ref/index.rst
  docs/api_ref/iw_interwiki_graph.rst
  docs/api_ref/iw_titletranslate.rst
  docs/api_ref/logentries.rst
  docs/api_ref/logging.rst
  docs/api_ref/login.rst
  docs/api_ref/proofreadpage.rst
  docs/api_ref/pywikibot.comms.rst
  docs/api_ref/pywikibot.config.rst
  docs/api_ref/pywikibot.data.rst
  docs/api_ref/pywikibot.families.rst
  docs/api_ref/pywikibot.page.rst
  docs/api_ref/pywikibot.pagegenerators.rst
  docs/api_ref/pywikibot.rst
  docs/api_ref/pywikibot.site.rst
  docs/api_ref/pywikibot.specialbots.rst
  docs/api_ref/pywikibot.tools.rst
  docs/api_ref/pywikibot.userinterfaces.rst
  docs/api_ref/reader.rst
  docs/api_ref/site_detect.rst
  docs/api_ref/textlib.rst
  docs/api_ref/throttle.rst
  docs/api_ref/version.rst
  docs/api_ref/x_backports.rst
  pywikibot/page/_decorators.py
Due: framework

[doc] Fiy hyphen in backports
  docs/api_ref/x_backports.rst
Due: none

Pywikibot client to load ISBN related data into Wikidata
  scripts/create_isbn_edition.py
Due: scripts

[tests] Ignore some tests for create_isbn_edition.py
  tests/script_tests.py
  tox.ini
Due: tests

[doc] Use Python 3.6 to create Sphinx documentation
  docs/requirements-py3.txt
  tox.ini
Due: none

[doc] Additional badges
  README.rst
Due: none

[doc] Reorder badges, add targets
  README.rst
Due: none

[doc] Update LICENSE
  LICENSE
Due: none

[doc] Add License informations to some init files
  pywikibot/comms/__init__.py
  pywikibot/data/__init__.py
  pywikibot/families/__init__.py
  pywikibot/userinterfaces/__init__.py
Due: framework

[IMPR] Run login.py script in parallel tasks if -async option is given
  pywikibot/scripts/login.py
Due: framework

[bugfix] Enable watchlist.refresh_all for API generator access
  scripts/watchlist.py
Due: scripts

[IMPR] retrieved watchlist in parallel tasks.
  scripts/watchlist.py
Due: scripts

[IMPR] process pages in parallel tasks with -async option
  scripts/archivebot.py
Due: scripts

[pep8] PEP8 changes for create_isbn_edition.py
  scripts/create_isbn_edition.py
  setup.py
  tests/script_tests.py
  tox.ini
Due: tests, scripts

[IMPR] imprvements for create_isbn_edition.py
  scripts/create_isbn_edition.py
Due: scripts

[IMPR] Use global -verbose and -debug levels
  scripts/create_isbn_edition.py
Due: scripts

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[doc] Add documentation for recently added create_isbn_edition script
  docs/conf.py
  docs/scripts/wikibase.rst
  docs/scripts_ref/scripts.rst
  scripts/create_isbn_edition.py
Due: scripts

[L10N] Update interwiki sorting order
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/family.py
Due: framework

[IMPR] Shorten dataextend.py
  scripts/dataextend.py
Due: scripts

[IMPR] Improvements for dataextend.py
  scripts/dataextend.py
Due: scripts

[IMPR] Some improvements
  pywikibot/xmlreader.py
  scripts/dataextend.py
  tox.ini
Due: framework, scripts

[IMPR] Use http.fetch instead of urlopen in dataextend.py
  scripts/dataextend.py
Due: scripts

[IMPR] catch ServerError as a whole in reflinks.py
  scripts/reflinks.py
Due: scripts

[doc] Update test documentation
  tests/README.rst
Due: tests

[tests] Rename PYWIKIBOT_TESTS_RUNNING environment variable
  .appveyor.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  pywikibot/data/api/_requests.py
  tests/README.rst
  tests/script_tests.py
Due: framework, tests

[doc] Add description for PYWIKIBOT_TEST_AUTORUN and PYWIKIBOT_TEST_MODULES
  tests/README.rst
  tests/script_tests.py
Due: tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
