Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[bugfix] add curly brackets to notAtEnd string in textlib.compileLinkR
  pywikibot/textlib.py
Due: framework

[IMPR] Enable FilePage.download() to download thumbnails
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
  tests/file_tests.py
Due: framework, tests

[IMPR] Listpages.py: save list to a file
  scripts/listpages.py
Due: scripts

[IMPR] simplifying complex logical expression in fixing_redirects.py
  scripts/fixing_redirects.py
Due: scripts

[doc] update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: scripts

[IMPR] Print an error message if a fixes entry is not a dict
  scripts/replace.py
Due: scripts

[doc] Show a warning for FilePage.download()
  pywikibot/page/_filepage.py
Due: framework

Use append instead of list concatenation
  pywikibot/cosmetic_changes.py
  pywikibot/diff.py
  pywikibot/i18n.py
  pywikibot/page/_category.py
  pywikibot/scripts/login.py
  pywikibot/site/_siteinfo.py
  pywikibot/site/_upload.py
  pywikibot/textlib.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/listpages.py
  scripts/upload.py
Due: framework, scripts

Correct terminology around NoSiteLinkError
  pywikibot/exceptions.py
  pywikibot/page/_wikibase.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[IMPR] Improve patrol.py
  scripts/patrol.py
Due: scripts

[cleanup] Remove deprecation of private attributes and methods
  ROADMAP.rst
  pywikibot/bot.py
  pywikibot/site/_apisite.py
Due: framework

[IMPR] use f-string literals
  pywikibot/site/_apisite.py
Due: framework

[doc] Show backslash in sphinx doc
  pywikibot/tools/formatter.py
Due: framework

Add support for other types of diffs in site.compare()
  pywikibot/site/_apisite.py
Due: framework

[IMPR] backport itertools.batched() from Python 3.12
  pywikibot/backports.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/tools/__init__.py
  pywikibot/tools/itertools.py
  scripts/claimit.py
  scripts/maintenance/colors.py
  scripts/replace.py
  scripts/template.py
Due: framework, scripts

[fix] Fix TestCategoryObject.test_redirects() tests
  tests/category_tests.py
Due: tests

[doc] Update documentation for config.socket_timeout
  pywikibot/config.py
Due: framework

[bugfix] Upcast page types in pagegenerators.RecentChangesPageGenerator()
  pywikibot/pagegenerators/_generators.py
Due: framework

[cleanup] Remove -test option in favour of -simulate
  scripts/transwikiimport.py
Due: scripts

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[doc] Fix itertools.batched() explanation
  ROADMAP.rst
Due: none

[bugfix] Use 50 as default ParamInfo._limit for the first call
  pywikibot/data/api/_paraminfo.py
Due: framework

[tests] Add experimental tests for Python 3.13
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
