Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[doc] update ROADMAP.rst and CHANGELOG.md
  ROADMAP.rst
  pywikibot/cosmetic_changes.py
  scripts/CHANGELOG.md
Due: framework, scripts

[IMPR]: Allow to create Timestamp from different formats
  pywikibot/__init__.py
  pywikibot/page/_pages.py
  tests/timestamp_tests.py
Due: framework, tests

[IMPR] Move Timestamp to time.py
  pywikibot/__init.py
  pywikibot/time.py
Due: framework

Return iterators from handlers
  scripts/harvest_template.py
Due: scripts

[IMPR] Move Timestamp to time.py part 2
  pywikibot/CONTENT.rst
  pywikibot/__init__.py
  pywikibot/time.py
  tests/__init__.py
  tests/time_tests.py
  tests/utils.py
  tox.ini
Due: framework, tests

[tests] Update tst collector
  tests/__init__.py
Due: tests

[IMPR] move archivebot time parts to time module (part 1)
  pywikibot/time_.py
Due: framework

[IMPR] move archivebot time parts to time module (part 1)
  pywikibot/time_.py
  scripts/archivebot_.py
Due: framework, scripts

[IMPR] Move time parts from archivebot to time module
  pywikibot/time.py
  scripts/archivebot.py
Due: framework, scripts

[FEAT] Add inverse claims to harvested targets
  scripts/harvest_template.py
Due: scripts

[IMPR] Move time parts from archivebot to time module
  pywikibot/textlib.py
  pywikibot/time.py
  scripts/archivebot.py
  tests/archivebot_tests.py
  tests/textlib_tests.py
  tests/time_tests.py
Due: framework, tests, scripts

[IMPR] solve some linter issues
  pywikibot/time.py
  scripts/harvest_template.py
  tests/time_tests.py
Due: framework, tests, scripts

[cleanup] Remove unused MalformedConfigError from time module
  pywikibot/time.py
Due: framework

[doc] Update documentation
  ROADMAP.rst
  docs/api_ref/pywikibot.rst
  docs/tests_ref/index.rst
  docs/tests_ref/time_tests.rst
  pywikibot/time.py
  scripts/CHANGELOG.md
Due: framework, scripts

[doc] Fix version numbers
  pywikibot/textlib.py
  pywikibot/time.py
  scripts/harvest_template.py
Due: framework, scripts

[IMPR] remove TZoneUTC
  pywikibot/time.py
  scripts/archivebot.py
Due: framework, scripts

[doc] timezone class was removed
  ROADMAP.rst
Due: none

[bugfix] Fix cp encodings
  pywikibot/comms/http.py
  tests/http_tests.py
Due: framework, tests

[tests] Add harvest_templates_tests
  docs/tests_ref/harvest_templates_tests.rst
  docs/tests_ref/index.rst
  tests/__init__.py
  tests/harvest_templates_tests.py
Due: tests

[IMPR] clean up time.py
  pywikibot/time.py
Due: framework

[L10N] Update languages_by_size
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[tests] use ELLIPSIS for memento doctest for 'closest' result
  pywikibot/data/memento.py
Due: framework

[IMPR] Move tzoneFixedOffset class to time module
  pywikibot/textlib.py
  pywikibot/time.py
  tests/timestripper_tests.py
Due: framework, tests

[doc] comvert CHANGELOG.md to CHANGELOG.rst
  scripts/CHANGELOG.rst
Due: scripts

[doc] convert CHANGELOG.md to CHANGELOG.rst
  scripts/CHANGELOG.rst
Due: scripts

[tests] Ignore OSError and ServerErrors from coverage by default
  .coveragerc
  pywikibot/scripts/generate_family_file.py
  scripts/interwiki.py
Due: framework, scripts

[bugfix] Remove assert statement in api.Request.submit()
  pywikibot/data/api/_requests.py
Due: framework

Add wrapper function around wbparsevalue
  pywikibot/site/_datasite.py
  tests/wikibase_tests.py
Due: framework, tests

[doc] Update ROADMAP.rst and add some documentation changes
  ROADMAP.rst
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
Due: framework

[IMPR] Always set uselang=en for parsing parsevalue
  pywikibot/site/_datasite.py
  tests/wikibase_tests.py
Due: framework, tests

[IMPR] PEP8 updates
  scripts/dataextend.py
Due: scripts

[IMPR] Don't use too many return statements in open_archive
  pywikibot/tools/__init__.py
Due: framework

[IMPR] Avoid deeply nested control flow statements in _pages submodule
  pywikibot/page/_pages.py
Due: framework

[bugfix] Fix for memento_tests.TestMementoArchive.test_newest
  tests/memento_tests.py
Due: tests

[IMPR] Replace assertRaises with assertRaisesRegex
  tests/aspects.py
  tests/utils.py
Due: tests

[bugfix] Update TestThankRevisionErrors.test_invalid_revision test
  tests/thanks_tests.py
Due: tests

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
