Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: framework, tests, scripts

[tests] Do not install codecov package
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
Due: none

[tests] Remove obsolete sites from TestGenerateFamilyFiles test
  tests/generate_family_file_tests.py
Due: tests

[bugfix] only get HTTPStatus enum in site_detect check_response
  pywikibot/site_detect.py
  tests/site_detect_tests.py
Due: framework, tests

[tests] Skip upload entry type test on infogalactic wiki
  tests/logentries_tests.py
Due: tests

[tests] Increase timeout for script_tests.py
  tests/script_tests.py
Due: tests

[Appveyor] Don't try to run codecov on finish
  .appveyor.yml
Due: none

[tests] Fix obsolete type in TestGenerateFamilyFile
  tests/generate_family_file_tests.py
Due: tests

[tests] Only run a sample of cache tests
  scripts/maintenance/cache.py
  tests/cache_tests.py
Due: tests, scripts

[IMPR] None as default value can be omitted with dict.get()
  pywikibot/echo.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_basesite.py
Due: framework

Revert "[tests] Fix obsolete type in TestGenerateFamilyFile"
  tests/generate_family_file_tests.py
Due: tests

[bugfix] Remove sites from FamilyFileGenerator.langs on error
  pywikibot/scripts/generate_family_file.py
  tests/generate_family_file_tests.py
Due: framework, tests

[IMPR] replace some format strings with f-strings
  pywikibot/site_detect.py
Due: framework

[tests] use Q15169668 item for wikibase_tests.py
  tests/wikibase_tests.py
Due: tests

[8.1] Publish Pywikibot 8.1
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
  scripts/CHANGELOG.rst
Due: framework, scripts

[8.2] Prepare next release 8.2
  .appveyor.yml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/data/api/_requests.py
  pywikibot/site/_apisite.py
  scripts/CHANGELOG.rst
  tests/pagegenerators_tests.py
  tests/utils.py
Due: framework, tests, scripts

[coverage] Invoke codecov.sh for Appveyor
  .appveyor.yml
Due: none

[tests] Update coverage for generate_family_file.py
  pywikibot/scripts/generate_family_file.py
Due: framework

[FIX] update wowwiki Family file
  pywikibot/families/wowwiki_family.py
  tests/site_tests.py
Due: framework, tests

[coverage] Try to find coverage.xml from artifacts
  .appveyor.yml
Due: none

[FIX] fix wowwiki Family file for es-wiki
  pywikibot/families/wowwiki_family.py
Due: framework

[coverage] Ignore error codes while uploading to coverage
  .appveyor.yml
Due: none

[tests] detach site_obsolete_tests.py
  tests/site__tests.py
  tests/site_obsolete_tests.py
Due: tests

[tests] detach site_obsolete_tests.py (part 2)
  docs/tests_ref/index.rst
  docs/tests_ref/site_obsolete_tests.rst
  tests/__init__.py
  tests/site_obsolete_tests.py
  tests/site_tests.py
Due: tests

[tests] rename site_obsolete_tests.py
  docs/tests_ref/index.rst
  docs/tests_ref/site_obsolete_tests.rst
  docs/tests_ref/site_obsoletesites_tests.rst
  tests/__init__.py
  tests/site_obsoletesites_tests.py
Due: tests

[IMPR] No longer catch SyntaxError in wrapper.py script
  pywikibot/scripts/wrapper.py
Due: framework

Add support for kcgwiktionary
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

Add support for fatwikipedia
  pywikibot/families/wikipedia_family.py
Due: framework

[coverage] exclude input choices in guf from coverage
  pywikibot/scripts/generate_user_files.py
Due: framework

[L10N] update languages_by_size
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: framework

[doc] Update ROADMAP.rst
  ROADMAP.rst
Due: none

[8.2.0d1] Update to r8.2.0d1
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: framework, scripts

[IMPR] Ensure that _cmpkey method is defined in subclasses of ComparableMixin
  pywikibot/tools/__init__.py
Due: framework

[doc] Update documentation for tools
  pywikibot/tools/__init__.py
  pywikibot/tools/_deprecate.py
  pywikibot/tools/chars.py
Due: framework

Path conditions:
  framework: any of: pywikibot
  tests: any of: tests
  scripts: any of: scripts
